
<div class="footer-default">

  <!--=== Footer ===-->

  <div class="footer">
  <div class="container">
    <div class="row">

      <!-- About -->
      <div class="col-md-4 md-margin-bottom-40">
        <div class="headline">
          <h2>About</h2>
        </div>
        <p class="margin-bottom-25 md-margin-bottom-40">The United Nations Statistics Division is committed to the advancement of the global statistical system. We compile and disseminate global statistical information, develop standards and norms for statistical activities, and support countries' efforts to strengthen their national statistical systems. We facilitate the coordination of international statistical activities and support the functioning of the United Nations Statistical Commission as the apex entity of the global statistical system.</p>

      </div>
      <!-- End About -->

      <!-- UNSD Work Programme -->
      <div class="col-md-4 md-margin-bottom-40">
        <div class="headline">
          <h2>UNSD Work Programme</h2>
        </div>
        <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/class/default.asp">Statistical Classifications</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/bigdata/">Big data for official statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/sdgs/">Development indicators</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/geoinfo/">Geospatial Information</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/demographic/default.htm">Demographic and Social Statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/gender/default.html">Gender Statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/industry/default.asp">Industry Statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/trade/default.htm">Trade Statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="https://unstats.un.org/unsd/tourism/">Tourism Statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/nationalaccount/default.asp">National Accounts</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/energy/default.htm">Energy Statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/environment/default.htm">Environment Statistics</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="http://unstats.un.org/unsd/envaccounting/default.asp">Environmental-Economic Accounting</a><br></p>
      </div>
      <!--UNSD Work Programme-->

      <!-- Contact -->
      <div class="col-md-4">

        <!-- Contact Us -->
        <div class="headline">
          <h2>Contact Us</h2>
        </div>
        <address class="md-margin-bottom-40">
          <ul class="list-unstyled who">
            <li style="color:#fff;">Statistics Division</li>
            <li style="color:#fff;">United Nations</li>
            <li style="color:#fff;">New York, NY 10017</li>
            <li style="color:#fff;">United States of America</li>
            <li>
              <a href="mailto:statistics@un.org"><i class="fa fa-envelope color-green"></i>statistics@un.org</a>
            </li>
            <li style="color:#fff;"><i class="fa fa-phone"></i>Fax +1 (212) 963-9851</li>
          </ul>
        </address>
        <!-- End Contact Us -->

        <!-- Social Links -->
        <div class="headline">
          <h2>Stay Connected</h2>
        </div>
        <ul class="social-icons">
          <li>
            <a class="social_twitter" data-original-title="Twitter" href="https://twitter.com/UNStats"></a>
          </li>
        </ul>
        <!-- End Social Links -->
      </div>
      <!--End Contact-->

      </div>
    </div>
  </div>
  <!--=== End Footer ===-->

  <!--=== Page Copyright ===-->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div>
          <a href="http://www.un.org/en/aboutun/copyright/" target="_blank">&copy; @DateTime.Now.Year United Nations</a> &nbsp;&#8226;&nbsp; <a href="http://www.un.org/en/aboutun/terms/" target="_blank">Terms of Use</a> &nbsp;&#8226;&nbsp; <a href="http://www.un.org/en/aboutun/privacy/" target="_blank">Privacy Notice</a> &nbsp;&#8226;&nbsp; <a href="http://www.un.org/en/aboutun/fraudalert/" target="_blank">Fraud Alert</a>
        </div>
      </div>
    </div>
  </div>
  <!--=== End Page Copyright ===-->

</div>
