<div class="header header-v1">

  <!-- Topbar-v1 -->
  <div class="topbar-v1 margin-bottom-20 hidden-xs">

    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <div class="topbar">
          <ul class="list-unstyled top-v1-contacts">
            <!--<li>
              <a href="~/">UN-GGIM Home</a>
            </li>

            <li><i class="fa fa-angle-double-right"></i>
            </li> -->

            <li>
              <a href="http://www.un.org/">United Nations</a>
            </li>

            <li><i class="fa fa-angle-double-right"></i>
            </li>

            <li>
              <a href="http://www.un.org/desa">Department of Economic and Social Affairs</a>
            </li>

            <li><i class="fa fa-angle-double-right"></i>
            </li>

            <li>
              <a href="http://unstats.un.org/unsd/">Statistics Division</a>
            </li>
          </ul>
        </div>

        </div>

        <div class="col-sm-4">

          <!--div class="topbar">
            <ul class="list-unstyled top-v1-contacts pull-right">
              <li><a href="#">English</a></li>
              <li class="topbar-devider"></li>
              <li><a href="#">French</a></li>
              <li class="topbar-devider"></li>
              <li><a href="#">Spanish</a></li>
            </ul>
          </div-->

        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar-v1 -->


  <!-- MAIN NAVIGATION -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="https://unstats.un.org/"><img alt="UN - Statistics Division" height="37" id="logo-header" src="~/assets/img/logos/logo_StatisticsDivision.png"></a> <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="fa fa-bars"></span></button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">

          <!-- Topics menu item -->
          <li class="dropdown">
            <a href="javascript:void(0); class="dropdown-toggle" data-toggle="dropdown" ">Topics</a>

              <ul class="dropdown-menu">

              <!--li class="dropdown-submenu">
                <a href="javascript:void(0);">Capacity development</a>
              </li-->


              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Coordination</a>
                 <ul class="dropdown-menu">
                   <li>
                     <a href="http://unstats.un.org/unsd/statcom/commission.htm">Statistical Commission</a>
                   </li>
                   <li>
                     <a href="http://unstats.un.org/unsd/ccsa/">CCSA</a>
                   </li>
                   <li>
                     <a href="http://unstats.un.org/unsd/methods/inter-natlinks/sd_intstat.htm">International agencies</a>
                   </li>
                   <li>
                     <a href="http://unstats.un.org/unsd/methods/inter-natlinks/sd_natstat.asp">National Statistical Offices</a>
                   </li>
                   <li>
                     <a href="http://unstats.un.org/unsd/unsystem/index.asp">UN System Chief Statisticians</a>
                   </li>
                 </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Development indicators</a>
                 <ul class="dropdown-menu">
                   <li>
                     <a href="https://unstats.un.org/sdgs/">SDG indicators</a>
                   </li>
                   <li>
                     <a href="http://mdgs.un.org/unsd/mdg/default.aspx">MDG indicators <em>(archive)</em></a>
                   </li>
                 </ul>
              </li>

<!--
              <li class="dropdown-submenu">
                <a href="http://unstats.un.org/unsd/demographic/">Population and Society</a>
                <ul class="dropdown-menu">
                  <li><a href="https://unstats.un.org/unsd/demographic/CRVS/default.htm">Civil registration and vital statistics</a></li>
                  <li>
                    <a href="https://unstats.un.org/unsd/demographic/sconcerns/disability/default.htm">Disability statistics</a>
                  </li>
                  <li><a href="https://unstats.un.org/unsd/gender/default.html">Gender statistics</a></li>
                  <li>
                    <a href="https://unstats.un.org/iswghs/">Household surveys</a>
                  </li>
                  <li>
                    <a href="#">Migration statistics</a>
                  </li>
                  <li><a href="https://unstats.un.org/unsd/demographic/sources/census/wphc/default.htm">Population and housing census</a></li>
                  <li>
                    <a href="#">Time-use statistics</a>
                  </li>
                </ul>
              </li>
-->


              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Economy</a>
                <ul class="dropdown-menu">
                  <li><a href="https://unstats.un.org/unsd/economic_stat/Economic_Census/Compilation_of_Basic_Economic_Statistics.htm">Basic economic statistics</a></li>
                  <li><a href="https://unstats.un.org/unsd/energy/">Energy statistics</a></li>
                  <li><a href="https://unstats.un.org/unsd/industry/default.asp">Industrial statistics</a></li>
                  <li><a href="http://unstats.un.org/unsd/nationalaccount/default.asp">National accounts</a></li>
                  <li><a href="https://unstats.un.org/unsd/tradeserv/tourism/Methodology.htm">Tourism statistics</a></li>
                  <li><a href="https://unstats.un.org/unsd/trade/">Trade statistics</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Environment</a>
                <ul class="dropdown-menu">
                  <li><a href="https://unstats.un.org/unsd/environment/">Environment statistics</a></li>
                  <li><a href="https://seea.un.org/">Environmental-economic accounting</a></li>
                  <li><a href="https://unstats.un.org/unsd/greeneconomy/">Green economy</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Geospatial information</a>
                <ul class="dropdown-menu">
                  <li><a href="http://ggim.un.org/">UN-GGIM</a></li>
                  <li><a href="https://unstats.un.org/unsd/geoinfo/UNGEGN/default.html">UNGEGN</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                    <a href="http://unstats.un.org/unsd/demographic/">Population and Society</a>
                    <ul class="dropdown-menu">
                      <li><a href="https://unstats.un.org/unsd/demographic/CRVS/default.htm">Civil registration and vital statistics</a></li>
                      <li>
                        <a href="https://unstats.un.org/unsd/demographic/sconcerns/disability/default.htm">Disability statistics</a>
                      </li>
                      <li><a href="https://unstats.un.org/unsd/gender/default.html">Gender statistics</a></li>
                      <li>
                        <a href="https://unstats.un.org/iswghs/">Household surveys</a>
                      </li>
                      <li>
                        <a href="https://unstats.un.org/unsd/demographic/sconcerns/migration/default.htm">Migration statistics</a>
                      </li>
                      <li><a href="https://unstats.un.org/unsd/demographic/sources/census/wphc/default.htm">Population and housing census</a></li>
                      <li>
                        <a href="https://unstats.un.org/unsd/gender/timeuse/index.html">Time-use statistics</a>
                      </li>
                    </ul>
                  </li>


            </ul>
          </li>
          <!-- End Topics menu item -->

          <!-- Data menu item -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Data</a>

            <ul class="dropdown-menu">

              <li>
                <a href="http://data.un.org/">UN Data</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/mbs/app/DataSearchTable.aspx">Monthly Bulletin of Statistics Online</a>
              </li>

              <li>
                <a href="http://unstats.un.org/sdgs/indicators/database/">SDG Indicators Global Database</a>
              </li>

              <li>
                <a href="https://comtrade.un.org">UN Comtrade</a>
              </li>

              <!-- <li>
                <a href="http://unstats.un.org/unsd/ServiceTrade/default.aspx">UN ServiceTrade</a>
              </li> -->

              <li>
                <a href="http://unstats.un.org/unsd/snaama/Introduction.asp">National Accounts Main Aggregates</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/energy/jodi.htm">Joint Organisations Data Initiative</a>
              </li>

              <li>
                <a href="https://unstats.un.org/unsd/demographic-social/sconcerns/disability/statistics/">Disability Statistics Database</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/demographic/products/dyb/dybcensusdata.htm">Population Census Datasets</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/demographic/products/vitstats/">Population and Vital Statistics Report</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/demographic/products/dyb/dyb2.htm">Demographic Yearbook System</a>
              </li>

              <li>
                    <a href="https://genderstats.un.org">Minimum Set of Gender Indicators</a>
                  </li>
            </ul>
          </li>
          <!-- End Data menu item-->

          <!-- Methodology menu item -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Methodology<br></a>

            <ul class="dropdown-menu">

              <li>
                <a href="https://unstats.un.org/bigdata/">Big data for official statistics</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/methods/citygroup/">City groups</a>
              </li>

              <li>
                <a href="https://unstats.un.org/unsd/methodology/m49/">Country and area codes (M49)</a>
              </li>

              <li>
                <a href="https://unstats.un.org/unsd/methodology/dataquality/">Data quality</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/dnss/gp/searchgp.aspx">Good Practices Database</a>
              </li>

              <li>
                <a href="https://unstats.un.org/iswghs/">Household surveys</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/nationalaccount/ies/">Integrated Economic Statistics</a>
              </li>

              <li>
                <a href="http://unstats.un.org/unsd/methods/inter-natlinks/sd_natstat.asp">National and international data sources&nbsp;and links</a>
              </li>
              <li>
                <a href="https://unstats.un.org/unsd/sdmx/sdmxglobalconference2015/default.html">SDMX</a>
              </li>
              <li>
                <a href="http://unstats.un.org/unsd/class/default.asp">Statistical classifications</a>
              </li>

              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Statistical principles</a>
                <ul class="dropdown-menu">
                  <li><a href="http://unstats.un.org/unsd/dnss/gp/fundprinciples.aspx">Fundamental Principles of Official Statistics</a></li>
                  <li><a href="https://unstats.un.org/unsd/ccsa/principles_stat_activities/">Principles Governing International Statistical Activities</a></li>
                </ul>
              </li>
            </ul>

          </li>
          <!-- End Methodology menu item -->

          <!-- Events menu item-->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Events<br></a>

            <ul class="dropdown-menu">
              <li>
                <a href="https://unstats.un.org/unsd/events/">Calendar of events</a>
              </li>

              <li>
                <a href="https://unstats.un.org/unsd/statcom/">Statistical Commission</a>
              </li>

              <li>
                <a href="http://undataforum.org/WorldDataForum/">UN World Data Forum</a>
              </li>

              <li>
                <a href="https://worldstatisticsday.org/">World Statistics Day</a>
              </li>
            </ul>
          </li>
          <!-- End Events menu item-->

          <!-- Publications menu item -->
          <li>
            <a href="http://unstats.un.org/unsd/publications/">Publications</a>
          </li>
          <!-- End Publications menu item -->

          <!-- About menu item -->
          <li>
            <a href="https://unstats.un.org/home/about/">About</a>
          </li>
          <!-- End About menu item -->

          <!-- Search Block >
          <li>
            <i class="search fa fa-search search-btn"></i>
              <div class="search-open">
                <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>
          </li>
          < End Search Block -->

        </ul>
      </div>
      <!--/navbar-collapse-->
    </div>
  </div>
  <!-- END MAIN NAVIGATION -->

</div>
