
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Sidebar = "econstats";
    Page.Title = "Business Statistics";
}



<!-- ======= CAROUSEL ==========-->
<!-- Owl Carousel v4 -->
<!-- <div id="myCarousel" class="carousel slide carousel-v2"> -->
<div id="myCarousel" class="owl-carousel-v4">
  <div class="owl-slider-unsd-dssb">

    <div class="item active">
      <a href="">
        <img src="~/assets/img/sliders/meeting-th.jpg" alt="">
        <div class="carousel-caption">
          <br>
          <h3 class="ccheader" style="color:#fff;" align="center">Workshop on the Economic Statistics</h3>
          <br>
          <em class="venue-header">New York, USA</em>
          <br>
          <ul class="side-event-page-info list-inline">
            <li class="event-date datecolor"><i class="ccicon fa fa-calendar fa-fw"></i> &nbsp;30 October to 3 November 2018</li>
          </ul>
        </div>
      </a>
    </div>

    <div class="item">
      <a href=""><img src="~/assets/img/sliders/unhq.jpg" alt=""></a>
    </div>

    <div class="item">
      <div class="tag-box tag-box-v6 title-box-v2 clearfix">
        <span class="agenda-item-time pull-left">
          <a href="https://unstats.un.org/unsd/statcom/49th-session/side-events/20180307-1M-climate-change/" target="_blank">
            <img src="~/assets/img/sliders/stock-2.jpg" alt="click to enlarge">
          </a>
        </span>
        <div class="carousel-caption">
          <br>
          <h2 style="color:#fff;">Business Statistics</h2>
          <br>
          <ul class="side-event-page-info list-inline">
            <li class="event-date" style="color:#fff;"><i class="fa fa-calendar"></i> Wednesday, 7 DEC 2018</li>
            <li class="event-time" style="color:#fff;"><i class="fa fa-clock-o "></i> 8:15 &ndash; 9:30 am</li>
            <li class="event-room" style="color:#fff;"><i class="fa fa-map-marker"></i> Conference Room 4</li>
          </ul>
          <h4 class="event-page-organizer" style="color:#fff;">Meeting organized by the United Nations Statistics Division (UNSD)</h4>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Owl Carousel v4 -->

<!-- Tabs -->

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Home"><span class="tab-headings">Home</span></a></li>
    <li><a data-toggle="tab" href="#Workprogramme"><span class="tab-headings">Work programme</span></a></li>
    <li><a data-toggle="tab" href="#Coordination"><span class="tab-headings">Coordination</span></a></li>
  </ul>
</div>

<div class="tab-content">

<!-- Home tab -->
  <div id="Home" class="tab-pane fade in active">
    <div class="headline">
      <h4><i class="icon-notebook bg-red"></i>About the Business Statistics Programme</h4>
    </div>
    <div class="foreword">
      <p>The United Nations Statistics Division established in 2009 a work programme on major issues related to the compilation of basic economic statistics, such as conduct of economic censuses and statistical surveys, use of administrative data, establishment and maintenance of a business register. The work programme aimed at identifying good country practices and promoting them among the developing countries in order to improve their statistical capability. The Business Statistics Section of the United Nations Statistics Division (UNSD) is engaged in the development of methodology, data collection, capacity development, and coordination in the fields of business statistics.</p>
    </div>
  </div>

<!-- Methodology tab -->
  <div id="Workprogramme" class="tab-pane fade in">
    <div class="row">
      <div class="col-md-6">
        <div class="headline">
          <h4><i class="icon-layers bg-yellow"></i>Current activities</h4>
        </div>
        <ul class="list-unstyled margin-bottom-15">
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/SBR/index.cshtml">Statistical Business Register</a></li>
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/GVC.cshtml">Global value chain handbook</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="headline">
          <h4><i class="icon-layers bg-red"></i>Former activities</h4>
        </div>
        <ul class="list-unstyled margin-bottom-15">
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/BES.cshtml">Basic economic statistics</a></li>
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/EconomicCensus.cshtml">Economic census</a></li>
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/Admindata.cshtml">Use of administrative data</a></li>
        </ul>
      </div>
    </div>
  </div>

<!-- Coordination tab -->
  <div id="Coordination" class="tab-pane fade in">
    <div class="headline">
      <h4><i class="icon-directions bg-green"></i>Business statistics collaborations</h4>
    </div>
    <ul class="list-unstyled margin-bottom-15">
      <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/CEBS.cshtml">Commitee of experts on business statistics</a></li>
  		<li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/WiesbadenCG.cshtml">Wiesbaden city group on business registers</a></li>
  	</ul>
  </div>

<!-- End tabs -->
</div>
