<div class="headline h3" style = "padding-bottom:2px;margin-left:-15px;margin-top:-10px;" >
    <h3>Active City Groups</h3>
</div>
<div class="row">
    <div class="well", well-text ="white" style= "padding-left: 13px;">
        <ul class="list-unstyled margin-bottom-5">
    
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/london.cshtml">London Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/oslo.cshtml">Oslo Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/ottawa.cshtml">Ottawa Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/praia.cshtml">Praia Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/Titchfield.cshtml">Titchfield City Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/washington.cshtml">Voorburg Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/washington.cshtm">Washington Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/wiesbaden/">Wiesbaden Group</a>
        </li>
    </ul>
    </div>
</div>
<div class="headline h3" style = "padding-bottom:2px;margin-left:-15px;" >
    <h3>Completed Group</h3>
</div>
<div class="row">
    <div class="well", well-text ="white" style= "padding-left: 13px;margin-bottom:15px">
        <ul class="list-unstyled margin-bottom-15">
            <li>
            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/FOCG_Econ/Default.cshtml">Friends of the Chair Groups</a>
            </li>
        </ul>
    </div>
</div>

<div class="headline h3" style = "padding-bottom:2px;margin-left:-15px;" >
    <h3>Contact Us</h3>
</div>
<div class="row">
    <div class="well", well-text ="white" style= "padding-left: 13px;">
        <ul class="list-unstyled margin-bottom:15px">
            <li>
            <i class="fa fa-envelope" style="font-size:14px;color:CornflowerBlue">  </i> <a href="mailto:nes@un.org">nes@un.org</a>
            </li>
        </ul>
    </div>
</div>

<div class="headline h3" style = "padding-bottom:2px;margin-left:-15px;" >
    <h2>Network Members</h2>
</div>

<div class="row">
    <div class="well", well-text ="white" style= "padding-left: 13px;">
        <h5><b>Countries</b></h5> 
            
            <ul class="list-unstyled margin-bottom-5" style = "padding-left:18px; text-indent: -9px;">
                <li>&#x2022; Argentina</li> 
                <li>&#x2022; Australia</li>
                <li>&#x2022; Bhutan</li>
                <li>&#x2022; Brazil</li>
                <li>&#x2022; Canada</li>
                <li>&#x2022; Colombia</li>
                <li>&#x2022; Costa Rica</li>
                <li>&#x2022; C&ocirc;te d'Ivoire</li>
                <li>&#x2022; Fiji</li>
                <li>&#x2022; Indonesia</li>
                <li>&#x2022; Italy</li>
                <li>&#x2022; Lesotho</li>
                <li>&#x2022; Maldives</li>
                <li>&#x2022; Mexico</li>
                <li>&#x2022; Mongolia</li>
                <li>&#x2022; Morocco</li>
                <li>&#x2022; Netherlands (Kingdom of the)</li>
                <li>&#x2022; New Zealand</li>
                <li>&#x2022; Oman</li>
                <li>&#x2022; State of Palestine</li>
                <li>&#x2022; Poland</li>
                <li>&#x2022; Saudi Arabia</li>
                <li>&#x2022; South Africa</li>
                <li>&#x2022; Tunisia</li>
                <li>&#x2022; United Kingdom of Great Britain and Northern Ireland</li>
                <li>&#x2022; United Arab Emirates</li>
                <li>&#x2022; United States of America</li>
            </ul>
        <h5><b>Orginizations</b></h5> 
            
            <ul class="list-unstyled margin-bottom-15" style = "padding-left:18px; text-indent: -9px;">               
                <li>&#x2022; Asian Development Bank </li>
                <li>&#x2022; European Commission<li>
                <li>&#x2022; International Labour Organization</li>
                <li>&#x2022; International Monetary Fund</li>
                <li>&#x2022; Islamic Development Bank</li>
                <li>&#x2022; Organisation for Economic Co-operation and Development </li>
                <li>&#x2022; United Nations</li>
                <li>&#x2022; United Nations Development Programme</li>
                <li>&#x2022; United Nations Economic and Social Commission for Asia and the Pacific</li>
                <li>&#x2022; United Nations Economic and Social Commission for Western Asia</li>
                <li>&#x2022; United Nations Economic Commission for Africa</li>
                <li>&#x2022; United Nations Economic Commission for Europe</li>
                <li>&#x2022; United Nations Economic Commission for Latin America and the Caribbean</li>
                <li>&#x2022; World Bank</li>
                <li>&#x2022; World Health Organization</li>
            </ul>
    </div>        
</div>

