<div class="headline h3" style = "padding-bottom:2px;margin-top:18px;">
    <h3>Active City Groups</h3>
</div>
<div class="row">
    <div class="well", well-text ="white" style= "padding-left: 13px;">
        <ul class="list-unstyled margin-bottom-5">
    
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/london.cshtml">London Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/oslo.cshtml">Oslo Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/ottawa.cshtml">Ottawa Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/praia.cshtml">Praia Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/Titchfield.cshtml">Titchfield City Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/washington.cshtml">Voorburg Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/washington.cshtm">Washington Group</a>
        </li>
        <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/wiesbaden/">Wiesbaden Group</a>
        </li>
    </ul>
    </div>
</div>
<div class="headline h3">
    <h3>Completed Group</h3>
</div>
<div class="row">
    <div class="well", well-text ="white" style= "padding-left: 13px;">
        <ul class="list-unstyled margin-bottom-15">
            <li>
            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/FOCG_Econ/Default.cshtml">Friends of the Chair Groups</a>
            </li>
        </ul>
    </div>
</div>

<div class="headline h3">
    <h2>Network members</h2>
</div>

<div class="row">
    <div class="well", well-text ="white" style= "padding-left: 13px;">
        <h5><b>Countries</b></h5> 
            
            <ul class="list-unstyled margin-bottom-5">
                <li>&#x2022; Argentina</li> 
                <li>&#x2022; Australia</li>
                <li>&#x2022; Bhutan</li>
                <li>&#x2022; Canada</li>
                <li>&#x2022; Colombia</li>
                <li>&#x2022; Costa Rica</li>
                <li>&#x2022; Indonesia</li>
                <li>&#x2022; Italy</li>
                <li>&#x2022; Lesotho</li>
                <li>&#x2022; Maldives</li>
                <li>&#x2022; Mexico</li>
                <li>&#x2022; Mongolia</li>
                <li>&#x2022; Netherlands</li>
                <li>&#x2022; New Zealand</li>
                <li>&#x2022; Oman</li>
                <li>&#x2022; Palestine</li>
                <li>&#x2022; Poland</li>
                <li>&#x2022; Saudi Arabia</li>
                <li>&#x2022; South Africa</li>
                <li>&#x2022; Tunisia</li>
                <li>&#x2022; United Kingdom</li>
                <li>&#x2022; United States of America</li>
            </ul>
        <h5><b>Agencies</b></h5> 
            
            <ul class="list-unstyled margin-bottom-15">               
                <li>&#x2022; ADB </li>
                <li>&#x2022; ECA<li>
                <li>&#x2022; ECE</li>
                <li>&#x2022; ECLAC</li>
                <li>&#x2022; ESCAP</li>
                <li>&#x2022; ESCWA</li>
                <li>&#x2022; Eurostat</li>
                <li>&#x2022; IMF</li>
                <li>&#x2022; ISDB</li>
                <li>&#x2022; OECD</li>
                <li>&#x2022; UNSD</li>
                <li>&#x2022; World Bank</li>
            </ul>
    </div>        
</div>

