<div class="headline">
    <h2>Friends of the Chair Group on Economic Statistics</h2>
</div>
<ul class="list-unstyled margin-bottom-15">
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/FOCG_Econ/Default.cshtml">FOCG Home</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/trade/events/2019/FOCG/FirstMeetingoftheFOCG.asp">FOCG First Meeting</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/trade/events/2019/Shanghai/default.asp">High-Level Seminar - Shanghai, China</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/focg_econ/meetings/2nd.cshtml">FOCG Second Meeting</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://www.cepal.org/en/events/high-level-seminar-future-economic-statistics-latin-america-and-caribbean">High-Level Seminar - Santiago, Chile</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://www.unescwa.org/events/high-level-seminar-future-economic-statistics-arab-region">High-Level Seminar - Riyadh, Saudi Arabia</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/focg_econ/meetings/3rd/default.cshtml">FOCG Third Meeting</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/focg_econ/meetings/4th/default.cshtml">FOCG Fourth Meeting</a><br>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/focg_econ/meetings/5th/default.cshtml">FOCG Fifth Meeting</a>
        @*<i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/focg_econ/meetings/5th/default.cshtml">FOCG Fifth Meeting</a>*@
    </li>
</ul>

@*<div class="headline">
    <h2>Active City Groups</h2>
</div>
<ul class="list-unstyled margin-bottom-15">
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/delhi.cshtml">Delhi Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/london.cshtml">London Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/oslo.cshtml">Oslo Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/ottawa.cshtml">Ottawa Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/praia.cshtml">Praia Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/Titchfield.cshtml">Titchfield City Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/voorburg.cshtml">Voorburg Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/washington.cshtml">Washington Group</a>
    </li>
    <li>
        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/citygroups/wiesbaden/">Wiesbaden Group</a>
    </li>
</ul>*@
