
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "FOCG_Econ";
    Page.Title = "Economic Statistics";
    Page.Subtitle = "FOCG on Economic Statistics";
    //Page.SubtitleLink ="~/default.cshtml";
    //Page.Subsubtitle = "FOCG on Economic Statistics";
}

<div align="center">
    <h2>Friends of the Chair Group on Economic Statistics</h2>
</div>

<!-- ======= CAROUSEL ==========-->
<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="" src="img/unhq.jpg">
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution: "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>

<div class="row">
    <div class="col-md-12">

        <div class="headline">
            <h3>Purpose</h3>
        </div>

        <p>
            The Friends of the Chair Group on Economic Statistics was created by <a href="https://unstats.un.org/unsd/statcom/50th-session/" target="_blank">the 50th Session of the United Nations Statistical Commission</a>. The Commission:
            <ul>
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Requested the Friends of the Chair Group be established for a period of not more than two years to undertake an assessment on the efficiency, effectiveness and responsiveness of the governance of the current system of economic statistics, without creating more bureaucracy or adding undue burden on NSOs and international organisations;</li>
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Requested the Friends of the Chair Group to take stock of existing initiatives and make a recommendation to take these forwards in an update of the system of economic statistics through a broad user consultation;</li>
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Requested the Friends of Chair Group take forward issues of the statistical update that have already reached a high level of maturity;</li>
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Requested the Friends of the Chair Group to report back to the Statistical Commission in its 51st Session (2020) with a clear plan how to move forward.</li>
            </ul>
        </p>

        <div class="headline">
            <h3>Year organized</h3>
        </div>

        <p>2019</p>
    </div>
    @*<div class="col-md-6">
            <div class="well well-lg">

              <div class="headline">
                <h3>Points of contact</h3>
              </div>

              <p>Jukka Pakola<br>
                Chair, Oslo Group on Energy Statistics<br>
                Statistics Finland<br>
                e-mail: <a href="mailto:Jukka.Pakola@stat.fi">Jukka.Pakola@stat.fi</a>
              </p>

              <p>Ville Maljanen<br>
                Secretary, Oslo Group on Energy Statistics<br>
                Statistics Finland<br>
                e-mail: <a href="mailto:oslosecretariat@stat.fi">oslosecretariat@stat.fi</a>
              </p>

          </div>
        </div>*@


</div>

<div class="headline">
    <h3>Participants</h3>
</div>

<p>
    Senior statisticians from NSOs and international organisations. The NSOs are from the following countries: Australia, Austria, Brazil, Canada, Denmark, Indonesia, Italy, Mexico, Saudi Arabia, and USA. The international organisations include: African Development Bank, Asian Development Bank, Eurostat, Inter-American Development Bank, International Monetary Fund (IMF), Islamic Development Bank, Organisation for Economic Co-operation and Development (OECD), United Nations Economic Commission for Africa, World Bank, and United Nations Secretariat.
</p>

<div class="headline">
    <h3>Meetings</h3>
</div>

<div>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/trade/events/2019/FOCG/FirstMeetingoftheFOCG.asp" target="_blank">First Meeting of the Friends of the Chair Group on Economic Statistics: New York, 28 – 30 May 2019</a><br>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/trade/events/2019/Shanghai/default.asp" target="_blank">Asia-Pacific High-Level Seminar on the Future of Economic Statistics, Shanghai, 3 – 5 June 2019</a><br>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/focg_econ/meetings/2nd.cshtml" target="_blank">Second Meeting of the Friends of the Chair Group on Economic Statistics: New York, 2 – 4 December 2019</a><br>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://www.cepal.org/en/events/high-level-seminar-future-economic-statistics-latin-america-and-caribbean" target="_blank">ECLAC High-Level Seminar on the Future of Economic Statistics, Santiago, Chile, 18 – 19 November 2019</a><br>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://www.unescwa.org/events/high-level-seminar-future-economic-statistics-arab-region" target="_blank">High-Level Seminar on the Future of Economic Statistics for the Arab region, Riyadh, Saudi Arabia, 21 – 22 January 2020</a><br>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/focg_econ/meetings/3rd/default.cshtml" target="_blank">Third Meeting of the Friends of the Chair Group on Economic Statistics: New York, 1st March 2020</a><br>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/focg_econ/meetings/4th/default.cshtml" target="_blank">Fourth Meeting of the Friends of the Chair Group on Economic Statistics: virtual meeting, 29 - 30 June 2020</a>
</div>

<div class="headline">
    <h3>Planned activities:</h3>
</div>
<div>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="UNSC_FOCG_Economic_Statistics_TOR.pdf" target="_blank">Terms of Reference for the Friends of the Chair Group on Economic Statistics</a>
</div>

<div class="headline">
    <h3>Global user consultation</h3>
</div>
<div>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="FOCG_Econ_Questionnaire.docx" target="_blank">Questionnaire of the global user consultation of the Friends of the Chair Group on Economic Statistics</a><br>
    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="FOCG_econ_invited_groups.pdf" target="_blank">Groups invited for the global user consultation by the Friends of the Chair Group on Economic Statistics</a>
</div>

<div class="headline">
    <h3>Reporting to the UN Statistical Commission</h3>
</div>

<p>Will be reporting for the first time in 2020.</p>
<br>