
@{
    Layout = "_SiteLayout_NSB.cshtml";
    Page.Title = "United Nations Network of Economic Statisticians";
    //Page.Subtitle = "United Nations Network of Economic Statisticians";
    //Page.SubtitleLink ="~/default.cshtml";
    //Lastupdate:15/9/22:include housing sprint 5th meeting link:
}

<div align ="left" style= "margin-top: -19px; padding-bottom:5px;">
    <h1><b></b></h1>
</div>


<!-- ======= CAROUSEL ==========-->
<div class="content-section">
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            @*<img alt="" src="~/groups/NetEconStat/img/Expert-Group-on-Well-Being-Measurement.png" class="img-rounded">*@
            <img alt="" src="~/assets/img/EG-WellBeing.png" class="img-fluid rounded" width: 100%">
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution: "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>

<!-- ===== BODY ==== -->
<div class="row" style= "padding-top: 13px;">
    <div class="col-md-12">
        <h3 style="color:black;"><b>Mandate</b></h3>
<!--        <div class="well"  style="padding-left:12px" background-color: #F5F5F5;"> -->
        <div class="well" style="padding:12px">

            <p class="text-dark">
            The Expert Group on Well-Being Measurement (EGWM) was established by the 55th session of the United Nations Statistical Commission to take forward the recommendations 
            of the “beyond GDP” sprint 2023 (see decision 55/108 of the report). These recommendations are detailed in the background document to the report of the United Nations Network 
            of Economic Statisticians (Network) to the same session of the Commission.
            </p>
        </div>

        <h3 style="color:black;"><b>Objective</b></h3>
<!--        <div class="well"  style="padding-left:12px" background-color: #F5F5F5;"> -->
        <div class="well" style="padding:12px">

            <p class="text-dark">
            The EGWM aims to (a) deliver the Framework for Inclusive and Sustainable Wellbeing (FISW), meeting user needs and reflecting producer constraints, 
            (b) ensure the FISW has a clear conceptual framework which robustly presents data in a methodological fashion such that trade-offs and the wider impacts 
            of policy decisions become visible, (c) provide a headline dashboard for a ‘state of the nation’ perspective to inform decision-makers and the public 
            of the state of wellbeing for their community, and the impact their community has on others, (d) ensure the FISW presents a clear hierarchy and structure 
            to aide user navigation: not all data can or will be prioritized for the headline dashboard and (e) support the development of a comprehensive framework 
            for social and demographic statistics (which may develop into a System of Population and Social Statistics) in partnership with the Friends of the Chair 
            group on Social and Demographic Statistics; specifically through providing access and insights from the economic statistics pillar, where there is overlap 
            in the topics covered, and providing clarity on the demands for coherent social and demographic data, in terms of definitions and measures, from the FISW. 
            </p>
            <p>The specific tasks of the EGWM are as follows:</p>
            <ul style = "padding-left:16px; text-indent: -8px;"></ul>
                <li>•	To bring together diverse communities to review methods and synthesize a consensus opinion on the contents of the FISW, whilst recognizing the 
                    imperative of a streamlined set of metrics which best meet user need.</li>
                <li>•	To prepare the draft chapters of the FISW for global consultation and finalize them for publication by incorporating the comments of the global 
                    consultation.</li>
                <li>•	To commission, review and propose to the United Nations Statistical Commission a draft text of the FISW for consultation and endorsement.</li>
                <li>•	To commission appropriate pilot compilation of statistics and data, from a diverse range of countries to fully explore suitability and feasibility. 
                    Pilot exercises which can demonstrate the capacity of national statistical offices with limited resources to deliver against the FISW should be prioritized.</li>
                <li>•	To develop a communications strategy to aide uptake and appropriate usage of the data made available. User and producer interest is vital to secure access 
                    to well-informed resources with the required skills and knowledge to make this proposal a reality.</li>

            </ul>
        </div>
        
        <!--<div class="headline"> -->
        <h3><b>Year Organized</b></h3>
        <div class="well"  style="padding-left:12px" >
            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>2021
        </div>


        <h3><b>Terms of Reference </b></h3>
            <div class="well"  style="padding-left:12px">
                <ul style = "padding-left:16px; text-indent: -8px;">   
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/document/TOR_UN_Network_of_Economic_Statisticians.pdf" target="_blank">Terms of Reference for the United Nations Network of Economic Statisticians </a></li>
                </ul> 
            </div>
         

        <h3><b>Upcoming Events </b></h3>
            <div class="well"  style="padding-left:12px">    
                <ul style = "padding-left:16px; text-indent: -8px;">               
                    <li style="margin-bottom:3px"><i class="fa fa-chevron-circle-right color-green margin-right -5px"></i> Join us for the housing sprint webinars. <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2zWeD09UYE-9zF6kFubccNhH2ggp9WNCmvKGRF8SgmZUQTlPS0ROVzZQV1NJSFU5M0hTVTRKWUMwQy4u" class="btn btn-primary btn-xs rounded" role="button" style="padding-left:10px">Registration </a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right -5px"></i> Join us for the data strategy sprint webinars. <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2zWeD09UYE-9zF6kFubccNhH2ggp9WNCmvKGRF8SgmZUNk43QjE1UEM2Qkg1VlYwWFJTS0VQOTA1WC4u&wdLOR=cA2B0922A-C507-4135-9178-CA3DBB197075" class="btn btn-primary btn-xs rounded" role="button" style="padding-left:10px">Registration</a></li>
                </ul>
            </div>
             
<!--
        <h3><b>Meetings</b></h3>
        <div class="well"  style="padding-left:12px">
            <h5><b> Network</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkFirstmeeting" target="_blank"></i>First Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkSecondmeeting" target="_blank"></i>Second Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkThirdmeeting" target="_blank"></i>Third Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkFourthmeeting" target="_blank"></i>Fourth Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkFifthmeeting" target="_blank"></i>Fifth Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/InformalMeeting-Nov22" target="_blank"></i>Informal Meeting of the United Nations Network of Economic Statisticians - 9 November 2022  </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/networkInformalMeeting2023" target="_blank"></i>Informal Meeting of the United Nations Network of Economic Statisticians - 6 November 2023  </a></li>
                    </ul>
                    <br>
            

            <h5><b> Side Events</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/UNSDWebsite/events-details/un55sc-Informal_meeting_of_the_united_nations_network_of_economic_statisticians" target="_blank">55<sup>th</sup> Session (2024): Informal Meeting of the United Nations Network of Economic Statisticians: Improving the coordination of the updates and research agendas for international statistical standards</a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/UNSDWebsite/events-details/un54sc-26022023-Network-of-economic-statisticians" target="_blank">54<sup>th</sup> Session (2023): Informal Meeting of the United Nations Network of Economic Statisticians</a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/53rd-session/side-events/15032022-activities-of-the-UN-network-of-economic-statisticians/" target="_blank">53<sup>th</sup> Session (2022): Introduction to the United Nations Network of Economic Statisticians: Past, Present, and Future Activities</a></li>
                    </ul>
                    <br>
        </div>
        

        
        
        <h3><b>Global User Consultation</b></h3>
            <div class="well"  style="padding-left:12px">
            </div>

        <h3><b>Reporting to the United Nations Statistical Commission</b></h3>
            <div class="well"  style="padding-left:12px">
                <ul style = "padding-left:16px; text-indent: -8px;">
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The Network will be reporting to the Statistical Commission annually starting from its fifty-third session in 2022.</li>
                </ul>    
            </div>
        <br>
    -->    
    </div>  
</div>

<br>
<br>