
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "First Webinar of Data Strategy Sprint";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<ul class="list-inline benefits" style="margin-top:-20px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left:-10px;"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
            <li class="breadcrumb-item active" aria-current="page">First Webinar of Data Strategy Sprint</li>
        </ol>
    </nav> 
</ul>

<!--     CONTENT      ---->

<div class="content-section" style = "margin-top: 9px;" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            @*<img alt="First Webinar of Data Access Sprint 2024" src="~/groups/NetEconStat/img/First-Webinar-of-Data-Strategy-Sprint.png" class="img-rounded"> *@
            <img alt="" src="~/assets/img/First-Webinar-of-Data-Strategy-Sprint.png" class="img-rounded">
        </div>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style="padding-top:13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>

<br>

<!-- Overview tab -->
<div class="tab-content">
    <div id="Overview" class="tab-pane fade in active">
        <p>As the challenges facing the world grow increasingly complex, policymakers are demanding better data, faster to inform critical decisions. 
            A well-formed data strategy can help governments make the most of their data assets and deliver value for their citizens and for 
            stakeholders around the globe.</p>  

        <p>Do you want to know more about the purpose and promise of a data strategy? Have you heard all the buzzwords - data governance, stewardship, 
            etc. and wonder how all these pieces fit together? Are you thinking about how to get started on a data strategy?</p>  

        <p>This webinar will provide an introduction to developing a data strategy, including the contextual user need impetus for this work. The 
            sessions will explore theoretical links between user needs, data governance, and data stewardship and will illustrate how to put theory 
            into practice, by establishing solid data governance. The webinar will also delve into how data, throughout the various life cycle processes, 
            can be better managed and leveraged when a solid data strategy is in place.  
        </p>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="well" style="margin-top:-10px">
            <ul class="list-unstyled" style="margin-left:-5px">        
                    @*    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session6-Network-meeting-conclusions.pdf" target= "_blank" style="color:blue">Network meeting conclusions</a></li> *@               
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://youtu.be/m5vDeY3XljQ" target="_blank" style="color:blue">First Webinar of Data Strategy Sprint Video </a><i class="fa fa-youtube-play" aria-hidden="true" style ="color:red;padding-left:10px"></i></li>
            </ul>            
        </div>
        <br>

        <div class="margin-bottom-30">
            <h4 class="events">
                <b> 4 June 2024 | 7:00 am - 10:00 am, New York time</b><br> 
            </h4>
            <br>
            <div class="row">
                <div style="margin-left:15px">
                    <h4 style="font-weight:bold">Session 1| Welcome and Opening remarks</h4>
                </div>
            </div>
            <div class="row">
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:15 am</h5>
                
                    <ul class="list-unstyled">
                        <li><strong>Mr. Stefan Schweinfest</strong>, Director of United Nations Statistics Division</li>                                           
                        <li><strong>Aishath Shahuda</strong>, Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</li>                                           
                    </ul>
                </div>
            </div>
    

            <br>

            <div class="row">
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:15 am - 7:20 am </h5>
                </div>
             
                <div style="margin-left:15px">                 
                    <ul style = "text-indent: -40px;">                                                         
                        <li><i>Chair</i>:<strong> Tom Dufour</strong>, Director General Strategic Data Management, Statistics Canada</li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="row" style="margin-right:10px;margin-top:10px"> 
                <div style="margin-left:15px">
                    <h4 style="font-weight:bold">Session 2| The Fundamentals of Data Strategy</h4>
                </div>
            </div>
            <div class="row" style="margin-right:10px">
                <div style="margin-left:15px;margin-right:10px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:20 am - 7:45 am </h5>
                </div>
                
                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">Fundamentals of a Data Strategy: why do we need one and what is it comprised of ?</h5>
                    <p>This presentation aims to help those working in the areas of data stewardship, data governance and data strategy, by exploring 
                        the importance of developing a data strategy and its fundamental components. The presentation will draw on the experience of 
                        Stats New Zealand to illustrate why data strategies are needed and what they are comprised of.
                    </p>
                    <ul class="list-unstyled">                                                         
                        <li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/DataStrategySprintFirstWebinar/Session2P-a_2024_05_29_UN_Data_Strateg_Sprint_slides_Final_R_Milicich.pdf" target= "_blank" style="color:blue">Fundamentals of a Data Strategy</a></li>
                        <li><b>Presenter:</b><i> Rachael Milicich</i>, Deputy Government Statistician/Deputy Chief Executive Insights and Statistics, Statistics New Zealand</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" style="margin-right:10px">
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:45 am - 8:10 am </h5>
                </div>
                
                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">Poll and Primer</h5>
                    <p>Participants will be polled on the need for a Data Strategy (DS), do they have a DS, the challenges to develop DS, the benefits of a DS, the actors and stakeholders responsible for developing a DS, etc. 
                        The Chair will summarize the results. (<a href="~/groups/NetEconStat/Meetings/DataStrategySprintFirstWebinar/Session2D-a_DataStrategySprint-PollQuestions-short.pdf" target= "_blank" style="color:blue">Poll questions</a>)
                    </p>
                    <p>Presentation of the proposed outline for the <a href="~/groups/NetEconStat/Meetings/DataStrategySprintFirstWebinar/Session2D-b_Primer-overview.pdf" target= "_blank" style="color:blue"><i>Primer</i></a>, an introductory document outlining the requirements and approach for building a successful data strategy. 
                    </p>
                    
                    <ul class="list-unstyled">               
                        <li><b>Presenter:</b><i> Daniela Ravindra</i>, Consultant, Statistics Canada </li>
                    </ul>
                    <p>A discussion of the poll results and presentation will follow.</p>           
                </div>
            </div>   
            
            <br>

            <div class="row" style="margin-right:10px">
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:10 am - 8:40 am </h5>
                </div>
                
                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">The Role of National Statistical Offices in the Development of Data Strategies - the Canadian Experience </h5>
                    <p>The presentation provides and overview of the development of a data strategy roadmap and subsequently renewed data strategy for the Government 
                        of Canada. Statistics Canada was one of the three lead organization that developed the original roadmap and recently renewed strategy. 
                    </p>
                    
                    <ul class="list-unstyled">
                        <li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/DataStrategySprintFirstWebinar/Session2P-b_UNSD-Data-Strategy-Sprint-Canada.pdf" target= "_blank" style="color:blue">The role of National Statistical Offices in the development Data Strategies</a></li>               
                        <li><strong>Presenter:</strong> <i>Crystal Sewards</i>, Strategic Advisor to the Office of the of Data Officer, Statistics Canada</li>               
                    </ul>                    
                </div>
            </div> 

            <br>

            <div class="row" style="margin-right:10px">
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:40 am - 8:55 am </h5>
                </div>
                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">Discussion </h5>
                </div>
            </div>
            <br>
            <div class="row" style="margin-right:10px"> 
                <div style="margin-left:15px;margin-top:10px" >
                    <h4 style="font-weight:bold">Session- 3| Country Practices - Using Data Strategy to Manage Statistical Information</h4>
                </div>
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:55 am - 9:15 am </h5>
                </div>

                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">Presentation by Malaysia </h5>
                    <p>The presentation will share insights into the initiatives of the Department of Statistics Malaysia in data governance, 
                        data stewardship and data strategy, and shed light on the challenges encountered while implementing effective data 
                        management practices within a national statistical organization.</p>
                    <ul class="list-unstyled">
                        <li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/DataStrategySprintFirstWebinar/Session3P-a_Developing-A-Data-Strategy_MalaysiaExperience.pdf" target= "_blank" style="color:blue">The role of National Statistical Offices in the development Data Strategies</a></li>
                        <li><strong>Presenter:</strong> <i>Mohd Yazid Kasim</i>, Senior Director, Chief Management Office, Department of Statistics Malaysia</li>               
                    </ul>                                                       
                </div>
                <br>
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:15 am - 9:35 am </h5>
                </div>
                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">Presentation by the United Arab Emirates </h5>
                    <p>The presentation explores the practices implemented by the UAE to develop a comprehensive Data Strategy. This strategy includes principles and standards that 
                        define core guidelines for data classification, exchange, and quality, ensuring that UAE data is reliable, interoperable, and fit-for-purpose. The UAE Data 
                        Maturity Framework provides a common basis for managing data, facilitating interoperability and exchange among entities.
                        </p>
                   
                    <ul class="list-unstyled">
                        <li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/DataStrategySprintFirstWebinar/Session3P-b_UAE-Data-Strategy.pdf" target= "_blank" style="color:blue">Building Future-Ready Data Ecosystem </a></li>               
                        <li><strong>Presenter:</strong> <i>Mohammad Hassan</i>, Executive Director, Statistics and Data Science Sector, United Arab Emirates</li>               
                    </ul>                                                       
                </div>
                <br>
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:35 am - 9:50 am </h5>
                </div>
                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">Discussion </h5>                                                       
                </div>
                <br>
                <div style="margin-left:15px">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:50 am - 11:00 am </h5>
                </div>
                <div style="margin-left:15px">
                    <h5 style="font-weight:bold">Concluding remarks</h5>                                                       
                </div>
            </div>



            
            @*
            <div class="row" style="margin-bottom:10px;">                
                <div class="col-md-3">                
                </div>
                <div class="col-md-9"; style="margin-top:-5px;">                
                    <hr style ="height:2px;border-width:0;color:gray;background-color:gray">
                    <h5><b>Others</b></h5>        
                <!--<li><a href="https://escoe-website.s3.amazonaws.com/wp-content/uploads/2022/05/12103827/ESCoE-DP-2022-12.pdf" target="_blank" >Measuring Human Capital in the UK Economic Accounts: An experimental satellite account   <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                --> 
                    <ul style = "padding-left:16px; text-indent: -8px;" class="un-styled">
                        <li>&#x2022;&nbsp;&nbsp;<a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session6-Network-meeting-conclusions.pdf" target= "_blank" style="color:blue">Network meeting conclusions</a></li>  
                        <li>&#x2022;&nbsp;&nbsp;<a href="https://youtu.be/OYD4TjgnRdg" target="_blank" style="color:blue">Network Fourth Meeting Video </a><i class="fa fa-youtube-play" aria-hidden="true" style ="color:red;padding-left:10px"></i></li>
                    </ul> 
                </div>    
            </div> 
            *@     
            <br>
            <br>
            <br>          
        </div>    
    </div>
</div>
    

