
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ";
    @*Page.Title = "Economic Statistics";
    Page.Subtitle = "Fourth Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@
<!-- ======= CAROUSEL ==========-->
<div align="left">  
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Fourth Meeting</li>
  </ol>
</nav>
</div>
<br>
<div align="center">
     <h2>Fourth Organizational Sprint Meeting of the United Nations Network of Economic Statisticians</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 2 February 2022</li>
    </ul>
</div>
<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="Global_Goals@Expo2020Dubai" src="~/groups/NetEconStat/img/Meeting4.png">
            @*<img alt="" src="~/img/Meeting4.png">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@    

</div>

<br>

<!-- ======= CAROUSEL ==========-->

<br>

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>   
  </ul>
</div>
<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>
            The Fourth Organizational Sprint Meeting of the United Nations Network of Economic Statisticians will be held 
            from 7:00 am to 9:00 am on 2 February 2022 (New York time). The meeting will focus on determining the program 
            of work for the Network for period 2022 and 2023.
            </p>

    </div>

<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events">
                Tuesday, 2 Febuary 2022: 7:00 am - 9:30 am<br>
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks, and confirmation of the summary of the third meeting  </h5>
                    <p>
                        <li>Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada </li>
                        <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                    </p>    
                                     
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Summary report of the Third Session of the Organizational Sprint </p>
                    
                </div>
                
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:10 am - 7:40 am </h5>
                </div>
            
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: User consultations </h5>
                        <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division</p>
                        
                        <p><i>This session will continue the discussion on the modalities of user consultations and the preparation of a synthesis report based on the 
                            reports from various Statistical Committees and other groups to the Statistical Commission 2022 from an economic statistics perspective. </i></p>

                        @*
                        <ul>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>@*<b>2.1 </b>
                                    User Consultations on Building a Forward-looking Agenda for Economic Statistics and the Update of the Macroeconomic Statistics Standards </li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>@*<b>2.1 </b>
                                    Outline of the synthesis report of the UN Network of the reports to the United Nations Statistical Commission, March 2022 </li>
                        </ul>
                        *@
                        <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Oral introduction by Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada and Frantisek Bernadic, 
                        Director Macro-Economic Statistics, Eurostat </p>
                        <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>  The outline of the synthesis report of the UN Network of the reports to the United Nations Statistical Commission, March 2022 </p>                                    
                        <p><i><b>Presenter</b></i>:  Mr. Ivo Havinga, independent expert                                                                               
                </div>
            </div>
            <br>
            <br>  
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:40 am - 8:10 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: Membership and Co-Chairs of the UN Network of Economic Statisticians </h5>
                        <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division </p>
                        <p><i>This session will report on the consultative process for the identification of the membership of the
                              UN Network and Co-Chairs, and the formalization of the Bureau of the Network </i></p>                                                                                          
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:10 am - 9:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4: Work plan for the Network  </h5>
                    <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division</p>
                    <p><i>This session will be kicked-off by a presentation on possible thematic sprints to be organized, as appropriate, with other statistical groups and committees. 
                          Following this background presentation there will be a tour de table seeking proposals and suggestions from the Network members for developing a two-year 
                          rolling workplan for thematic Sprints of the Network. </i></p>
                         
                  
                    <p><i><b>Presenter</b></i>:  Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada</p>                                                                   
                </div>
            </div>   
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:00 am - 9:15 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5: Update on the Network Sprints  </h5>
                    <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division</p>
                    <p><i>This session will provide an update on the preparations of the Beyond GDP 
                        and the initial findings of the ongoing Data Access Sprint</i></p>
                    <p>
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>@*<b>2.1 </b>*@
                                     Beyond GDP Sprint </p>
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>@*<b>2.1 </b>*@
                                    Data Access Sprint </p>
                        
                                    
                        <p><i><b>Presenter</b></i>:  Mr. Richard Heys, UK ONS and Erich Strassner, US BEA<br>
                            <i><b>&emsp;&emsp;&emsp;&emsp;&emsp;</b></i> Mr. Barteld Braaksma, Statistics Netherlands </p>
                            <br>
                                                                       
                </div>
            </div> 
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:15 am - 9:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 6:  Next steps and closing remarks  </h5>
                    <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division</p>
                    <p><i>This session will report on the next steps: modalities of user consultations, membership and co-chairs of the Network, 
                    work plan for the Network, launch of new thematic Sprints, continuation of ongoing Sprints on Beyond GDP and Data Access, 
                    and update the Statistical Commission through a background document. </i></p>
                    <p>
                        <li>Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada </li>
                        <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>                 
                        
                    </p>
                                                                       
                </div>
                <div class="col-md-3">    
                </div>
                <div class="col-md-9">
                    <br>
                    <br>
                    <h5><b>Related Documentations</b></h5>
                        <ul>
                            
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/FourthMeeting/Agenda-org sprint-4th meeting_clean-v4.pdf" target="_blank" >Agenda<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/FourthMeeting/Sprint slides 310122_v5.pdf" target="_blank" >Sprint slides<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/FourthMeeting/Outline of Synthesis Report_final.pdf" target="_blank" >Outline of Synthesis Report<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/FourthMeeting/Developing a Workplan for the Network of Economic.pdf" target="_blank" >Developing a Workplan for the Network of Economic<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/FourthMeeting/20220203 Data Access Sprint- state of affairs.pdf" target="_blank" >Data Access Sprint- state of affairs<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                                                                    
                        </ul>
                </div>
            </div> 
        </div>
<br>   
</div>
