
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ";
    Page.Title = "Network of Economic Statisticians";
    //Page.Subtitle = "Fourth Meeting of the beyond GDP sprint";
    Page.SubtitleLink ="~/index.cshtml";
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@
<!-- ======= CAROUSEL ==========-->
@*
<div id="myCarousel" class="owl-carousel-v4">
  <h4><a href="/business-stat/">Business-stats </a>
  <i class="fa fa-angle-right color-black margin-left-5"> GVC</i></h4>
    <div class="owl-slider-unsd-dssb">
    <div class="item active">
      <a href="https://unstats.un.org/unsd/trade/events/2017/luxembourg/default.asp">
        <img src="~/assets/img/Luxembourg_StockSnap_1.jpg" alt="Luxembourg">
<!--    <div class="carousel-caption">
          <br>
          <h3 class="ccheader" style="color:#fff;" align="center">Seminar on Accounting for Global Value Chains </h3>
          <em class="venue-header">Luxembourg</em>
          <br>

          <ul class="side-event-page-info list-inline">
            <li class="event-date datecolor"><i class="ccicon fa fa-calendar fa-fw"></i> &nbsp;6-8 June 2017</li>
          </ul>
        </div>
-->
      </a>
    </div>
  </div>
</div>
*@
<div align="center">
    <h2>Fourth Meeting of the beyond GDP sprint</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 21 April 2022</li>
    </ul>
</div>

<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="" src="~/groups/NetEconStat/img/BeyondGDPSprint4.png">
            @*<img alt="" src="~/img/BeyondGDPSprint4.png">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@

    <div align="left">  
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fourth Meeting of the beyond GDP sprint</li>
        </ol>
    </nav>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<br>

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>
<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>The meeting will discuss the socio-demographic disaggregation of national accounts.</p>
    <br>
    </div>

<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>Tuesday, 21 April 2022: 9:00 am - 12:00 pm (New York time)</b></h4>
            <br>                                  
                <b> Co-Modorators:</b> <br>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Jorge Bravo, United Nations Population Division<br>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> John Wilmoth, Director of United Nations Population Division 
            <br>                
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:00 am - 9:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: | Introduction, welcome remarks, and scene-setting </h5>
                    <p>                        
                        <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        <li>John Wilmoth, Director of United Nations Population Division </li>
                    </p>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:10 am - 9:40 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: Disaggregating National Accounts by age</h5>
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        This session overviews methods to disaggregate National Accounts by age.
                    </p>
                    
                    <i><b> Session 2 poll</b></i>

                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The estimation and use of the <a href="https://www.un.org/en/development/desa/population/publications/pdf/development/NTA_Manual_04Sept2013.pdf" target="_blank" > National Transfer Accounts Manual (2013) </a> in different world regions.
                    
                        <i><b>Presenters:</b></i> Mun Sim Lai and Tim Miller, UN Population Division<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/S2-Age-Tim-Nicole-Version1.pdf" target="_blank" > National Transfer Accounts:
                                            Disaggregating National Accounts by age </a>
                    </p>
                    
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The adoption of National Transfer Accounts as part of Colombia&#39;s official statistics. <br>                    
                        <i><b>Presenter:</b></i> Juan Daniel Oviedo, Director, National Administrative Department of Statistics (Colombia)<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/Session2-Age-JuanDaniel-Version1.pdf" target="_blank" > Colombia&#39;s National Transfer Accounts:Insights and results </a>
                    </p>
                    <i><b>Questions & Suggestions</b></i>                                                       
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:40 am - 10:00 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: Disaggregating National Accounts by Age and Gender</h5>
                        <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        This session overviews methods to disaggregate National Accounts by age and gender utilizing time-use survey data.
                        </p>
                    
                        <i><b> Session 3 poll</b></i>

                        <p>
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Work to assemble a manual on disaggregating 
                        national accounts both age and gender and preliminary results from the CWW project.<br>
                        <i><b>Presenter:</b></i> Gretchen Donehower, Counting Women&#39;s Work Project<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/S3-Gender-Gretchen-Version1.pdf" target="_blank" > Disaggregating National Accounts 
                                            by Age and Gender </a>
                        </p>

                        <i><b>Questions & Suggestions</b></i>                                  
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:00 am - 10:15 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Break </h5>
                                                                                        
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:15 am - 10:45 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4: Disaggregating National Accounts by age and socio-economic status</h5>
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        This session overviews work to develop methods to disaggregate National Accounts by age and socio-economic status.
                    </p>
                    
                    <i><b> Session 4 poll</b></i>

                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Disaggregating 
                        national accounts by age and education level in Brazil and Chile.<br>  
                        <i><b>Presenter:</b></i> Prof. Cassio Turra, Center for Development and Regional Planning, Brazil
                    </p>
                    <p> 
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Capturing wellbeing by disaggregating NTA and NTTA.<br>
                        <i><b>Presenter:</b></i> Prof. Alexia F&#971;rnkranz-Prskawetz, Deputy Director, Vienna Institute of Demography, Austrian
                         Academy of Sciences<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/Session4-SES-Alexia-Version2.pdf" target="_blank" > Capturing wellbeing by 
                                disaggregating NTA and NTTA </a>
                    </p>
                    <i><b>Questions & Suggestions</b></i>                                  
                </div>
            </div>
            
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:45 am - 11:15 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5: Synthesis </h5>
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        This session draws together the previous three sessions.
                    </p>
                    
                    <i><b> Session 5 poll</b></i>

                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> How the 
                        disaggregated NTAs combine for a richer picture of the national economy.<br> 
                    <i><b>Presenter:</b></i> Prof. Ronald Lee, University of California, Berkeley <br>
                    <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/S5-Synthesis-Ron-Version1.pdf" target="_blank" > How the disaggregated NTAs combine 
                                        for a richer picture of the economy </a>
                    </p>
                    <i><b>Questions & Suggestions</b></i>                                  
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 11:15 am - 11:45 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 6: Breakout room discussions on next steps </h5>
                    <p>
                       <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        This session will deliver an opportunity for a conversation on next steps.
                    <p>
                    <i><b> Instructions for breakout rooms:</b></i><br>
                    
                    &bull;&ensp; Brief introduction:  Name and affiliation<br>
                    &bull;&ensp; Open discussion of 1 or 2 topics (suggestions below)<br>
                        <ul>
                            <li>a - The pros and cons of using individual vs household as unit of analysis in Beyond GDP work.</li>
                            <li>b - Why do economic statisticians and economic demographers have such different opinions about life-cycle measures?</li>
                            <li>c - Ideas for building collaboration between Network of Economic Statisticians and NTA Network in 2022.</li>
                            <li>d - Any other topic of interest.</li>
                        </ul>
                    &bull;&ensp; Please feel free to post your great ideas in the breakout room chat.  We&#39;ll provide a summary report before the next Sprint on May 5.<br>
                    </p>                                  
                </div>
            </div>
            
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 11:45 am - 11:55 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 7: Preview of the next meeting </h5>
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        This session overviews the fifth meeting of the Beyond GDP Sprint.<br> 
                        <i><b>Presenter:</b></i> Erich Strassner, U.S. Bureau of Economic Analysis<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/UN-Network-Beyond-GDP_Fifth-meeting-preview.pdf" target="_blank" > Beyond GDP Sprint: Mapping <q>Beyond GDP</q> Indexes, Indicator Frameworks, Wealth, and Health Approaches </a>              
                </div>
            </div>
            <br>
            <br>


            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 12:00 pm </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn </h5>                                                       
                </div> 
            </div>          
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">           
                </div> 
           
                <div class="col-md-9">
                    <h5 style="font-weight:bold"><b> Related Documentations</b></h5>
                    <p> Download all available presentations for the fourth meeting of the beyond GDP sprint</p>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/Beyond_GDP_4th_meeting_Slide_Pack.zip" target="_blank" style="color:#5b92e5" > Beyond GDP Sprint Fourth Meeting slide pack</a> <i class="fa fa-file-archive-o" aria-hidden="true"></i></li>
                        </ul>
                    <br>
                </div>
            </div>

    </div>           
</div>
<br>
<br>

