
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1UB";
    Page.Title = "First Meeting of Beyond GDP Sprint 2023";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}
<!--
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
        <li class="breadcrumb-item active" aria-current="page">Network First Meeting</li>
    </ol>
</nav>
-->
<div style= "margin-left:-10px;margin-top:-25px;">
<ul class="list-inline benefits">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
                <li class="breadcrumb-item active" aria-current="page">First Meeting of Beyond GDP Sprint 2023</li>
            </ol>
    </nav> 
</ul>
</div>

<div class="content-section" style="margin-top:-7px;">
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            @*<img alt="" src="~/groups/NetEconStat/img/BeyondGDP2023-1.png">*@
            <img alt="" src="~/Assets/img/BeyondGDP2023-1.png"> 
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>

<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style= "padding-top: 14px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>
            The meeting on the System of Population and Social Statistics and its relevance for today will trace the evolution of social 
            and demographic statistics since the 1940s, and their scope and position in the 2025 SNA.
            </p>
            
            <br>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
    <!--
            <h4 class="events">
                <b>Tuesday, 1 November 2022 | 7:00 am - 10:00 am</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Opening remarks and objectives of the meeting</h5>
                    
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Andre Loranger, Assistant Chief Statistician, Strategic Data Management, Methods and Analysis, Statistics Canada </li><br>                       
    
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:10 am - 7:30 am </h5>
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Tour de table for introduction of members</h5>                                                             
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:30 am - 9:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Progress report and 2023 work plan </h5>
                        <p>This session will discuss the outcomes of the following completed and ongoing sprints, and how the outcomes can be 
                            incorporated into the 2023 work plan of the Network:
                            
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Network-first-meeting-agenda-cover-note-agenda-item-3.pdf" target= "_blank"> Cover-note <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li> 
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Joint-Task-Team-on-Access-to-Privately-Held Data_v2.pdf" target= "_blank"> Data access sprint - Lianne Ippel, Statistics Netherlands <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li> 
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Regional-consultations-Network-meeting-final.pdf" target= "_blank"> Organizational sprint - user consultation - Ivo Havinga, Consultant <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>                                
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Beyond GDP sprint - Richard Heys, Office for National Statistics UK</a> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                                    <ul>
                                        <li>&#x2022; <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Network-Frist-Meeting-UNECE-Heys-final-item-3e.pdf" target= "_blank" > Delivering the UN Network of Economic Statisticians &#39; Beyond GDP Vision</a> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                                        <li>&#x2022; <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/NetworkFirstMeeting-Item-3d-Network-Beyond-GDP-Prospectus-for-distribution-v2.pdf" target= "_blank" > A prospectus for an integrated statistical system for inclusive and sustainable wellbeing</a> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                                    </ul>
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Presentation-on-measuring-inflation-in-OOH_prices sprint_Nov-1.pdf" target= "_blank" > Measurement of Inflation of Owner-Occupied Housing in the CPI sprint - Heidi Ertl, Statistics Canada and Dragos Ifrim, Statistics Canada</a> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>                   
                        </p>                                                                     
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:30 am - 9:50 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Report to the 54th session of the Statistical Commission  </h5>
                        <p>This session will discuss the outline and elements of the report of the Network to the 54th session of the Statistical Commission. </p>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Network-first-meeting-agenda-cover-note-agenda-item-4.pdf" target= "_blank"> Cover-note <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>    
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <strong>Presenter:</strong> Aishath Shahuda Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</li>               
                                <ul>
                                    <li>&#x2022; <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Network-First-Meeting-UNSC-report-final-agenda-item-4.pdf" target= "_blank" > Draft Report of the Network of Economic Statisticians to the 54th Session of the Statistical Commission - <em>presentation</em></a> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                                    <li>&#x2022; <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/UNSC report 2023 of the Network-network meeting-v0_JC.pdf" target= "_blank" > Draft Report of the Network of Economic Statisticians to the 54th session of the Statistical Commission - <em>report</em></a> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                                </ul>
                        </p>               
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:50 am - 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Concluding remarks </h5>
                        @*<ul> 
                            <li>Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada</li> 
                            <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        </ul>*@
                                                                       
                </div>
            </div> 
            <br>
            <div class="row">
                <div class="col-md-3">                
                </div>
                <div class="col-md-9">
                    <br>
                    <h5><b>Related Documentations</b></h5>
                        Download all available presentations for the sixth meeting of the beyond GDP sprint<br>
                        
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/SixthMeetingGDPSprint/Sprint-6-documents.zip" target="_blank" >Beyond GDP sprint sixth meeting slide pack <i class="fa fa-file-archive-o" aria-hidden="true"></i> </a>
                        
                <br>
                <br>
                </div>
            </div>
        -->
        </div>
    
    </div>
    

