
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Second Meeting of Beyond GDP Sprint 2023";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}
<!--
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
        <li class="breadcrumb-item active" aria-current="page">Network First Meeting</li>
    </ol>
</nav>
-->
<div style= "margin-left:-10px;margin-top:-18px;">
<ul class="list-inline benefits">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
                <li class="breadcrumb-item active" aria-current="page">Second Meeting of Beyond GDP Sprint 2023</li>
            </ol>
    </nav> 
</ul>
</div>

<div class="content-section" style="margin-top:-1px;">
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="&#169;UN Photo/Mark Garten" src="~/groups/NetEconStat/img/BeyondGDP2023-2c.png"> 
            @*<img alt="" src="~/Assets/img/BeyondGDP2023-2c.png">*@
            
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>

<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style= "padding-top: 15px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p> The meeting on Consulting Users on Wellbeing Themes will provide users with a picture of key advances being made at the UN, 
                in Europe and in respect to key topics, alongside showcasing how countries can combine and use existing metrics to better 
                understand the themes that are important in the context of measuring and tracking well-being. Speakers include:
                <ul class="list-unstyled">
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Anu Peltola, Senior Statistician, UNCTAD</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Rutger Hoekstra, Associate Professor, Leiden University</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Jonathan Barth, Co-Founder and Policy Director, Zoe Institute for Future-Fit Economies</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Gerard Eding, Director, National Accounts, Statistics Netherlands</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Cliodhna Taylor, Assistant Deputy Director and Head of Research Partnerships, UK Office for National Statistics, and</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Graciela Marquez, President, INEGI</li>
                </ul>
            </p>
            
            <br>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in" class="margin-top=18px;">
        <div class="margin-bottom:30px;"></div>
    
            <h4 class="events">
                <b>15 June 2022 | 8:00 am - 10:30 am (New York Time)</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:00 am - 8:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Introduction, welcome remarks, and scene-setting</h5>
                    <ul class = "list-unstyled" style = "padding-left:18px; text-indent: -8px;"> 
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Introductions and Welcomes (<em>5 minutes</em>)</li>
                        <li style="margin-left:8px;">Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        <li></li> 
                        <li ><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Recap from Session 1 - 1st June on Updating social perspectives of wellbeing and the relevance of past and present UN work for today</li>                       
                        <li style="margin-left:8px;"><b>Presenter</b>: Richard Heys, Deputy Chief Economist, UK Office for National Statistics (<em>15 minutes</em>) </li> 
                        <li style="margin-left:8px;"><b>Presentation</b>:<a href="~/groups/NetEconStat/Meetings/GDPSprint2023SecondMeeting/RDH-UNNES-Sprint-June-2023.pdf" target="_blank" >Beyond GDP Sprint Two Second Session   <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"> </a></i></li>
 
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:10 am - 8:55 am </h5>                   
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Update on progress through the United Nations and Horizon research processes </h5>                                                             
                    <p><b>Chair:</b> Mr. Stefan Schweinfest, Director of United Nations Statistics Division</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Valuing What Counts </li> 
                        <li style="margin-left:17px;"><b>Presenter</b>: Anu Peltola, Senior Statistician, UNCTAD (<em>15 minutes</em>)</li>                       
                        <li style="margin-left:17px;"><b>Presentation</b>:<a href="~/groups/NetEconStat/Meetings/GDPSprint2023SecondMeeting/BeyondGDP_Presentation-Sprint_2023_06_15.pdf" target="_blank" > Valuing What Counts  <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"> </a></i></li>
                        <li></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Synthesis of Beyond GDP Metrics  </li>
                        <li style="margin-left:17px;"><b>Presenter</b>: Rutger Hoekstra, Associate Professor, Leiden University (<em>15 minutes</em>)</li>
                        <li style="margin-left:17px;"><b>Presentation</b>:<a href="~/groups/NetEconStat/Meetings/GDPSprint2023SecondMeeting/Synthesis-of-Beyond-GDP-Metrics_Rutger.pdf" target="_blank" > Synthesis of Beyond GDP Metrics  <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"> </a></i></li>
                        <li></li>
                        <li ><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Discussion (<em>15 minutes</em>)</li>
                    </ul>               
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:55 am - 9:40 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Conceptual Perspectives and the European perspective</h5>
                    <p><b>Chair:</b> Richard Heys, Deputy Chief Economist, UK Office for National Statistics</p>   
                        
                    <ul class="list-unstyled">
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>GDP lock-in and the European dimension</li>
                            <li style="margin-left:17px;"><b>Presenter</b>: Jonathan Barth, Co-Founder and Policy Director, Zoe Institute for Future-Fit Economies (<em>15 minutes</em>) </li> 
                            <li style="margin-left:17px;"><b>Presentation</b>:<a href="~/groups/NetEconStat/Meetings/GDPSprint2023SecondMeeting/ZOE-Slides_UNNES-Beyond-GDP-sprint.pdf" target="_blank" > UNNES Beyond GDP Sprint  <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"> </a></i></li>
                            <li></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The importance of Here & Now, the future and elsewhere </li> 
                            <li style="margin-left:17px;"><b>Presenter</b>: Gerard Eding, Director, National Accounts, Statistics Netherlands (<em>15 minutes</em>) </li>                                
                                                        <li style="margin-left:17px;"><b>Presentation</b>:<a href="~/groups/NetEconStat/Meetings/GDPSprint2023SecondMeeting/UNNES-Beyond-GDP-15-June-2023-Gerard-J-Eding.pdf" target="_blank" > The importance of Here & Now, the Future and Elsewhere  <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"> </a></i></li>
                            <li></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Discussion (<em>15 minutes</em>) </li>                   
                    </ul>                       
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:40 am - 10:25 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Wider perspectives on measuring wellbeing</h5>
                    <p><b>Chair:</b> Richard Heys, Deputy Chief Economist, UK Office for National Statistics</p>   
                        
                    <ul class="list-unstyled">
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Understanding capitals </li>
                            <li style="margin-left:17px;"><b>Presenter</b>: Ms. Cliodhna Taylor, Assistant Deputy Director and Head of Research Partnerships, UK Office for National Statistics (<em>15 minutes</em>) </li> 
                            <li style="margin-left:17px;"><b>Presentation</b>: <a href="~/groups/NetEconStat/Meetings/GDPSprint2023SecondMeeting/Cliodhna_Taylor_ONS_Understanding_Capitals.pdf" target="_blank" > Understanding Capitals <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>
                            <li></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Using existing Mexican measures of wellbeing </li> 
                            <li style="margin-left:17px;"><b>Presenter</b>: Graciela Marquez, President, INEGI (<em>15 minutes</em>) </li>                                
                            <li style="margin-left:17px;"><b>Presentation</b>: <a href="~/groups/NetEconStat/Meetings/GDPSprint2023SecondMeeting/NES-Wellbeing-Users-Beyond-GDP-INEGI-Mx-2023.pdf" target="_blank" > Improving Well-being Metrics in Mexico Through User Engagement <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>
                            <li></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Discussion (<em>15 minutes</em>) </li>                   
                    </ul>                       
                </div>

            </div>         
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i>10:25 am - 10:30 am</h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Summary by Richard Heys (<em>5 minutes</em>)</h5>                                                           
                </div>
            </div> 
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i>10:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn</h5>                                                           
                </div>
            </div>
    
        </div>
        <br>
    </div>
    

