
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "First Meeting of Beyond GDP Sprint 2023";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<div style= "margin-left:-10px; margin-top:-15px;">
<ul class="list-inline benefits">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
                <li class="breadcrumb-item active" aria-current="page">First Meeting of Beyond GDP Sprint 2023</li>
            </ol>
    </nav> 
</ul>
</div>

<div class="content-section" style="margin-top:-5px;">
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            @*<img alt="" src="~/groups/NetEconStat/img/BeyondGDP2023-1.png">*@ 
            <img alt="" src="~/Assets/img/BeyondGDP2023-1.png">
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>

<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style= "margin-top: 13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            
            <p>This first meeting of Beyond GDP 2023 Sprint series will look at initiatives to measure and monitor people wellbeing and quality of life. In particular, 
                the meeting will take stock of the evolution of social and demographic statistics, from measuring living conditions to measuring inclusive and sustainable 
                economic and social development, based on a review of the UN Statistical Commission's decisions since its inception in 1947. This sprint will also be an 
                opportunity to re-address the question of the need for a <i><b>System of Population and Social Statistics</i></b>, and discuss the system scope and relevance to the 2025 
                SNA. Finally, this sprint will review Beyond GDP initiatives and perspectives from WHO, ILO and the UN Regional Commission for Africa.</p>
            
            <br>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom:20px;"></div>
    
            <h4 class="events">
                <b>1 June 2023 | 7:00 am - 9:30 am</b><br> 
                <b>Virtual Meeting</b>
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Introduction, welcome remarks and scene-setting</h5>
                    <p><b>Chair:</b> Francesca Grum</p>
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Stefan Schweinfest, Director of United Nations Statistics Division                      
                    </p>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:10 am - 8:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Evolution of social and demographic statistics and its impact  on current and future priorities </h5>                                                             
                    <p><b>Chair:</b> Stefan Schweinfest</p>
                    <p>This session overviews the evolution of social and demographic statistics over the past 70 years  and brings back the question of developing  a system of population and social statistics to improve 
                        this critical statistical domain.</p>
                    
                    <li style = "padding-left:18px; text-indent: -10px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b> The evolution of social and demographic statistics through the lens of the UN Statistical Commission since 1948</b></li>
                    <li style="margin-left:20px;"><strong>Presenter:</strong> Francesca Grum, Chief, Demographic and Social Statistics Branch, United Nations Statistics Division</li>    
                    <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Beyond-GDP-June-1-UNSD_Final.pdf" target="_blank" >Social and Demographic Statistics: an overview of discussions and decisions at the UN Statistical Commission, since 1947  <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b> The potential scope and purpose of the System of Population and Social Statistics</b></li>
                    <li style="margin-left:20px;"><strong>Presenter:</strong> Ivo Havinga, Independent expert, former staff member United Nations Statistics Division</li>               
                    <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Towards-a-System-of-Population-and-Social-Statistics-and-Accounts.pdf" target="_blank" >Towards a System of Population and Social Statistics  <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li> 
                    
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:00 am - 8:25 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Well-being and sustainability in the 2025 SNA </h5>
                    <p><b>Chair:</b> Ivo Havinga</p>
                    <p>This session overviews the well-being and sustainability component of the work to update the 2008 SNA. </p>
                            
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>The &#39;SNA&#39; Domains &#8259; what is the proposal for 2025 SNA? </b></li>
                    <li style="margin-left:20px;"><strong>Presenter:</strong> Catherine van Rompaey, Principal Economist, World Bank and Jorrit Zwijnenburg, Head of Sectoral and National Accounts, Organisation for Economic Co-operation and Development.</li>                                
                    <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Beyond-GDP-Sprint-meeting-1-June-2023-World-Bank-and-OECD.pdf" target="_blank" >Enhancing and broadening the SNA framework for household well-being and sustainability  <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>                                                           
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:25 am - 9:25 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Perspectives on Beyond GDP </h5>
                    <p><b>Chair:</b> Francesca Grum</p>
                    <p>This session provides an overview of perspectives on the Beyond GDP initiative from the World Health Organization, 
                        International Labour Organization, and Economic Commission for Africa. </p>
                    <p>
                    
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Beyond GDP  from the perspective of WHO Statistics </b></li>
                        <li style="margin-left:20px;"><strong>Presenter:</strong> Steven MacFeely, Director of Data and Analytics, World Health Organization</li>
                        <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/June-2023-Beyond-GDP-Sprint-2-Health.pdf" target="_blank" >Health Statistics and Accounts   <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Beyond GDP  from the perspective of ILO Statistics </b></li>
                        <li style="margin-left:20px;"><strong>Presenter:</strong> Rafael Diez de Medina, Chief Statistician and Director of the Department of Statistics, International Labour Organization</li>                                
                        <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Beyond-GDP-ILO-perspetive.pdf" target="_blank" >Beyond GDP, ILO&#8217;s perspective   <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Beyond GDP  in the African region from the perspective of UN ECA Statistics</b></li>
                        <li style="margin-left:20px;"><strong>Presenter:</strong> Oliver Chinganya, Director, African Centre for Statistics, Economic Commission for Africa</li>
                        <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Demographic-and-social-statistics-in-Africa.pdf" target="_blank" >Development and Evolution of Demographic and Social Statistics in Africa <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>
                    </p>
                                 
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:25 am - 9:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Summary by Stefan Schweinfest  </h5>                                                                       
                </div>
            </div> 

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:30 am</h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Meeting Adjourn </h5>                                                                      
                </div>
            </div>

            
           
            <div class="row" style="margin-bottom:10px;">                
                <div class="col-md-3">                
                </div>
                <div class="col-md-9"; style="margin-top:-5px;">
                
                <hr style ="height:2px;border-width:0;color:gray;background-color:gray">
                    <h5><b>Related Documentations</b></h5>        
                    <li><a href="https://www.un.org/en/content/common-agenda-report/assets/pdf/Common_Agenda_Report_English.pdf" target="_blank" >Our Common Agenda   <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="https://www.un.org/sites/un2.un.org/files/our-common-agenda-policy-brief-beyond-gross-domestic-product-en.pdf" target="_blank" >Our Common Agenda Policy Brief 4: Valuing What Counts: Framework to Progress Beyond Gross Domestic Product   <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Stone-SSDS-1974-450-Social-Indicators-E.pdf" target="_blank" >System of Social and Demographic Statistics (SSDS): Draft Guidelines on Social Indicators  <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></li>
                    <li><a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Series-F_18E-Stone-System-of-Social-and-Demographic-Statistics.pdf" target="_blank" >Towards A System of Social and Demographic Statistics <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="https://unstats.un.org/unsd/nationalaccount/snaupdate/wstt.asp" target="_blank" >Wellbeing and Sustainability Task Team (WSTT)  <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="https://unstats.un.org/UNSDWebsite/statcom/session_54/documents/BG-3d-NetEcoStats-beyond%20GDP-E.pdf" target="_blank" >A Research Prospectus for an Integrated Statistical Framework for Inclusive and Sustainable Wellbeing  <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Beyond-GDP-Sprint-meeting-1-June-2023-All-presentations.zip" target="_blank" >All presentations  <i class="fa fa-file-archive-o" aria-hidden="true" style ="color:red"></i></li> 
                <br>
                <br>
                </div>
            </div>
        
        </div>
    
    </div>
    

