
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ";
    Page.Title = "Network of Economic Statisticians";
    //Page.Subtitle = "Fifth Meeting of the beyond GDP sprint";
    Page.SubtitleLink ="~/index.cshtml";
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@
<!-- ======= CAROUSEL ==========-->
@*
<div id="myCarousel" class="owl-carousel-v4">
  <h4><a href="/business-stat/">Business-stats </a>
  <i class="fa fa-angle-right color-black margin-left-5"> GVC</i></h4>
    <div class="owl-slider-unsd-dssb">
    <div class="item active">
      <a href="https://unstats.un.org/unsd/trade/events/2017/luxembourg/default.asp">
        <img src="~/assets/img/Luxembourg_StockSnap_1.jpg" alt="Luxembourg">
<!--    <div class="carousel-caption">
          <br>
          <h3 class="ccheader" style="color:#fff;" align="center">Seminar on Accounting for Global Value Chains </h3>
          <em class="venue-header">Luxembourg</em>
          <br>

          <ul class="side-event-page-info list-inline">
            <li class="event-date datecolor"><i class="ccicon fa fa-calendar fa-fw"></i> &nbsp;6-8 June 2017</li>
          </ul>
        </div>
-->
      </a>
    </div>
  </div>
</div>
*@
<div align="center">
    <h2>Fifth Meeting of the beyond GDP sprint</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 5 May 2022</li>
    </ul>
</div>

<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="SDG at UN" src="~/groups/NetEconStat/img/BeyondGDPSprint5.png">
            @*<img alt="" src="~/img/BeyoundGDPSprint_5_Sdg_UN.png">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@

    <div align="left">  
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fifth Meeting of the beyond GDP sprint</li>
        </ol>
    </nav>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<br>

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>
<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>The meeting will discuss the Mapping of <q>Beyond GDP</q> Indexes, Indicator Frameworks, Wealth, and Health Approaches. </p>
    <br>
    </div>

<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>Thursday, 5 May 2022: 7:00 am - 10:00 pm (New York time)</b></h4>
            <br>                                  
                <b> Chair:</b>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Richard Heys, UK Office for National Statistics<br>
            
            <br>                
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:20 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks, and scene-setting </h5>
                    <p>                        
                        <li>Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        <li>Richard Heys, UK Office for National Statistics  </li>
                    </p>
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>UN Secretary General&#39;s Beyond GDP initiative 
                        @*<a href="https://www.un.org/en/development/desa/population/publications/pdf/development/NTA_Manual_04Sept2013.pdf" target="_blank" > National Transfer Accounts Manual (2013) </a> in different world regions.*@
                        <br>
                        <i><b>Presenter:</b></i> Stefan Schweinfest, United Nations Statistics Division  <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/Network-Economic-Statisticians-Beyond-GDP-Sprint-5-May-2022-Setting-the-scene.pdf" target="_blank" > UN Secretary General&#39;s Beyond GDP initiative</a>
                    </p>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:20 am - 8:10 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: Multidimensional Dashboards Approaches</h5>
                    <p>

                        This session overviews dash-board based approaches. 
                    </p>
                    
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Changing Wealth of Nations Report : Data needs and issues<br>  
                        <i><b>Presenter:</b></i> Rikke Munk Hansen, Director, Statistics Division, United Nations Economic and Social Commission for Asia and the Pacific <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/ESCAP-Global-trends-and-SDG-framework-5May2022.pdf" target="_blank" > Global trends and the SDG framework: 
                                Data needs and issues </a>
                    </p>
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> The assessment of the various multidimensional vulnerability indexes initiatives and their future development<br>  
                        <i><b>Presenter:</b></i> Anya Thomas and Lurent Wagner, United Nations Department of Economic and Social Affairs (UNDESA) <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/MVI-Report-Presentation-5th-Sprint-Meeting.pdf" target="_blank" > Possible Development and Uses 
                                                    of Multi-Dimensional Vulnerability Indices </a>
                    </p>
                     
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>  The monitor of wellbeing in terms of the economy, the environment and society, and Dutch progress towards achieving the United Nationsl&#39; 
                        SDGs<br>  
                        <i><b>Presenter:</b></i> Jan Pieter Smits, Statistics Netherlands, and University of Eindhoven<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/Presentation_UN_May5th2022_JPSmits.pdf" target="_blank" > The Dutch Monitor of Wellbeing and the SDG&#39;s </a>
                    </p>
                     
                    @*
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The estimation and use of the <a href="https://www.un.org/en/development/desa/population/publications/pdf/development/NTA_Manual_04Sept2013.pdf" target="_blank" > National Transfer Accounts Manual (2013) </a> in different world regions.
                    
                        <i><b>Presenters:</b></i> Mun Sim Lai and Tim Miller, UN Population Division<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/S2-Age-Tim-Nicole-Version1.pdf" target="_blank" > National Transfer Accounts:
                                            Disaggregating National Accounts by age </a>
                    </p>
                    *@
                                                                           
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:10 am - 8:30 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: Capabilities Approach</h5>
                        <p>
                        
                        This session overviews the Human Development Index approach.
                        </p>
                        <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Presentation on inequality, uncertainties, opportunities, and human development<br>  
                        <i><b>Presenter:</b></i> Pedro Concei&#231;&#227;o Director, Human Development Report Office  <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/HD-metrics-5-May-22.pdf" target="_blank" > Inequality, uncertainties, opportunities, and human development  </a>
                    </p>
                                                     
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:30 am - 8:35 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Break </h5>
                                                                                        
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:35 am - 9:25 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4: Wealth and Equivalent Incomes Approaches</h5>
                    <p>
                        
                        This session overviews wealth-based approaches.
                    </p>

                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Changing Wealth of Nations Report.<br>  
                        <i><b>Presenter:</b></i> Grzegorz Peszko and James Cust, World Bank<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/CWON-2021-UN-presentation-May5-2022.pdf" target="_blank" > The Changing Wealth of Nations 2021 </a>
                    </p>
                    <p> 
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Inclusive Wealth approach<br>
                        <i><b>Presenter:</b></i> Sir Partha Dasgupta, Cambridge University <br>
                        @*<i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/Session4-SES-Alexia-Version2.pdf" target="_blank" > Capturing wellbeing by 
                                disaggregating NTA and NTTA </a> *@
                    </p>
                    <p> 
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Flow measures equivalent to Inclusive Wealth<br>
                        <i><b>Presenter:</b></i> Richard Heys, UK Office for National Statistics <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/Inclusive_Wealth_slides_May_2022.pdf" target="_blank" > Flow Measures on a consistent basis to Inclusive Wealth </a> 
                    </p>
                                                      
                </div>
            </div>
            
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:25 am - 9:45 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5: Health and Environment Approach </h5>
                    <p>
                        This session overviews frameworks which bring health economics and environmental perspectives together. 
                    </p>
                    
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Health economics, health and climate change<br> 
                    <i><b>Presenters:</b></i>  Steve MacFeely, World Health Organisation <br>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; Ms. Ritu Sadana. Head, WHO Secretariat, WHO Council on the Economics of Health for All <br>

                    <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/Towards-the-2025-SNA.pdf" target="_blank" > Towards the 2025 SNA:
                                                a WHO perspective </a>
                    </p>
                                                     
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:45 am - 10:00 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 6: Consolidating discussion, next steps, and closing remarks </h5>
                    <p>
                       
                        This session will deliver an opportunity to briefly synthesize the indicator and wellbeing frameworks, capabilities indices, inclusive wealth approaches, 
                        equivalent incomes models, and economics of health for all approach. 
                    </p>
                    
                    <p>
                        <ul>
                            <li>&#x2022; Are there common opportunities and challenges across the different types of approach?  </li>
                            <li>&#x2022; What should we prioritise in any future work? </li>
                        </ul>
                   
                    </p>                                  
                </div>
            </div>
            
            <br>
            <br>


            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn </h5>                                                      
                </div>
            </div>           
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">           
                </div> 
           
                <div class="col-md-9">
                    <h5 style="font-weight:bold"><b> Related Documentations</b></h5>
                    <p> Download all available presentations for the fifth meeting of the beyond GDP sprint</p>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/Beyond_GDP_5th_meeting_Slide_Pack.zip" target="_blank" style="color:#5b92e5" > Beyond GDP Sprint Fifth Meeting slide pack</a> <i class="fa fa-file-archive-o" aria-hidden="true"></i></li>
                        </ul>
                    <br>
                </div>
            </div>
    </div>           
</div>
<br>

