
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ";
    Page.Title = "United Nations Network of Economic Statisticians";
    Page.SubTitle = "Beyond GDP Sprint";
}

@*
    <div align="center">
        <h2>United Nations Network of Economic Statisticians</h2>
    </div>
*@
<!-- ======= CAROUSEL ==========-->
@*
    <div align="left">
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">First Meeting of the beyond GDP sprint</li>
      </ol>
    </nav>
    </div>
*@
<div align="center">
    <h2>
        United Nations Network of Economic Statisticians
        <br>
        Second Beyond GDP Sprint Meeting
    </h2>
    <h4>
        Distributional and Wellbeing Initiatives
        <br>associated with the Update of the System of National Accounts
    </h4>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 24 March 2022</li>
    </ul>
</div>
<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="" src="~/groups/NetEconStat/img/SDG_UNHQ.png">
            @*<img alt="" src="~/img/SDG_9.png">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
        "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@

    <div align="left">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Second Meeting of the beyond GDP sprint</li>
            </ol>
        </nav>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<br>

<div class="tab-v1">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
        <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>

    </ul>
</div>
<br>

<div class="tab-content">
    <!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
        <p>
            The meeting aims to share ideas, strategies, and examples from the ongoing work that is central to the SNA research agenda on distributional accounts.
        </p>

        <br>

    </div>

    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        @*<div class="margin-bottom-30"></div>*@
        <div class="row">
            <div class="col-md-12">
                <h4><b> Thursday, 24 March 2022, 7:00 am - 10:00 am (New York time) </b><br>
                Chair, Erich Strassner, United States
                </h4>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:05 am</h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks, and scene-setting </h5>
                <ul>

                    <li>Stefan Schweinfest, Director of United Nations Statistics Division</li>
                    <li>Erich Strassner, Associate Director, U.S. Bureau of Economic Analysis </li>
                </ul>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:05 am - 7:30 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 2: System of National Accounts Update and Broader Framework for Sustainability and Wellbeing </h5>
                <p>This session overviews the SNA update, with a particular focus on Sustainability and Wellbeing.</p>
                <ul>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        <a href="~/groups/NetEconStat/Meetings/GDPSprintSecondMeeting/Beyond_GDP_2nd_meeting_session_2_SNA_update.pdf" target="_blank" style="color:#5b92e5">Presentation by Peter van de Ven, Lead Editor SNA Update <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i></a>
                    </li>
                    @*<li><i><b>Presenter:</b></i>  Jonathan Haskel, Imperial College, London </li>*@
                    @*<li><i><b>Documentation</b></i>:<a href="https://unstats.un.org/unsd/statcom/groups/FOCG_Econ/UNSC_FOCG_Economic_Statistics_TOR.pdf" target="_blank"> Terms of reference for the Network<i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>*@

                    @*
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                                Terms of Reference for the Network <br>
                                Based on the FOCG report, a draft Terms of Reference has been prepared to help shape discussion. This will be presented
                                and discussed.</li><br>


                                <li><i>Presenters:</i> Presentation 1 by United Kingdom<br>
                                    &emsp;&emsp;&emsp;&emsp;&emsp; Presentation 2 by the Netherland</li>
                    *@
                </ul>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:30 am - 7:55 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 3: OECD-Eurostat Expert Group on Disparities in National Accounts </h5>
                <p>This session overviews the work carried out by the expert group on distributional national accounts, offering reflections on the initiative, best practices, successful strategies, challenges, and opportunities for the future, etc. </p>
                <ul>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        <a href="~/groups/NetEconStat/Meetings/GDPSprintSecondMeeting/Beyond_GDP_2nd_meeting_session_3_EG_disparities.pdf" target="_blank" style="color:#5b92e5">
                            Presentation by Jorrit Zwijnenburg, OECD
                            <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                    @*
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Input for the UNSC report </li>
                    *@
                    @*<li><i><b>Presenter:</b></i> John Mitchell, OECD <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp; Country Presentation: Sean Crick, Australian Bureau of Statistics </li>*@
                </ul>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:55 am - 8:20 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 4: ECB Expert Group on Distributional Financial Accounts </h5>
                <p>This session overviews the worked carried out by the expert group on distributional financial/wealth accounts, offering reflections on the initiative, best practices, successful strategies, challenges, and opportunities for the future, etc.</p>
                <ul>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                        <a href="~/groups/NetEconStat/Meetings/GDPSprintSecondMeeting/Beyond_GDP_2nd_meeting_session_4_EG_distributional_financial_accounts.pdf" target="_blank" style="color:#5b92e5">
                            Presentation by Pierre Sola, European Central Bank <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>

                    @*<li><i><b>Presenter:</b></i> Bram Edens, Environmental Statistics and Geospatial Information Branch, United Nations  <br>*@

                </ul>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:20 am - 8:30 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Break </h5>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:30 am - 8:55 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 5: Distributions of Personal Income for the United States </h5>
                <p>The U.S. Bureau of Economic Analysis will overview its distributional accounts.</p>
                <ul>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSecondMeeting/Beyond_GDP_2nd_meeting_session_5_US.pdf" target="_blank" style="color:#5b92e5">
    Presentation by Marina Gindelsky, United States <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i></a>
                    </li>
                    @*<li><i><b>Presenter:</b></i> Mr. Gueorguie Vassilev, UK Office for National Statistics </li>*@
                </ul>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:55 am - 9:20 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 6: Distributional National Accounts for Costa Rica </h5>
                <p>The Central Bank of Costa Rica will overview its distributional accounts initiative.</p>

                <ul>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSecondMeeting/Beyond_GDP_2nd_meeting_session_6_Costa_Rica.pdf" target="_blank" style="color:#5b92e5">
                                Presentation by Gabriela Saborío Muñoz & Henry Vargas Campos, Costa Rica <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i></a>
                    </li>
                    @*<li>- &emsp;Do we agree there is a challenge in measuring modern capitals?</li>
                        <li>- &emsp;Are there common challenges across the different types of capitals we have discussed today?</li>
                        <li>- &emsp;What should we prioritise in any future work on measuring modern capitals?</li>*@
                </ul>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:20 am - 9:45 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 7: Measuring Market Inequality and Redistribution Accounting</h5>
                <p>The National Institute of Statistics and Economic Studies (INSEE) of France will overview Market Inequality and Redistribution Accounting for In-kind benefits from Heath and Education.</p>
                <ul>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSecondMeeting/UN_Sprint_DNA_03242022_FV.pdf" target="_blank" style="color:#5b92e5">
                            Presentation by Jean-Marc Germain, France <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:45 am - 10 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Session 8: Consolidating discussion, next steps, and closing remarks</h5>
                <p>This session will deliver an opportunity to briefly synthesize the conversation and identify common themes and proposed next steps</p>
                <ul>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Are there common opportunities and challenges across the different types of distributional initiatives?
                    </li>
                    <li>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>What should we prioritise in any future work on distributional accounts?</i>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <h5 class="events-time"><i class="fa fa-clock-o"></i> 10 am </h5>
            </div>

            <div class="col-md-9">
                <h5 style="font-weight:bold">Adjourn </h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">           
            </div> 
           
            <div class="col-md-9">
                <h5><b>Related Documentations</b></h5>
                    <p>Download all available presentations for the second meeting of the beyond GDP sprint</p>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSecondMeeting/Beyond_GDP_2nd_meeting_Slide_Pack.zip" target="_blank" style="color:#5b92e5" > Beyond GDP Sprint Second Meeting slide pack</a> <i class="fa fa-file-archive-o" aria-hidden="true"></i></li>
                        </ul>
                    <br>
            </div>
        </div>
    </div>
</div>