
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ";
    Page.Title = "Network of Economic Statisticians";
    //Page.Subtitle = "Third Meeting of the beyond GDP sprint";
    Page.SubtitleLink ="~/index.cshtml";
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@
<!-- ======= CAROUSEL ==========-->
@*
<div align="left">  
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">First Meeting of the beyond GDP sprint</li>
  </ol>
</nav>
</div>
*@
<div align="center">
    <h2>Third Meeting of the beyond GDP sprint</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 5 April 2022</li>
    </ul>
</div>
<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="" src="~/groups/NetEconStat/img/GDPsprintThirdMeeting.png">
            @*<img alt="" src="~/img/GDPsprintThirdMeeting.png">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-
     P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-
     qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@

    <div align="left">  
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Third Meeting of the beyond GDP sprint</li>
        </ol>
    </nav>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<br>

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>
<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>The meeting will discuss well-being initiatives associated with, and that extend, the System of National Accounts.
            </p>
    <br>
    </div>


<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>Tuesday, 5 April 2022: 7:00 am - 10:00 am (New York time)</b></h4>
            <br>                                  
                <b> Chair:</b>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Erich Strassner, Associate Director, U.S. Bureau of Economic Analysis<br>
            
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:05 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks and scene-setting presentation </h5>
                    <p>                        
                        <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        <li>Erich Strassner, Associate Director, U.S. Bureau of Economic Analysis </li>
                    </p>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:05 am - 7:30 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: Multi-dimensional Measures of living Standards and their Policy Use</h5>
                    
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                            This session overviews recent initiatives of the OECD Centre on Wellbeing, Inclusion, Sustainability, and Equal Opportunity. <br>
                            <i><b>Presenter:</b></i>  Fabrice Murtin, OECD <br>
                            <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/Beyond_GDP_Sprint_MDLS_Murtin.pdf" target="_blank" > Beyond GDP for policy use</a><br>
                    </p>
                    <p>
                            @*
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                                    Terms of Reference for the Network <br> 
                                    Based on the FOCG report, a draft Terms of Reference has been prepared to help shape discussion. This will be presented 
                                    and discussed.</li><br>                              
                                         
                                    
                                    <li><i>Presenters:</i> Presentation 1 by United Kingdom<br>  
                                        &emsp;&emsp;&emsp;&emsp;&emsp; Presentation 2 by the Netherland</li> 
                            *@
                        
                    <br>                                                       
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:30 am - 7:55 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: Measuring National Income Growth  </h5>
                        
                        <p>
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>This session overviews research on Measuring National Income Growth 
                            Democratically: Methods and Estimates for the United Kingdom.<br> 
                            @*
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Input for the UNSC report </li>
                            *@
                            <i><b>Presenter:</b></i> Martin Weale, King&#39;s College and Economic Statistics Centre of Excellence, United Kingdom<br>
                            <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/Weale-A-democratic-measure-of-national-income-growth.pdf" target="_blank" > A Democratic Measure of National
                                                Income Growth</a><br>     
                        </p>
                    <br>                                                                      
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:55 am - 8:20 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4: Measuring Wellbeing through the <q>Level of Living</q> </h5>
                    
                        <p> 
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>This session overviews research on wellbeing through the <q>level of living</q> 
                            framework by U.S. Bureau of Economic Analysis. <br> 
                        
                            <i><b>Presenter:</b></i> Jon Samuels, United States <br>
                            <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/ResearchLoL.pdf" target="_blank" > Measuring Aggregate Wellbeing through the <q>Level of Living</q> </a><br>        
                        </p>
                    <br>                                                   
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:20 am - 8:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Break </h5>
                <br>                                                   
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:30 am - 8:55 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5: Modernizing Time Use Surveys to Better Measure Wellbeing </h5>
                    
                        <p> 
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The session overviews efforts by the United Nations to modernize 
                            time-use surveys.<br>  
                            <i><b>Presenter:</b></i> Francesca Grum, United Nations<br>
                            <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/Beyond_GDP3_Modernizing_time_use_surveys_UNSD_Grum.pdf" target="_blank" > Modernizing time use surveys </a><br>
                        </p>
                    <br>                                                    
                </div>
            </div>    
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:55 am - 9:20 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 6: Measuring Unpaid Household Work </h5>
                                      
                        <p> 
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The session overviews measurement of wellbeing through development 
                            of a household production satellite account by Mexico&#39;s National Institute of Statistics and Geography <br> 
                            <i><b>Presenters:</b></i> Francisco Guillen and Raul Figueroa, Mexico<br>                                                              
                            <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/Unpaid_Household_Work_Mexico.pdf" target="_blank" > Unpaid Household Work Satellite
                                                        Account of Mexico </a><br>
                        </p>
                    <br>                                                    
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:20 am - 9:45 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 7: Modernizing Time Use Surveys to Measure Household Work </h5>
                    
                        <p> 
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>This session overviews time-use survey developments and Household 
                            Satellite Accounts by the U.K. Office of National Statistics. <br>
                            <i><b>Presenter:</b></i> John Marais, United Kingdom <br>
                            <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/Household_Satellite_Account_and_time-use.pdf" target="_blank" > Household Satellite Account
                                                and Time-use in the UK </a><br>
                        </p>
                    <br>                                                    
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:45 am - 9:50 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 8: Preview of Next Meeting: Population, Society, and Well-being: Socio-demographic disaggregation of National Accounts </h5>
                    
                        <p> 
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>This session overviews the fourth meeting of the Beyond GDP Sprint.<br>  
                            <i><b>Presenter:</b></i> Timothy Miller, United Nations <br>
                            <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/Session_8_April_5_Tim.pdf" target="_blank" > Sociodemographic
                                                    disaggregation of National Accounts </a><br>
                        </p>
                    <br>                                                    
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:50 am - 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 9: Consolidating discussion, next steps, and closing remarks  </h5>
                    
                        <p> 
                            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>This session will deliver an opportunity to briefly synthesize the conversation 
                            and identify common themes and proposed next steps. <br>    
                            - &emsp;Are there common opportunities and challenges across the different types of wellbeing initiatives?</li>
                            - &emsp;What should we prioritise in any future work on wellbeing accounts?<br>                    
                        </p>
                    <br>                                                    
                </div>
            </div>
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn </h5>
                                                                       
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">           
                </div> 
           
                <div class="col-md-9">
                    <h5 style="font-weight:bold"><b> Related Documentations</b></h5>
                    <p> Download all available presentations for the third meeting of the beyond GDP sprint</p>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintThirdMeeting/Beyond_GDP_3rd_meeting_Slide_Pack.zip" target="_blank" style="color:#5b92e5" > Beyond GDP Sprint Third Meeting slide pack</a> <i class="fa fa-file-archive-o" aria-hidden="true"></i></li>
                        </ul>
                    <br>
                </div>
            </div>                   
    </div>           
</div>
<br>

