
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ";
    Page.Title = "Network of Economic Statisticians";
    //Page.Subtitle = "Sixth Meeting of the beyond GDP sprint";
    Page.SubtitleLink ="~/index.cshtml";
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@
<!-- ======= CAROUSEL ==========-->
@*
<div id="myCarousel" class="owl-carousel-v4">
  <h4><a href="/business-stat/">Business-stats </a>
  <i class="fa fa-angle-right color-black margin-left-5"> GVC</i></h4>
    <div class="owl-slider-unsd-dssb">
    <div class="item active">
      <a href="https://unstats.un.org/unsd/trade/events/2017/luxembourg/default.asp">
        <img src="~/assets/img/Luxembourg_StockSnap_1.jpg" alt="Luxembourg">
<!--    <div class="carousel-caption">
          <br>
          <h3 class="ccheader" style="color:#fff;" align="center">Seminar on Accounting for Global Value Chains </h3>
          <em class="venue-header">Luxembourg</em>
          <br>

          <ul class="side-event-page-info list-inline">
            <li class="event-date datecolor"><i class="ccicon fa fa-calendar fa-fw"></i> &nbsp;6-8 June 2017</li>
          </ul>
        </div>
-->
      </a>
    </div>
  </div>
</div>
*@
<div align="center">
    <h2>Sixth Meeting of the beyond GDP sprint</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 31 May 2022</li>
    </ul>
</div>

<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="SDG at UN" src="~/groups/NetEconStat/img/E_SDG_poster_UN_emblem_PRINT 2022a.png">
            @*<img alt="" src="~/img/E_SDG_poster_UN_emblem_PRINT 2022a.png">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@

    <div align="left">  
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sixth Meeting of the beyond GDP sprint</li>
        </ol>
    </nav>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<br>

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>
<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>The meeting will discuss the summaries of the previous meetings and propose an outline of the next steps. </p>
    <br>
    </div>

<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>Tuesday, 31 May 2022: 7:00 am - 10:00 pm (New York time)</b></h4>
            <br>                                  
                <b> Chair:</b>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Stefan Schweinfest, Director of United Nations Statistics Division<br>
            
            <br>                
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks, and scene-setting </h5>
                    <p>                        
                        <li>Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        
                    </p>
                    
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:10 am - 7:40 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: What is the challenge <q>Beyond GDP</q> is trying to tackle?</h5>
                    <p>
                        This session overviews the key issues facing economic statisticians. 
                    </p>
                    
                    <p>
                        @*<i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Changing Wealth of Nations Report : Data needs and issues<br>*@  
                        <i><b>Presenters:</b></i> Ehsan Masood - author of <q>The Great Invention: The Story of GDP and the Making and Unmaking of the Modern World</q> <br>
                        @* <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFifthMeeting/ESCAP-Global-trends-and-SDG-framework-5May2022.pdf" target="_blank" > Global trends and the SDG framework: 
                                Data needs and issues </a> *@
                        <i><b>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></i> Rutger Hoekstra - author of <q>Replacing GDP by 2030</q> <br>
                    
                    </p>
                                                                                               
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:40 am - 8:15 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: Summaries of previous sessions </h5>
                        <p>                       
                        This session overviews the work of the sprint thus far.
                        </p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> The outcomes of the 1st Sprint on <q> Measuring Modern Capitals</q><br>
                        <i><b>Presenter:</b></i> Richard Heys, UK Office for National Statistics <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSixthMeeting/Sprint-6-MC-summary.pdf" target="_blank" > Modern Capital &ndash; Summary Slides </a>
                        
                        <br>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> The outcomes of the 2nd and 3rd sprints on <q> Distributional Accounts </q><br>
                        <i><b>Presenter:</b></i> Erich Strassner, US Bureau of Economic Analysis <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSixthMeeting/Beyond-GDP-Strassner-May31_v2.pdf" target="_blank" > Outcomes from Sessions on <q>Distributional Accounts</q> and on <q>Well-being initiatives 
                                                    Associated with and that extend the System of National Accounts</q> </a>
                        <br>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> The outcomes of the 4th sprint on Socio-demographic disaggregation of National Accounts<br>
                        <i><b>Presenter:</b></i> Tim Miller, United Nations Population Division <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSixthMeeting/tim-sprint6.pdf" target="_blank" > Takeaways and next steps from the 4th Sprint </a>
                        <br>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> The outcomes of the 5th sprint on Mapping <q>Beyond GDP</q> Indexes, Indicator Frameworks, Wealth, and Health Approaches <br>
                        <i><b>Presenter:</b></i> Richard Heys, UK Office for National Statistics <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSixthMeeting/Sprint-6-summary.pdf" target="_blank" > Mapping <q>Beyond GDP</q> Indexes, Indicator Frameworks, Wealth, and Health Approaches
                                                &ndash; Summary Slides </a> 
                        
                                                     
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:15 am - 8:25 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Break </h5>
                                                                                        
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:25 am - 9:50 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4: Plenary Discussion </h5>
                    <p>
                       This session will provide speakers of previous Beyond GDP Sprint meetings and other attendees to share their 
                       views against the following questions:
                       <ul>
                            <li> &#x2022; What are the most important lessons learnt from the sprint? </li>
                            <li> &#x2022; What are the key take-away messages from this sprint? </li>
                            <li> &#x2022; What are the key next steps for future sprints to prioritize? </li>
                            <li> &#x2022; Are there any key gaps in topics or attendees we need to address in future sprints? </li>
                        </ul>
                    </p>

                    <p>                
                        The plenary will be structured around the following themes and introductions:
                        <ul>
                            <li> &#x2022; Modern capitals: Josh Martin, Imperial College </li>
                            <li> &#x2022; Composite indexes: Fabrice Murtin, OECD WISE and Pedro Concei&#231;&#227;o, UNDP HDO </li>
                            <li> &#x2022; Disaggregated national accounts &#40;by age, gender, income, wellbeing, and other socio-economic characteristics&#41;:  Martin Weale , Kings College and Jon Samuels, US BEA </li>
                            <li> &#x2022; Multidimensional indicator frameworks: Jan Pieter Smits. Statistics Netherlands and Professor <q>measuring sustainability</q>, Eindhoven University </li>
                            <li> &#x2022; Inclusive and comprehensive wealth: Grzegorz Peszko and Jim Cust, World Bank </li>
                            <li> &#x2022; Time-use surveys: Francesca Grum , UNSD </li>
                            <li> &#x2022; Health-related measures: Ritu Sadana, Maksym Obrizan and Steve McFeely, WHO tbc </li>
                            <li> &#x2022; SG&#39;s Common Agenda: Anu Peltola, UNCTAD </li>
                        </ul>
                    </p>
                                                                          
                </div>
            </div>
            
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:50 am - 10:00 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5: Next steps, and closing remarks  </h5>
                    <p>
                        This session will deliver an opportunity for Stefan Schweinfest to formally close the sprint and lay out a brief outline of the next steps
                    </p>
                    
                    @*<p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Health economics, health and climate change<br> 
                    <i><b>Presenters:</b></i>  Steve MacFeely, World Health Organisation <br>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Ms. Ritu Sadana. Head, WHO Secretariat, WHO Council on the Economics of Health for All <br> *@

                    @*<i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/GDPSprintFourthMeeting/S5-Synthesis-Ron-Version1.pdf" target="_blank" > How the disaggregated NTAs combine 
                                        for a richer picture of the economy </a>*@
                    </p>
                                                     
                </div>
            </div>
            <br>    
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn </h5>
                <br>                                                       
                </div>           
            <br>
            <br>
            <div class="col-md-3">                
            </div>
            <div class="col-md-9">
                    <br>
                    <h5><b>Related Documentations</b></h5>
                        Download all available presentations for the sixth meeting of the beyond GDP sprint<br>
                        
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/GDPSprintSixthMeeting/Sprint-6-documents.zip" target="_blank" >Beyond GDP sprint sixth meeting slide pack <i class="fa fa-file-archive-o" aria-hidden="true"></i> </a>
                        
                <br>
                <br>
            </div>    
        </div>
    </div>           
</div>
<br>

