
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Housing Sprint Second Meeting";
    //Page.Subtitle = "Second Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI";
    Page.SubtitleLink ="~/index.cshtml";
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@

<!-- ======= CAROUSEL ==========-->
@*
<div align="center">
    <h2>First Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 22 June 2022</li>
    </ul>
</div>
*@

<div class="content-section" style="padding-bottom: 12px; padding-top: 0px;">
     <div align="left" >  
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Second Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI</li>
        </ol>
        </nav>
    </div>
    <div class="carousel-inner">
        <div class="item active">
            <a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>
            <img alt="Housing3" src="~/groups/NetEconStat/img/SDG primer cover2bs.jpg">
            @*<img alt="" src="~/img/SDG_primer_cover2a.png">*@
        </div>
    </div>  
</div>



<!-- ======= CAROUSEL ==========-->

<br>
<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>The second meeting will focus on the European experience in measuring owner occupied housing (OOH) costs in the consumer price index (CPI), 
                including the development of a harmonized index. Additionally, the plenary session will discuss the key elements that should become part 
                of a set of non-binding recommendations (to be developed in the third meeting) for compiling the OOH costs in the CPI. </p>
        <br>
        <div style="margin-bottom-30">
            <h5><b>Summary Report</b></h5>
            <h6><i class="fa fa-chevron-circle-right color-green margin-right-5" aria-hidden="true"></i> <a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/Summary-of-the-Second-Sprint-Meeting-on-the-Measurement-of-Inflation-of-OOH.pdf" target="_blank"><b> Summary Report of the Second Sprint Meeting on Measurement of OOH in the CPI </b> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></h6>
        </div>
    </div>

<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>Tuesday, 20 September 2022, 7:00 to 10:00am (New York time)</b></h4>
            <br>                                  
                <b> Chair:</b>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Chair Nada Hamadeh, Manager, Economic Data and Comparisons, World Bank<br>
            
            <br>                
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:15 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks, and scene-setting </h5>
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"> </i><b>Welcome remarks</b></h6>
                    <p> Ronald Jansen, Assistant Director of the UN Statistics Division and Chief of the Data Innovation and Capacity Management Branch </p>
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"> </i><b>Summary report from the First Sprint Meeting</b></h6>
                    <p>Frantisek Bernadic, Director of macro-economic statistics, Eurostat</p>


                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:15 am - 8:05 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: The OOH in the Harmonized CPI </h5>
                                       
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"> </i><b>Owner-Occupied Housing and the EU HICP</b>
                        <br>
                        The presentation will give an overview of past and present discussions in the European Statistical System on the inclusion of OOH in the Harmonised Index of Consumer Prices (HICP).
                        <br>
                        <i><b>Presenter: </b></i> Paul Konijn, Head of the Price Statistics, Purchasing Power Parities, Housing Statistics Unit at Eurostat <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/Eurostat_Presentation-UNNES_200922.pdf" target="_blank" > Owner-occupied housing and the EU HICP  </a>
                        <br>
                        <br>

                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Outcome of the 2021 Monetary Policy Strategy Review </b>
                        <br>
                        This presentation will provide an overview of the outcome of the 2021 Monetary Policy Strategy Review of the European Central Bank in the field of owner-occupied housing (OOH) and inflation measurement 
                        in the euro area. Aspects of the OOH analysis in the ECB, statistical challenges and ongoing analytical work in this field will be presented.
                        <br>
                         
                        <i><b>Presenter: </b></i> Stanimira Kosekova, Senior Economist-Statistician, Monetary and Economic Statistics Division, European Central Bank<br>
                       
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/HS_S2B_UN_Sprint_ECB_HICP-OOH_1.pdf" target="_blank" > ECB&#39;s Monetary Policy Strategy Review: OOH and inflation measurement </a>      
                    </p>                                                                                             
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:05 am - 8:15 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Break </h5>                                                                                
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:15 am - 9:30 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: European country experiences with measuring OOH</h5>
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Owner Occupied Housing in the Irish CPI</b><br>
                           The payments approach is currently used for owner occupied housing in the Consumer Price Index (CPI) in Ireland. The Central Statistics Office commissioned research to investigate and assess the potential 
                           of alternative measures for owner occupied housing in the Irish CPI. The outcomes from that research will be presented including the issues and limitations of the different approaches.
                           <br>
                           <i><b>Presenter: </b></i> Edel Flannery, Head of the Prices Division in the Central Statistics Office, Ireland<br>
                           <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/UN_Sprint_on_OOH_Ireland_20092022.pdf" target="_blank" > Owner Occupied Housing in the Irish CPI </a><br>
                           <br> 
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>The Treatment of Owner-Occupied Housing in the Finnish CPI</b><br>
                           In the Finnish CPI owner occupied housing is measured using the net acquisition approach. This presentation will cover the history of measuring OOH in the Finnish CPI and a brief description of the 
                           characteristics of Finnish housing markets as well as the data sources and methods used for measuring OOH
                           <br>
                           <i><b>Presenters: </b></i> Johanna Kaila and Kristiina Nieminen, Senior Statisticians, Statistics Finland<br>
                           <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/Finland_presentation.pdf" target="_blank" > The Treatment of Owner-Occupied Housing in the Finnish CPI</a></br>
                           <br>
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Owner Occupied Housing in The Netherlands</b><br>
                           In this presentation, we discuss the rental equivalence method employed by Statistics Netherlands to measure price changes of OOH and the reasons why this method is used in the Netherlands. A parallel is drawn 
                           with the current challenge of measuring energy contracts, in particular the existing and new contracts. <br>
                        <i><b>Presenter:</b></i> Carlo Driesen, Director of government statistics and consumer prices<br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/Netherlands_presentation.pdf" target="_blank" > Owner Occupied Housing in the CPI </a>
                        <br>
                                                                          
                </div>
            </div>
            
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:30 am - 9:50 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4 | Plenary Discussion </h5>
                    <p>A plenary discussion with a focus on drawing high level conclusions, leading to non-binding recommendations for compilers of OOH in the CPI.  </p>
                    <p>An internationally comparable CPI, which includes OOH, and is based on the CPI manual, is a desirable objective of all NSIs. The following, non-exhaustive, 
                        elements are proposed for consideration and discussion:
                        <ul style = "padding-left:18px; text-indent: -8px;">
                            <li>&#x2022; Defining the primary purpose of the CPI, based on user requirements, is key to determining how it should be compiled, including the OOH component </li>
                            <li>&#x2022; The availability of data, including new sources, is an important determinant of the method for measuring OOH in the CPI </li>
                            <li>&#x2022; Continuing to experiment with various methods of measuring the OOH in the CPI will improve the suite of indicators available to users</li>
                            <li>&#x2022; Clear and direct communication to users of what is being measured and how, will contribute to bridging the gap between measured and perceived inflation</li>                           
                        </ul>                  
                    </p>                                                     
                </div>
            </div>
            <br>    
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:50 am - 10:00 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5 | Consolidating discussion, next steps, and closing remarks  </h5>
                    <p>This session will briefly synthesize the conversation as well as provide a short introduction of the next 
                        meeting of the sprint. 
                    </p>
                                                     
                </div>
            </div>
         
            <br>


            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn </h5>                                                       
                </div>           
            <br>
            <br>
            
        </div>
    </div>           
</div>
<br>

