
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "First Webinar of Housing Sprint";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<ul class="list-inline benefits" style="margin-top:-20px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left:-10px;"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
            <li class="breadcrumb-item active" aria-current="page">First Webinar of Housing Sprint</li>
        </ol>
    </nav> 
</ul>

<!--     CONTENT      ---->

<div class="content-section" style = "margin-top: 9px;" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="First Webinar of Housing Sprint 2024" src="~/groups/NetEconStat/img/HousingSprint-Webinar 1.png" class="img-rounded"> 
            @* <img alt="" src="~/assets/img/HousingSprint-Webinar 1.png" class="img-rounded">*@
        </div>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style="padding-top:13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>

<br>

<!-- Overview tab -->
<div class="tab-content">
    <div id="Overview" class="tab-pane fade in active">
        <p>The complexity of measuring the different aspects of social, economic and environmental issues related to housing, such as construction, availability, 
            affordability, financing requires a framework which brings together these various  aspects. Setting up the measurement framework involves more than 
            simply listing the key outcome variables. It is also necessary to understand how to structure original data, to determine how different data sources 
            connect together, and to create tools to document these decisions, including supporting nomenclature.</p>  

        <p>The first webinar of the sprint will take a deep dive into Statistics Canada's framework for housing statistics, while also addressing the question 
            of why housing data matters from the point of view of policy makers and other users. </p>      
    </div>
    <br>

    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="well" style= "margin-top:-31px">
            <ul class="list-unstyled" style="margin-left:-15px; margin-bottom:15px">
                                
                      @*  <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session6-Network-meeting-conclusions.pdf" target= "_blank" style="color:blue">Network meeting conclusions</a></li>   *@             
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://youtu.be/Y2ZOY6YlXb0" target="_blank" style="color:blue">Housing SprintWebinar-1 Video </a><i class="fa fa-youtube-play" aria-hidden="true" style ="color:red;padding-left:10px"></i></li>
            </ul>            
        </div>
       <br>
     
        <div class="margin-bottom:30;margin-right:25px">
            <h4 class="events">
                <b> 26 June 2024 | 7:00 am - 9:30 am, New York time</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:20 am</h5>
                </div>

                <div class="col-md-12">
                    <h5 style="font-weight:bold">Session 1| Welcome and opening remarks, and scene-setting</h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>Introductions, welcome and objective of the webinar</strong></li>
                        <li style="margin-left:9px">Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        <li></li> 
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>Opening Remarks</strong></li>
                        <li style="margin-left:9px">Mr. Michal Mlyn&#225;r, UN Assistant Secretary-General and Acting Executive Director of UN-Habitat</li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:20 am - 8:35 am </h5>
                </div>
             
                <div class="col-md-12">
                    <h5 style="font-weight:bold">Session 2| Building the case for housing statistics - understanding user needs</h5> 
                    <p><b>Chair: </b><strong>Stefan Schweinfest</strong></p>                  
                    <ul style = "padding-left:16px; text-indent: -8px;"> 
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>Housing in the Context of the Maldives</strong></li>
                        <li style ="padding-left:0px;text-indent:1px"><b>Presenter: </b></strong>His Excellency Dr. Ali Haidar Ahmed, Minister of Housing, Land and Urban Development, Maldives </strong></li>                                                        
                        <li style ="padding-left:0px;text-indent:1px"><b>Presentation: </b><a href="~/groups/NetEconStat/Meetings/HousingSprintWebinar-1/Session2P-a-Housing-in-Maldives-24June24.pdf" target="_blank" style="color:blue">Housing in Maldives</a></li>
                    </ul>
                    <p style = "padding-left:16px;">This presentation will provide an overview of the housing conditions in the Maldives, related government policies, and the future of housing statistics in the country. </p>
                    
                    <ul style = "padding-left:16px; text-indent: -8px;"> 
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>Housing data for economic analysis</strong></li>
                        <li style ="padding-left:0px;text-indent:1px"><b>Presenter: </b>Dr. Kurt G. Usowski, Deputy Assistant Secretary for Economic Affairs, Office of Policy Development and Research, United States Department of Housing and Urban Development </li>                                                        
                        <li style ="padding-left:0px;text-indent:1px"><b>Presentation: </b><a href="~/groups/NetEconStat/Meetings/HousingSprintWebinar-1/Session2P-b-Housing-Statistics-for-Economic-Analysis.pdf" target="_blank" style="color:blue">Housing Statistics for Economic Analysis: The U.S. Statistical <quote>System</quote></a></li>                                                        
                    </ul>
                    <p style = "padding-left:16px;">In the United States, the housing data required for policy come from a variety of sources, from official statistics to private sector data vendors, to program administrative data systems. 
                        Dr. Usowski will describe how these various data sources are pulled together for housing market analysis. He will also touch on the relative strengths and weaknesses of each data source. </p>                

                    <ul style = "padding-left:16px; text-indent: -8px;"> 
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>Use of Housing Data in the Reserve Bank of Australia for Monitoring and Research Purposes</strong></li>
                        <li style ="padding-left:0px;text-indent:1px"><b>Presenter: </b> Mr. Jonathan Hambur, Senior research manager, Reserve Bank of Australia  </strong></li>                                                        
                        <li style ="padding-left:0px;text-indent:1px"><b>Presentation: </b><a href="~/groups/NetEconStat/Meetings/HousingSprintWebinar-1/Session2P-c-Presentation-on-Housing-data-to-UN-StatisticsGroup-June2024.pdf" target="_blank" style="color:blue">Use of Housing Data in the Reserve Bank of Australia for Monitoring and Research Purposes </a></li>                                                        
                    </ul>
                    <p style = "padding-left:16px;">Housing markets play a significant role for central banks due to their implication for real activity, inflation, and financial stability. This presentation gives an overview of some ways housing statistics are used to inform policy. It places a particular focus on 
                        the analytical value provided by increasingly available granular data. </p>
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Discussion (15 minutes)</b></p>                
                
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:35 am - 9:25 am </h5>
                </div>
                
                <div class="col-md-12">
                    <h5 style="font-weight:bold">Session 3| A housing framework for the future </h5>
                    <p><b>Chair:</b> <strong>Mr. Jonathon Khoo, Australian Bureau of Statistics</strong></p> 
                    <ul style = "padding-left:16px; text-indent: -8px;"> 
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>A Conceptual Framework for housing statistics - bridging social, economic and environmental statistics</strong> </li>
                        <li style ="padding-left:0px;text-indent:1px"><b>Presenter: </b>Mr. Jean-Philippe Deschamps-Laporte, Assistant Director Centre  for income and economic-socio well-being, Statistics Canada</li>                                                        
                        <li style ="padding-left:0px;text-indent:1px"><b>Presentation: </b><a href="~/groups/NetEconStat/Meetings/HousingSprintWebinar-1/Session3P-a-Conceptual-framework-summary-UN-Stats-Webinar-June26-2024.pdf" target="_blank" style="color:blue">A conceptual framework for
housing data</a></li>                                                        
                    </ul>
                    <p style = "padding-left:16px;">This presentation provides an overview for a new conceptual framework for housing data. It joins the perspective of social, economic and environmental lenses, and details a model for the organization of housing 
                        dimensions, concepts and indicators. The framework is meant to provide guidance for National Statistical Organizations, international bodies, policy makers and data users to help frame housing issues, guide 
                        analysis and support data development.</p>
                    
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Discussion (15 minutes)</b></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:25 am - 9:30 am </h5>
                </div>
                
                <div class="col-md-12">
                    <h5 style="font-weight:bold">Session 4| Summary Reflections </h5>
                    <p ><b>Chair: </b><strong>Mr. Jonathon Khoo, Australian Bureau of Statistics</strong></p>                  
                </div>
            </div>    

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:30 am</h5>
                </div>
                
                <div class="col-md-12">
                    <h5 style="font-weight:bold">Adjourn </h5>                                                       
                </div>
            </div>         
            <br>          
        </div>    
    </div>
</div>
    

