
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Housing Sprint First Meeting";
    //Page.Subtitle = "First Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI";
    //Page.SubtitleLink ="~/index.cshtml";
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@

<!-- ======= CAROUSEL ==========-->
@*
<div align="center">
    <h2>First Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 22 June 2022</li>
    </ul>
</div>
*@

<div class="content-section" style="padding-bottom: 13px; padding-top: -2px;">
     <div align="left">  
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">First Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI</li>
        </ol>
        </nav>
    </div>
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt=" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="Housing3" src="~/groups/NetEconStat/img/Housing1_SDG_primer_cover1b.jpg">
            @*<img alt="" src="~/img/Housing1_SDG_primer_cover1b.jpg">*@
        </div>
    </div>  
</div>
<br>

@*

<div id="myCarousel" class="owl-carousel-v4">
    <div align="left">  
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Housing Sprint First Meeting</li>
        </ol>
        </nav>
    </div>
    <div class="owl-slider-unsd-dssb">
        <div class="item active">
            <a href="https://unstats.un.org.asp">
                <img src="~/img/Housing-3.jpg" alt="UNSTATS">
                
                        <div class="carousel-caption">       
                          <h3 class="ccheader" style="color:#fff;" align="center">First Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI </h3>
                          
                          <em class="venue-header">Virtual Meeting</em>
                          
                          <ul class="side-event-page-info list-inline">
                            <li class="event-date datecolor"><i class="ccicon fa fa-calendar fa-fw"></i> &nbsp;22 June 2022</li>
                          </ul>                       
                        </div>                
            </a>
        </div>
    </div>

</div>
*@

<!-- ======= CAROUSEL ==========-->


<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>In the first meeting, an overview of the various methods employed will be complemented by specific country experiences and the user perspective with the measurement of the Owner Occupied Housing in the CPI. </p>
        <br>
        <div style="margin-bottom-30">
            <h5><b>Summary Report</b></h5>
            <h6><i class="fa fa-chevron-circle-right color-green margin-right-5" aria-hidden="true"></i> <a href="~/groups/NetEconStat/Meetings/Owner-occupied-housing/Summary-of-the-First-Sprint-Meeting-on-Measurement-of-OOH.pdf" target="_blank"><b> Summary Report of the First Sprint Meeting on Measurement of OOH in the CPI </b> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></h6>
        </div>
    </div>
    <br>
<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>Wednesday, 22 June 2022, 8:30 to 11:30am (New York time)</b></h4>
            <br>                                  
                <b> Chair:</b>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Chair Greg Peterson, Assistant Chief Statistician, Statistics Canada   <br>
            
            <br>                
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:30 am - 8:35 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks, and scene-setting </h5>
                    <p>                        
                        Ronald Jansen, Assistant Director of the UN Statistics Division and Chief of the Data Innovation and Capacity Management Branch  
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:30 am - 9:25 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: Owner-occupied housing inflation as a measurement issue</h5>
                                       
                    <p>
                        <i class="fa fa-chevron-circle-right color-green margin-right-5"> </i><b>Owner Occupied Housing Methods:  An Overview</b>
                        <br>
                        The presentation will provide an overview of the different methods that can be used for the treatment of OOH as described in the 2020 CPI Manual, as well as some insights into related issues faced by developing countries.
                        <br> 
                        <br> 
                        <i><b>Presenter:</b></i> Brian Graf, Senior Economist, International Monetary Fund <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/Owner-occupied-housing/OOH-Housing-Services-Costs-IMF.pdf" target="_blank" > OOH Housing Services Costs IMF</a>
                        <br>
                        <br>

                        <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>The inclusion of housing costs in the UK Consumer Prices Index</b>
                        <br>
                        In 2013, the UK Office for National Statistics &#40;ONS&#41; launched the Consumer Prices Index including owner occupiers housing costs (CPIH). The CPIH is published alongside the ONS Consumer Prices Index, with the only notable difference 
                        being the inclusion of owner occupier housing costs &#40;OOH&#41;. This presentation will detail the development of CPIH, the analysis and user consultation that led to the choice of rental equivalence as the preferred measure of 
                        OOH and the methodology used.
                        <br>
                        <br> 
                        <i><b>Presenters:</b></i> Christopher Jenkins, ONS Assistant Deputy Director<br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; Natalie Jones, ONS Head of Consumer Prices Operational Development <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/Owner-occupied-housing/Owner_occupied_housing_UK.pdf" target="_blank" > Owner Occupied Housing in UK </a>
                        <br> 
                    
                    </p>                                                                                             
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:25 am - 9:50 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: Country experiences with measuring OOH  </h5>
                        
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>The Treatment and Measurement of Owned Accommodation in the Canadian CPI</b><br>
                        In the Canadian CPI, the treatment of owned accommodation is designed to measure the impact of price changes on the costs of owning 
                        and maintaining a home. It captures the prices of owned shelter services by applying a partial user cost approach, which is more aligned with a cost-of-living concept. The presentation will explore 
                        recent trends in the Canadian housing market, as well as the data sources and methods used to measure the different components of owned accommodation. Research on the impact of using other approaches, 
                        practical limitations, and communications challenges will also be discussed. The user perspective will be covered by an evaluation of the various approaches for measuring owned accommodation by the Bank 
                        of Canada, including areas for further exploration. 
                        <br>
                        <br>
                        <i><b>Presenters:</b></i> Faouzi Tarkhani, Statistics Canada  <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; Patrick Sabourin, Bank of Canada <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/Owner-occupied-housing/The-Canadian-Treatment-of-OA-20220621.pdf" target="_blank" > The Treatment and Measurement of Owned Accommodation in the Canadian CPI </a>                        <br>                         
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:50 am - 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Break </h5>
                                                                                        
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:00 am - 10:50 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: Country experiences with measuring OOH (Continued) </h5>
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>The Treatment of Owner-Occupied Housing in the U.S. CPI</b><br>
                           Since 1983, the Bureau of Labor Statistics (BLS) has used the rental equivalence (REQ) approach to estimate the owner-occupied housing (OOH) component of the Consumer Price Index (CPI). 
                           This presentation will cover the history of OOH treatment in the U.S. CPI, and it will contrast the current REQ approach with research into alternative methods like the Payments approach. 
                           <br>
                           <br>
                        <i><b>Presenter:</b></i> Robert Martin, Assistant Commissioner Division of Consumer Prices and Price indexes, Bureau of Labor Statistics 
                        <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/Owner-occupied-housing/BLS-OOH-for-UNSC.pdf" target="_blank" > BLS OOH for UNSC </a>
                        <br> 
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Botswana Owner Occupied Housing</b><br>
                           This presentation will provide an overview of the work currently being conducted by Statistics Botswana to identify a reliable data source for computing the OOH in the CPI.
                           <br>
                           <br>
                        <i><b>Presenter:</b></i> Rejoyce Mbalekelwa, Statistics Botswana <br>
                        <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/Owner-occupied-housing/Botswana-OOH-22-June-2022.pdf" target="_blank" > Botswana Presentation On Owner Occupied Housing </a>
                        <br>
                                                                          
                </div>
            </div>
            
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:50 am - 11:15 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4 | Plenary Discussion </h5>
                    <p>A plenary discussion with a focus on identifying common themes. <br>
                        Guiding questions: 
                        <ul>
                            <li>&#x2022; Are there common opportunities and challenges related to availability of source data on OOH?  </li>
                            <li>&#x2022; How does your NSO&#39;s experience compare to the approaches presented?  </li>
                            <li>&#x2022; What type of work is your NSO conducting with respect to measuring OOH?  </li>
                            <li>&#x2022; What user feedback do you receive on the inclusion or exclusion of the OOH component in CPI and other inflation measures?  </li>
                            <li>&#x2022; Within your country, what communications challenges exist, for example in explaining why the current approach is used. Is there any suggestion from users 
                                            or technical experts to move to a different approach?  </li>
                        </ul>
                   
                    </p> 
                                                     
                </div>
            </div>
            <br>    
            <br>
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 11:15 am - 11:30 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5 | Consolidating discussion, next steps, and closing remarks </h5>
                    <p>This session will briefly synthesize the conversation as well as provide a short introduction of the next meeting of the sprint. 
                    </p>
                                                     
                </div>
            </div>
         
            <br>


            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 11:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn </h5>                                                       
                </div>           
            <br>
            <br>
            
        </div>
    </div>           
</div>
<br>

