
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Housing Sprint Third Meeting";
    //Page.Subtitle = "Second Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI";
    //Page.SubtitleLink ="~/index.cshtml";
  
}

<!-- ======= IMAGE ==========-->


<div class="content-section" style="padding-bottom: 10px; padding-top: -1px;" >
       
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Network of Economic Statisticians</a></li>
            <li class="breadcrumb-item active" aria-current="page">Third Sprint Meeting on the Measurement of Inflation of Owner-Occupied Housing in the CPI</li>
        </ol>
    </nav>
    
    <div class="carousel-inner">
        <div class="item active">
            <a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>
            <img alt="Housing3" src="~/groups/NetEconStat/img/SDG_primer_cover3a.png">
            @*<img alt="" src="~/img/SDG_primer_cover3a.png">*@
        </div>
    </div>  
</div>



<!-- ======= CAROUSEL ==========-->

<br>
<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>The third meeting will focus on gathering inputs from participants on the proposed next steps for improving the international 
                comparability and quality of national CPIs, including the services costs of owner-occupied housing. Additionally, there will 
                be a presentation on the work that Statistics South Africa has been doing to measure these costs in its CPI. </p>
        <br>
        <div style="margin-bottom-30">
            <h5><b>Summary Report</b></h5>
            <h6><i class="fa fa-book" aria-hidden="true"></i> <a href="~/groups/NetEconStat/Meetings/HousingSprintThirdMeeting/Summary-of-the-Third-Sprint-Meeting-on-the-Measurement-of-Inflation-of-OOH.pdf" target="_blank"><b> Summary Report of the Third Sprint Meeting on Measurement of OOH in the CPI </b> <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></h6>
        </div>
    
    </div>

<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>Wednesday, 24 October 2022, 7:00 to 10:00am (New York time)</b></h4>
            <br>                                  
                <b> Chair:</b>
                <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Paul Konijn, Head of the Price Statistics, Purchasing Power Parities and Housing Statistics Unit at Eurostat<br>            
            
            <br>
            

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:15 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1 | Introduction, welcome remarks, and scene-setting </h5>
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"> </i><b>Welcome remarks</b></h6>
                    <p> Ronald Jansen, Assistant Director of the UN Statistics Division and Chief of the Data Innovation and Capacity Management Branch </p>
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"> </i><b>Summary report from the Second Sprint Meeting</b></h6>
                    <p>Frantisek Bernadic, Director of macro-economic statistics, Eurostat</p>
                </div>
            </div>
            
            <br>
            

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:15 am - 7:35 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2 | Owner occupied housing in the South African CPI: weighting and pricing </h5>
                    <p> The presentation will sketch the history of OOH in the South African CPI, the methods used for calculating weights and recording prices and some results. </p>                 
                    <i><b>Presenter: </b></i> Presentation by Patrick Kelly, South Africa<br>
                    <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintThirdMeeting/Owner-occupied-housing-in-the-South-AfricaN-CPI.pdf" target="_blank" > Owner occupied housing in the South African CPI</a><br>
                </div>
            </div>

            <br>
            

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:35 am - 8:30 am </h5>
                </div>
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3 | Plenary Discussion</h5>
                        <p>
                        The objective of the plenary discussion is to gather input on the following proposed next steps meant to advance the comparability and utility of 
                        CPIs across the globe:
                        <br>
                            <li><b>1.</b>	OOH should be included in official CPIs, as recommended by the CPI Manual, as OOH is an important component of household expenditures and there is a strong user demand, in particular 
                                from central banks;</li>
                            <li><b>2.</b>	An aim for the international statistical community is to explore, as a priority, the identification of a harmonized method for measuring OOH to use for international comparisons of inflation; 
                                it is recognized that to achieve this aspirational goal may take time and an iterative approach;</li>
                            <li><b>3.</b>	When countries use a different method for measuring OOH than the identified harmonized one in their national CPI, it is recommended that they should aim to develop, in parallel, a CPI that is 
                                internationally comparable. </li>
                            <li><b>4.</b>	Transparent metadata should be available so that users can clearly understand the purpose of the CPI and the methods used to compile it.</li>
                        
                        </p>
                <br>                  
<!--                    <i><b>Presenter: </b></i> Stanimira Kosekova, Senior Economist-Statistician, Monetary and Economic Statistics Division, European Central Bank<br>       
                    <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/HS_S2B_UN_Sprint_ECB_HICP-OOH_1.pdf" target="_blank" > ECB&#39;s Monetary Policy Strategy Review: OOH and inflation measurement </a>
-->                </div>
            </div>
            
            <br>
           
            
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:30 am - 8:45 am </h5>
                </div>    
                        
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Break </h5>                                                                                
                </div>
            </div>

            <br>
            

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:45 am - 9:50 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3 | Plenary Discussion (Continued)</h5>
                    <p>In this second part of the Plenary, participants are asked to provide their views on the proposal that the exploration of a harmonized method be entrusted jointly to the existing groups dedicated to improving the quality 
                        of the CPI, i.e. the Intersecretariat Working Group on Price Statistics and the Ottawa Group on Price Indices.  </p>
                        
<!--                           <i><b>Presenter: </b></i> Edel Flannery, Head of the Prices Division in the Central Statistics Office, Ireland<br>
                           <i><b>Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/HousingSprintSecondMeeting/UN_Sprint_on_OOH_Ireland_20092022.pdf" target="_blank" > Owner Occupied Housing in the Irish CPI </a><br>
-->                                                                  
                </div>
            </div>
            
            
            <br>

            
            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 9:50 am - 10:00 am </h5>
                </div>
                            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4 | Consolidating discussion, next steps, and closing remarks   </h5>
                    <p>This session will synthesize the discussion and present the next steps. 
                    </p>
                                                     
                </div>
            </div>
         
            <br>
            


            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Adjourn </h5>                                                       
                </div>                 
        </div>
        <br>
        <br>
    </div>           
</div>
<br>

