
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Economic Statistics";
    //Page.Subtitle = "United Nations Network of Economic Statisticians";
    //Page.SubtitleLink ="~/default.cshtml";
    //Lastupdate:15/9/22:include housing sprint 5th meeting link:
}

<div align="left" style= "margin-top: -19px; padding-bottom:5px;">
    <h1><b>United Nations Network of Economic Statisticians</b></h1>
</div>


<!-- ======= CAROUSEL ==========-->
<div class="content-section">
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="" src="~/groups/NetEconStat/img/UNHQ_4.jpg" class="img-rounded">
            @*<img alt="" src="~/assets/img/UNHQ_4.jpg" class="img-rounded">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution: "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>

<!-- ===== BODY ==== -->
<div class="row" style= "padding-top: 13px;">
    <div class="col-md-12">
        <h3 style="color:black;"><b>Purpose</b></h3>
<!--        <div class="well"  style="padding-left:12px" background-color: #F5F5F5;"> -->
        <div class="well" style="padding:12px">

        <p class="text-dark">
            The fifty-second session of the Statistical Commission approved the recommendation of the Friends of the Chair Group on economic statistics to establish a new
             United Nations Network of Economic Statisticians (Network) to facilitate networking, coordination and communication on new innovations, experiments and best practices
              for the purpose of making progress on priorities to keep economic statistics relevant, requested that its mandate be clearly defined and provide a transparent and 
              collaborative horizontal coordination mechanism for all existing groups, and recognized the need for the network of economic statisticians to coordinate with other 
              statistical committees and groups, as appropriate, for the purpose of measuring the multidimensional relationships between the economy, environment and society of 
              the 2030 Agenda.
        </p>

        <p class="text-dark">
            Specifically, the work program of the Network will build on the endorsed recommendations of the Friends of the Chair Group on Economic Statistics for an agile and more 
            responsive system of economic statistics based on four thematic workstreams: (a) networking: collaboration and user consultation; (b) transforming and challenging the 
            system: statistical infrastructure and operations, and data solutions; (c) enabling: institutional arrangements and governance; and (d) experimenting, integrating and 
            documenting: statistical framework and methods.
        </p>
            
        <p class="text-dark">
            The task teams of the Network will work agilely in sprints of short duration to complete a series of a set amount of work and deliverables for the thematic workstreams 
            of its work program. The short and intense life cycle of these sprints ensures that momentum is sustained to meet clear objectives.
        </p>
        </div>
        
        <!--<div class="headline"> -->
        <h3><b>Year Organized</b></h3>
        <div class="well"  style="padding-left:12px" >
            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i>2021
        </div>


        <h3><b>Terms of Reference </b></h3>
            <div class="well"  style="padding-left:12px">
                <ul style = "padding-left:16px; text-indent: -8px;">   
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/document/TOR_UN_Network_of_Economic_Statisticians.pdf" target="_blank">Terms of Reference for the United Nations Network of Economic Statisticians </a></li>
                </ul> 
            </div>
         

        <h3><b>Upcoming Events </b></h3>
            <div class="well"  style="padding-left:12px">    
                <p style = "padding-left:17px; text-indent: -8px;">
        <!--            <i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/classifications/Sprint/webinar-3.cshtml" target="_blank">Third Webinar of the International Statistical Classifications Sprint </a>, 31 January 2024. Register for this
                     meeting <a href="https://forms.office.com/e/zfguKrin2g" target="_blank">here</a>.<br>
        -->
                    <i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Join us for the data strategy sprint webinars. Register <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2zWeD09UYE-9zF6kFubccNhH2ggp9WNCmvKGRF8SgmZUNk43QjE1UEM2Qkg1VlYwWFJTS0VQOTA1WC4u&wdLOR=cA2B0922A-C507-4135-9178-CA3DBB197075" target = "_blank">here.</a>
                </p>
            </div>
             

        <h3><b>Meetings</b></h3>
        <div class="well"  style="padding-left:12px">
            <h5><b> Network</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkFirstmeeting" target="_blank"></i>First Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkSecondmeeting" target="_blank"></i>Second Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkThirdmeeting" target="_blank"></i>Third Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/NetworkFourthmeeting" target="_blank"></i>Fourth Meeting of Network </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/InformalMeeting-Nov22" target="_blank"></i>Informal Meeting of the United Nations Network of Economic Statisticians - 9 November 2022  </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/networkInformalMeeting2023" target="_blank"></i>Informal Meeting of the United Nations Network of Economic Statisticians - 6 November 2023  </a></li>
                    </ul>
                    <br>

            <h5><b>Organizational Sprint</b></h5> 
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/OrgSprintFirstMeeting" target="_blank">First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians</a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/OrgSprintSecondMeeting" target="_blank">Second Organizational Sprint Meeting of the United Nations Network of Economic Statisticians</a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/OrgSprintThirdMeeting" target="_blank">Third Organizational Sprint Meeting of the United Nations Network of Economic Statisticians</a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/OrgSprintFourthMeeting" target="_blank">Fourth Organizational Sprint Meeting of the United Nations Network of Economic Statisticians</a></li>
                    </ul>
                    <br>

            <h5><b>Beyond GDP Sprint 2022</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprintFirstMeeting/" target="_blank">First Meeting of Beyond GDP Sprint </a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprintSecondMeeting/" target="_blank">Second Meeting of Beyond GDP Sprint </a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprintThirdMeeting/" target="_blank">Third Meeting of Beyond GDP Sprint </a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprintFourthMeeting/" target="_blank">Fourth Meeting of Beyond GDP Sprint </a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprintFifthMeeting/" target="_blank">Fifth Meeting of Beyond GDP Sprint </a></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprintSixthMeeting/" target="_blank">Sixth Meeting of Beyond GDP Sprint </a></li> 
                    </ul>
                    <br>

            <h5><b>Beyond GDP Sprint 2023</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprint2023FirstMeeting/" target="_blank">First Meeting of Beyond GDP Sprint 2023 </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprint2023SecondMeeting/" target="_blank">Second Meeting of Beyond GDP Sprint 2023 </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprint2023ThirdMeeting/" target="_blank">Third Meeting of Beyond GDP Sprint 2023 </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprint2023FourthMeeting/" target="_blank">Fourth Meeting of Beyond GDP Sprint 2023 </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprint2023FifthMeeting/" target="_blank">Fifth Meeting of Beyond GDP Sprint 2023 </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprint2023SixthMeeting/" target="_blank">Sixth Meeting of Beyond GDP Sprint 2023 </a></li> 
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/GDPSprint2023SeventhMeeting/" target="_blank">Seventh Meeting of Beyond GDP Sprint 2023 </a></li> 
                    </ul>
                    <br>

            <h5><b> Data Access Sprint</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/bigdata/task-teams/data-access/gvc-sprint/index.cshtml" target="_blank">Sprint on Data Access </a></li>
                    </ul>
                    <br>

            <h5><b> International Classifications Sprint</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/classifications/Sprint" target="_blank">International Classifications Sprint </a></li>
                    </ul>
                    <br>

            <h5><b> Measurement of Inflation of Owner-occupied Housing Sprint</b></h5>
                    <p>
                    The Sprint on the Measurement of Inflation of Owner-Occupied Housing Services Costs in the CPI will explore the various approaches to the measurement of Inflation of Owner-occupied Housing as well as 
                    the Challenges and Opportunities Associated with Each Approach. 
                    </P>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/HousingSprintFirstMeeting.cshtml" target="_blank">First Meeting of Owner-occupied Housing Sprint </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/HousingSprintSecondMeeting.cshtml" target="_blank">Second Meeting of Owner-occupied Housing Sprint </a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/HousingSprintThirdMeeting.cshtml" target="_blank">Third Meeting of Owner-occupied Housing Sprint </a></li>
                    </ul>
                    <br>

            <h5><b> Side Events</b></h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/statcom/53rd-session/side-events/15032022-activities-of-the-UN-network-of-economic-statisticians/" target="_blank">53<sup>th</sup> Session (2022): Introduction to the United Nations Network of Economic Statisticians: Past, Present, and Future Activities</a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/UNSDWebsite/events-details/un54sc-26022023-Network-of-economic-statisticians" target="_blank">54<sup>th</sup> Session (2023): Informal Meeting of the United Nations Network of Economic Statisticians</a></li>
                    </ul>
                    <br>
        </div>
        

        
        
        <h3><b>Global User Consultation</b></h3>
            <div class="well"  style="padding-left:12px">
            </div>

        <h3><b>Reporting to the United Nations Statistical Commission</b></h3>
            <div class="well"  style="padding-left:12px">
                <ul style = "padding-left:16px; text-indent: -8px;">
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The Network will be reporting to the Statistical Commission annually starting from its fifty-third session in 2022.</li>
                </ul>    
            </div>
        <br>
        
    </div>  
</div>

<br>
<br>