
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Sidebar = "business-stats";
    Page.Title = "Business Statistics";
}



<!-- ======= CAROUSEL ==========-->
<!-- Owl Carousel v4 -->
<!-- <div id="myCarousel" class="carousel slide carousel-v2"> -->
<div id="myCarousel" class="owl-carousel-v4">
  <div class="owl-slider-unsd-dssb">
    <div class="item active">
      <a href="https://unstats.un.org/home/">
        <img src="~/assets/img/sliders/stock-3.jpg" alt="click to enlarge">
      </a>
    </div>

<!--
    <div class="item">
      <div class="tag-box tag-box-v6 title-box-v2 clearfix">
        <span class="agenda-item-time pull-left">
          <a href="https://unstats.un.org/" target="_blank">
            <img src="~/assets/img/sliders/stock-3.jpg" alt="click to enlarge">
          </a>
        </span>
        <!--
        <div class="carousel-caption">
          <br>
          <h2 style="color:#fff;">Business Statistics</h2>
          <br>
          <ul class="side-event-page-info list-inline">
            <li class="event-date" style="color:#fff;"><i class="fa fa-calendar"></i> Wednesday, 7 DEC 2080</li>
            <li class="event-time" style="color:#fff;"><i class="fa fa-clock-o "></i> 8:15 &ndash; 9:30 am</li>
            <li class="event-room" style="color:#fff;"><i class="fa fa-map-marker"></i> Conference Room 4</li>
          </ul>
          <h4 class="event-page-organizer" style="color:#fff;">Meeting organized by the United Nations Statistics Division (UNSD)</h4>
        </div>
        --
      </div>
    </div>
-->
  </div>
</div>
<!-- End Owl Carousel v4 -->

<!-- Tabs -->

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Methodology"><span class="tab-headings">Methodology</span></a></li>
    <li><a data-toggle="tab" href="#Coordination"><span class="tab-headings">Coordination</span></a></li>
  </ul>
</div>
<br>

<div class="tab-content">
<!-- Overview tab -->
  <div id="Overview" class="tab-pane fade in active">
    <div class="headline">
      <h4><i class="icon-notebook bg-red"></i>About the Business Statistics Programme</h4>
    </div>
    <div class="foreword">
      <p>Business statistics provide information on the structure, economic activity and dynamic performance of businesses. With the increasing globalization and digitalization of our economies, users are demanding broader measures of business characteristics and economic performance linking the economy to society and to the environment.
      </p>
      <p>The Business Statistics Programme of the United Nations Statistics Division adopts a broad and integrated approach to business statistics in order to meet these new challenges and respond to policy and users needs with regard to business dynamics, demography and entrepreneurship statistics, globalization, digitalization, well-being and sustainability, and the 2030 Sustainable Development Agenda. An integrated approach to business and trade statistics means that their compilation is, to the largest extent possible, integrated and harmonized with economic, socio-demographic, environment and multi-domain statistics. The Business Statistics Programme covers the development of methodological guidance and best practices, the development of global databases, capacity building in business statistics and coordination with relevant stakeholders.
      </p>
    </div>
  </div>

<!-- Methodology tab -->
  <div id="Methodology" class="tab-pane fade in">
    <div class="headline">
      <h4><i class="icon-layers bg-red"></i>Business Statistics Methodology</h4>
    </div>
      <p class="unstyled">The United Nations Statistics Division develops standards and methods, approved by the Statistical
        Commission, in collaboration with countries and international organizations as well as with the <a href="UNCEBTS.cshtml" text-decoration= underline>United Nations Committee of
        Experts on Business and Trade Statistics</a>, to assist national statistical authorities and other producers of statistics in
        the collection, compilation and dissemination of data on business statistics.
      </p>
      <div class="headline">
        <ul class="list-unstyled margin-bottom-15">
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/GVC/">Global Value Chains </a></li>
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Statistical Business Registers</li>
        </ul>
    </div>
<!--
    <div class="row">
      <div class="col-md-6">
        <div class="headline">
          <h4><i class="icon-layers bg-red"></i>Former Activities</h4>
        </div>
        <ul class="list-unstyled margin-bottom-15">
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/BES.cshtml">Basic economic statistics</a> (<a href="https://unstats.un.org/unsd/economic_stat/Economic_Census/Compilation_of_Basic_Economic_Statistics.htm">Legacy Page here</a>)</li>
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/EconomicCensus.cshtml">Economic census</a></li>
          <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/Admindata.cshtml">Use of administrative data</a></li>
        </ul>
      </div>
    </div>
-->

  </div>

<!-- Coordination tab -->
  <div id="Coordination" class="tab-pane fade in">
    <div class="headline">
      <h4><i class="icon-directions bg-green"></i>Business statistics collaborations </h4>
    </div>
    <p>UNSD works with the UN Regional Commissions, international organizations and relevant experts groups in the area of business statistics. UNSD also serves as a secretariat of the United Nations Committee of Experts on Business and Trade Statistics (UNCEBTS) and is an active member of the Wiesbaden Group on Statistical Business Registers.</p>
    <br>
    <ul class="list-unstyled margin-bottom-15">
      <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/UNCEBTS.cshtml">Commitee of Experts on Business and Trade Statistics</a></li>
  		<li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://unstats.un.org/unsd/methodology/citygroups/wiesbaden/">Wiesbaden City Group on Business Registers</a></li>
      <!--<li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/WiesbadenCG.cshtml">Wiesbaden city group on business registers</a></li>-->
  	</ul>
  </div>
  <br>
<!-- End tabs -->
</div>
