@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Informal Meeting of the United Nations Network of Economic Statisticians - 9 Nov 2022";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<div style = "margin-left:-15px;margin-bottom:20px;">
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style= "margin-top:-20px;">
                <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
                <li class="breadcrumb-item active" aria-current="page">Informal Meeting of the United Nations Network of Economic Statisticians</li>
            </ol>
    </nav>   
</div>

<!-- === Image === -->
<div class="content-section" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="" src="~/groups/NetEconStat/img/NetEconMeetingBannerA.png">
            @*<img alt="Network Informal Meeting Nov 2022" src="~/assets/img/NetEconMeetingBannerA.png">*@  
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>

<!-- === End Image ===-->

    <!-- Agenda tab 
    <div id="Agenda" class="tab-pane fade in"> -->
        <div style="margin-bottom:10px;">
            <h4>
                <b>Rue du Parnasse 19, 1050 Brussels, Belgium</b> <br>
                    <small class="text-body-secondary">Renaissance Brussels Hotel, Copenhagen/Essen/Warsaw room</small>
            </h4>    
                
            
            <h4>
                <b>In person meeting</b><br>
                <small class="text-body-secondary">Wednesday, 9 November 2022 | 3:00 pm - 5:00 pm</small><br> 
            </h4>

            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 3:00 pm - 3:15 pm</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Welcome remarks, introduction of the meeting objectives and overview of Network activities</h5>
                    <ul style = "padding-left:18px; text-indent: -8px;"></ul>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Andre Loranger, Co-chair of the UN Network of Economic Statisticians </li>                         
                        <li><i><b>  &nbsp;&nbsp;&nbsp;&nbsp;Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov22/Brussels-Informal-Event-Slides.pdf" target="_blank" > Introduction by Andre Loranger &nbsp;&nbsp;</a>  <i class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 3:15 pm - 3:50 pm </h5>
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Panel on statistical initiatives related to the broader framework for well-being, inclusion, and sustainability</h5>                                                             
                    
                    <ul style = "padding-left:18px; text-indent: -8px;"></ul>                        
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Richard Heys - ONS, Gerard Eding - Netherlands Bureau of Statistics and Ivo Havinga - consultant </li>
                        <li><i><b>  &nbsp;&nbsp;&nbsp;&nbsp;Presentations: </b></i><a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov22/SPSA-for-social-accounting-statistics-and-indicators.pdf" target="_blank" > - Towards a System of Population and Social Accounts &nbsp;&nbsp;</a>  <i class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i></li>
                        <li><i><b>  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;&nbsp; </b></i><a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov22/Brussels-Informal-Event-Slides.pdf" target="_blank" > - Delivering the UN Network of Economic
                                    Statisticians&apos; Beyond GDP Vision  &nbsp;&nbsp;</a>  <i class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i></li>
                    </ul>
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 3:50 pm - 4:15 pm </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Plenary discussion focused on addressing Beyond GDP statistical challenges focusing on: </h5>
                        <ul style = "padding-left:18px; text-indent: -8px;">                            
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The complex landscape of existing metrics, dashboards and measures</li> 
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>The need to help signpost users to the most appropriate data/measure</li> 
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Gaps in the landscape and how best to fill them Moderated by Aishath Shahuda, 
                            Co-chair of the Network of Economic Statisticians</li> 
                            <li><i><b>  &nbsp;&nbsp;Presentation: </b></i><a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov22/Aishath-Shahuda-moderation- informal-meeting.pdf" target="_blank" > Addressing challenges in
                                    Network&apos;s Beyond GDP work  &nbsp;&nbsp;</a>  <i class="fa fa-file-pdf-o" style="font-size:18px;color:red"></i></li>                    
                        </ul>                      
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 4:15 pm - 4:55 pm </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Networking  </h5>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> All participants</li>
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 4:55 pm - 5:00 pm </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Closing  </h5>    
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Andre Loranger, co-chair of the UN Network of Economic Statisticians</li>                                                                      
                </div>
            </div> 
            
            <div class="row" style="margin-bottom:10px;">                
                <div class="col-md-3">                
                </div>
                <div class="col-md-9"; style="margin-top:-5px;">
                
                    <hr style ="height:2px;border-width:0;color:gray;background-color:gray">
                    <h5><b>Related Documentations</b></h5>        
                    <ul class="list-unstyled">
                        <li><a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov22/Network informal meeting-conclusions-Nov2022-clean-v2.pdf" target="_blank" >Network informal meeting conclusions  <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></li>
                    </ul>
                </div>
            </div>
        </div>

    

