
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "First Meeting of the United Nations Network of Economic Statisticians";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

    <nav >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
            <li class="breadcrumb-item active" aria-current="page">Network Sprint First Meeting</li>
        </ol>
    </nav>


@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@
<!-- ======= CAROUSEL ==========-->
<!--
<div align="center">
    <h2>First Meeting of the United Nations Network of Economic Statisticians</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 3 November 2021</li>
    </ul>
</div>
-->
<div class="content-section" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            @*<img alt="" src="~/groups/NetEconStat/img/NetworkSprintFirstMeeting.png">*@ 
            <img alt="" src="~/img/NetworkSprintFirstMeeting.png"> 
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>

<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style= "padding-top: 15px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>
            The fifty-second session of the Statistical Commission approved the recommendation of the Friends of the Chair Group on economic statistics to establish a new United Nations 
            Network of Economic Statisticians (Network) to facilitate networking, coordination and communication on new innovations, experiments and best practices for the purpose of making 
            progress on priorities to keep economic statistics relevant and measuring the multidimensional relationships between the economy, environment and society of the 2030 Agenda.
            The Network aims to develop an agile and more responsive system of economic statistics based on four thematic workstreams: (a) networking: collaboration and user consultation; 
            (b) transforming and challenging the system: statistical infrastructure and operations, and data solutions; (c) enabling: institutional arrangements and governance; and (d) experimenting, 
            integrating and documenting: statistical framework and methods.
            </p>
            <p>
            The task teams of the Network will work agilely in sprints of short duration to complete a series of a set amount of work and deliverables for the thematic workstreams of its work program. 
            The short and intense life cycle of these sprints ensures that momentum is sustained to meet clear objectives.
            </p>
            <p>
            During the Network's first meeting, the members will review the progress to date of the Network Sprints and the proposed work programme for 2023. Moreover, the members will have the opportunity 
            to discuss the draft Network report for the upcoming Statistical Commission session 
            </p>
            <br>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events">
                <b>Tuesday, 1 November 2022 | 7:00 am - 10:00 am</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Opening remarks and objectives of the meeting</h5>
                    
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Andre Loranger, Assistant Chief Statistician, Strategic Data Management, Methods and Analysis, Statistics Canada </li><br>                       
    
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:10 am - 7:30 am </h5>
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Tour de table for introduction of members</h5>                                                             
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:30 am - 9:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Progress report and 2023 work plan </h5>
                        <p>This session will discuss the outcomes of the following completed and ongoing sprints, and how the outcomes can be 
                            incorporated into the 2023 work plan of the Network:
                            
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Joint-Task-Team-on-Access-to-Privately-Held Data_v2.pdf" target= "_blank"> Data access sprint - Lianne Ippel, Statistics Netherlands <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li> 
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Organizational sprint - user consultation - Ivo Havinga, Consultant </li>
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Beyond GDP sprint - Richard Heys, Office for National Statistics UK  </li>
                                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <a href="~/groups/NetEconStat/Meetings/NetworkSprintFirstMeeting/Presentation-on-measuring-inflation-in-OOH_prices sprint_Nov-1.pdf" target= "_blank" > Measurement of Inflation of Owner-Occupied Housing in the CPI sprint - Heidi Ertl, Statistics Canada and Dragos Ifrim, Statistics Canada <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>
                            
                        </p>                                                                     
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:30 am - 9:50 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Report to the 54th session of the Statistical Commission  </h5>
                        <p>This session will discuss the outline and elements of the report of the Network to the 54th session of the Statistical Commission. </p>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Aishath Shahuda Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</li>               
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 9:50 am - 10:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Concluding remarks </h5>
                        @*<ul> 
                            <li>Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada</li> 
                            <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        </ul>*@
                                                                       
                </div>
            </div> 
            <br>
        </div>
    </div>
    

