
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Second Meeting of the United Nations Network of Economic Statisticians";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<ul class="list-inline benefits" style= "margin-top:-20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="margin-left:-10px;"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
                <li class="breadcrumb-item active" aria-current="page">Network Second Meeting</li>
            </ol>
    </nav> 
</ul>

<!--     CONTENT      ---->
<div class="content-section" style = "margin-top: 9px;" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            @*<img alt="NetworkSecondMeetingJune2023" src="~/groups/NetEconStat/img/Network-of-Economic-Statistician-2ndB.png">*@
            <img alt="" src="~/assets/img/Network-of-Economic-Statistician-2ndB.png"> 
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>

<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style= "padding-top: 13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>
            The second meeting will feature a keynote presentation on <strong>Measuring Human Capital in the National Accounts - an Experimental Approach</strong> and 
            discuss follow-up work from report on the 54th session of the Statistical Commission and initiatives to improve the Network's communication 
            and outreach activities.
            </p>
            <br>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events">
                <b>12 June 2023 | 7:00 am - 9:00 am, New York time</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:05 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Opening remarks</h5>
                    
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>                                           
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:05 am - 7:10 am </h5>
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Objectives of the meeting</h5>                                                             
                    <li style = "padding-left:16px; text-indent: -8px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Aishath Shahuda Co-Chair of the United Nations Network of Economic Statisticians and 
                    Deputy Chief Statistician Maldives Bureau of Statistics</li>
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:10 am - 7:40 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Keynote Address </h5>
                    
                    <p>This presentation considers an experimental method, drawing on the UNECE&#8217;s Human Capital manual as its starting point, 
                    to demonstrate how human capital data can be integrated into the National Accounts framework and what it means to treat 
                    human capital as a non-financial asset; using the UK as an example. A copy of the paper is available <a href="https://escoe-website.s3.amazonaws.com/wp-content/uploads/2022/05/12103827/ESCoE-DP-2022-12.pdf"> here </a>. Following the 
                    presentation, there will be an opportunity for the participants for an exchange with the speaker. </p>
                    <ul class= "list-unstyled"></ul>      
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Measuring Human Capital in the National Accounts - an Experimental Approach </b></li>
                        <li style="margin-left:20px;"><strong>Presenter:</strong> Robert Dunn </li>                                
                        <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkSecondMeeting/Human-Capital-Satellite-Account_UK_UN_Network-Economic-Statisticians.pdf" target= "_blank" >An experimental UK Human Capital Satellite Account</a>   <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>                                                                           
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:40 am - 8:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Follow-up work from report on the 54th session of the Statistical Commission  </h5>
                    <p>This session will provide an overview of the follow-up work resulting from completed Sprints as well as Sprints planned for the current year, 
                        based on the decision 54/106 in the Report on the fifty-fourth session of the Statistical Commission. It will also be an opportunity to 
                        gather inputs from participants as to their priorities, so participants are encouraged to read the documents and send questions in advance 
                        to the Network Secretariat at <a href="mailto:nes@un.org">nes@un.org</a> and share their thoughts during the session.</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Data access sprint (phase I completed)  </b></li>
                            <li style="margin-left:20px;"><strong>Presenter:</strong> Ms. Lianne Tessers Ippel PhD, Methodologist, Statistics Netherlands</li>
                            <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkSecondMeeting/Joint-Task-Team-on-Global-Facilitation-of-Access-to-Privately-held Data-for-Official-Statistics.pdf" target= "_blank" >Joint Task Team on Global Facilitation of Access to Privately-held Data for Official Statistics</a>   <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Beyond GDP sprint 2023   </b></li>
                            <li style="margin-left:20px;"><strong>Presenter:</strong> Mr. Richard Heys, Deputy Chief Economist - Productivity, Investment, and Research Division, Macroeconomics and 
                                Environmental Statistics and Analysis Directorate, UK Office for National Statistics</li>                              
                            <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkSecondMeeting/RDH-UNNES-Slides-June-2023.pdf" target= "_blank" >The UN Network of Economic Statisticians:Beyond GDP</a>   <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>International Classifications Sprint  </b></li>               
                            <li style="margin-left:20px;"> <strong>Presenter:</strong> Ms. Ilaria Di Matteo, Chief, Business Statistics Section, United Nations Statistics Division</li>               
                            <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkSecondMeeting/Classification_Meeting-of-the-Network-12-June-2023.pdf" target= "_blank" >Update on the Sprint on International Statistical Classifications</a>   <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>
                        </ul>
                    </p>               
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:30 am - 8:55 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Improving the Network&#8217;s Communication and Outreach Activities </h5>
                    <p>In response to the need for better communication and consultation, which was identified at the last meeting of the UNSC, the Network proposes a number of process improvements which will be summarized in this session. Following the presentation, there will be an opportunity for the participants to reflect on the proposed process improvements
                    </p>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Proposed process improvements  </b></li>               
                    <li style="margin-left:20px;"><strong>Presenter:</strong> Andre Loranger Co-Chair of the United Nations Network of Economic Statisticians and Assistant Chief Statistician, Economic Statistics, Statistics Canada</li>               
                    <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkSecondMeeting/UNNES-2nd-meeting-Andre-Loranger.pdf" target= "_blank" >Improving the Network's Communication and Outreach Activities</a>   <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>               
                </div>

            </div> 

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:55 am - 9:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 6| Concluding remarks </h5>
                    <li style = "padding-left:18px; text-indent: -8px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Aishath Shahuda Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics
                    </li>   
                                                                       
                </div>

            </div>
<!--
            <div class="row" style="margin-bottom:10px;">                
                <div class="col-md-3">                
                </div>
                <div class="col-md-9"; style="margin-top:-5px;">
                
                    <hr style ="height:2px;border-width:0;color:gray;background-color:gray">
                    <h5><b>Related Documentations</b></h5>        
                    <li><a href="https://escoe-website.s3.amazonaws.com/wp-content/uploads/2022/05/12103827/ESCoE-DP-2022-12.pdf" target="_blank" >Measuring Human Capital in the UK Economic Accounts: An experimental satellite account   <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    
                    <li><a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Stone-SSDS-1974-450-Social-Indicators-E.pdf" target="_blank" >System of Social and Demographic Statistics (SSDS): Draft Guidelines on Social Indicators  <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></li>
                    
-->                    
                    <br>
                    <br>
            
            
        </div>
    </div>
    

