
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Third Meeting of the United Nations Network of Economic Statisticians";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<ul class="list-inline benefits" style= "margin-top:-20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="margin-left:-10px;"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
                <li class="breadcrumb-item active" aria-current="page">Network Third Meeting</li>
            </ol>
    </nav> 
</ul>


<!--     CONTENT      ---->

<div class="content-section" style = "margin-top: 9px;" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
           <img alt="Network Third Meeting September 2023" class="rounded" src="~/groups/NetEconStat/img/Network-of-Economic-Statistician-3rd.png"> 
           @*  <img alt="" src="~/assets/img/Network-of-Economic-Statisticians-3rd.png">*@
        </div>
    </div>
</div>
<br>

<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style= "padding-top: 13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>
            The third meeting will feature a keynote presentation on the use of alternative data sources, including the common steps 
            in identifying and acquiring these data sources and the relevant legal framework. Additionally, there will be a focus on 
            the statistical priorities of the Global South and the potential for the Network to support these priorities, as well as 
            a short update on the Network's current and planned work.
            </p>
            <br>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events">
                <b>26 September 2023 | 7:00 am - 7:05 am, New York time</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:05 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Opening remarks</h5>
                    
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>                                           
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:05 am - 7:10 am </h5>
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Objectives of the meeting</h5>                                                             
                    <ul class="list-unstyled">
                        <li style = "padding-left:16px; text-indent: -8px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Andr&eacute; Loranger Co-Chair of 
                        the United Nations Network of Economic Statisticians and Assistant Chief Statistician Statistics Canada</li>
                    </ul>
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:10 am - 7:40 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Keynote Address </h5>
                    
                    <p>This presentation will provide a broad overview of the alternative data sources other than survey data that are used in business statistics in the 
                        Netherlands. he author will describe the common steps in identifying and acquiring these data sources and the relevant legal framework. Special 
                        attention will be paid to the pros and cons associated with these data sources and some concrete examples will be used to illustrate. </p>
                    <ul class= "list-unstyled" ></ul>      
                        <li style = "padding-left:20px; text-indent: -10px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>The use of alternative data sources in business statistics in the Netherlands: experiences and lessons learned </b></li>
                        <li style="margin-left:20px;"><strong>Presenter:</strong> Maarten Alders, Director of Business Statistics </li>                                
                        <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/Presentation-SN-NES.pdf" style = "color:blue" target= "_blank">The use of alternative data sources in business statistics in the Netherlands</a></li>
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>                                                                           
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:40 am - 8:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Recap of recent Network activities and sprints, as well as announcements on planned work by the Network  </h5>
                    <p>This session will provide an overview of the ongoing Sprints and inform the participants on the Network's priorities for the upcoming year. Related planned events by the UNSD will also be communicated. 
                    </p>
                        <ul class="list-unstyled">
                            <li style = "padding-left:20px; text-indent: -10px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Network Activities: recent and planned</a></li>         
                            <li style="margin-left:20px;"><strong>Presenter:</strong> Andr&eacute; Loranger Co-chair of the United Nations of Economic Statisticians and Assistant Chief Statistician Statistics Canada </li>                                
                            <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/Network-activities-AndreLoranger-v3.pdf" style = "color:blue" target= "_blank">Network Activities: recent and planned</a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Background documents</b></li>
                            <li style = "padding-left:30px; text-indent: -10px;">&#9642;<a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/Priorities-for-the-role-of-the-UN-Network.pdf" target= "_blank" style = "color:blue" > The role for the UN Network of Economic Statisticians</a></li>
                            <li> </li>             
                        </ul>                     
                    </p>
                                  
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:00 am - 8:20 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Follow-up on the discussion with Regional Commissions on the Priorities of the Global South </h5>
                    <p>A summary of the priorities identified will be followed up by a short discussion on the potential role of the Network on facilitating the regional and national statistical 
                        systems to find solutions. A live poll will also collect information on this topic from participants. 
                    </p>
                        <ul class="list-unstyled" >
                            <li style = "padding-left:20px; text-indent: -10px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> Priorities of the Global South</li>
                            <li style="margin-left:20px;"><strong>Presenters:</strong> Ivo Having, Consultant and Daniela Ravindra, Statistics Canada </li>                                
                            <li style="margin-left:20px;"><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/Priorities-of-the-Global-South_final.pdf" style = "color:blue" target= "_blank">Follow-up on the discussion with Regional Commissions on the Priorities of the Global South</a></li>
                            <li></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/Live-poll-questions_final-revised.pdf" target= "_blank" ><b> Live poll</b></a></li>
                            <li></li>             
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Discussion</b></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b> Background documents</b></li>
                            <li style = "padding-left:30px; text-indent: -10px;">&#9642;<a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/Priotities-for-modernization-of-statistical-agencies-revised.pdf" target= "_blank" style = "color:blue" > Priorities for the modernization of national statistical agencies in the Global South</a></li>

                            <li> </li>             
                        </ul>                                
                </div>

            </div> 

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:20 am - 8:30 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 6| Live Poll Results and Concluding remarks </h5>
                    <ul class="list-unstyled">
                    <li style = "padding-left:20px; text-indent: -10px;"><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>  Andr&eacute; Loranger Co-Chair of 
                        the United Nations Network of Economic Statisticians and Assistant Chief Statistician Statistics Canada
                        </li> 
                    <li style = "padding-left:30px; text-indent: -10px;">&#9642;<a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/Network-meeting-conclusions-20230926-clean-v0.pdf" target= "_blank" style = "color:blue" > Conclusions</a></li>  
                    </ul>                                                   
                </div>

            </div>

            <div class="row" style="margin-bottom:10px;">                
                <div class="col-md-3">                
                </div>
                <div class="col-md-9"; style="margin-top:-5px;">
                
                    <hr style ="height:2px;border-width:0;color:gray;background-color:gray">
                    <h5><b>Related Documentations</b></h5>
                    <ul class="list-unstyled">        
                        <li><a href="~/groups/NetEconStat/Meetings/NetworkThirdMeeting/All-presentations.zip" target= "_blank" style = "color:blue" >All presentations <i class="fa fa-file-zip-o" aria-hidden="true" style ="color:red"></i> </a></li>                
                        <li><a href="https://youtu.be/yFsDV-KpobE" target="_blank" >Meeting video  <i class="fa fa-youtube-play" aria-hidden="true" style ="color:red"></i></li>
                    </ul>                    
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    

