
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Network Informal Meeting 2023";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}
<!--
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
        <li class="breadcrumb-item active" aria-current="page">Network First Meeting</li>
    </ol>
</nav>
-->
<div style= "margin-left:-10px;margin-top:-20px;">
<ul class="list-inline benefits">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
                <li class="breadcrumb-item active" aria-current="page">Network Informal Meeting 2023</li>
            </ol>
    </nav> 
</ul>
</div>

<div class="content-section" style="align="left" style="margin-left:-15px; margin-top:-15px;">
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
             @* <img alt="Sixth Meeting of Beyond GDP Sprint 2023" src="~/groups/NetEconStat/img/NetworkInformalBannar2023.png"> *@
          <img alt="Network Informal Meeting 2023" class="img-rounded" src="~/Assets/img/NetworkInformalBannar2023.png">
        </div>
    </div>
    <!--
    <div class="well" style="padding:5px 5px 5px 5px;margin-top:5px;margin-bottom:8px; margin-left:-1px"><h6 class="text-muted">
        <i class="fa fa-map-marker" aria-hidden="true" style="color:red"></i> Virtual Meeting &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
        <i class='fa fa-clock-o' aria-hidden="true" style="color:red"></i> 7:00 am - 8:00 am, New York time &emsp; &emsp;&emsp; &emsp; &emsp;&emsp;&emsp; &emsp;
        <i class="fa fa-calendar" aria-hidden="true" style=color:red"></i> 6 November 2023</h6>
    </div> -->
</div>
<br>

<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style= "padding-top: 13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>

<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>
            This Informal meeting of the United Nations Network of Economic Statisticians (Network) will provide an opportunity for 
            members to continue the fruitful discussion that had started at the last Network Quarterly meeting on the topic of 
            utilizing alternative data sources (administrative data, scanner data, big data, etc.) for statistical purposes. 
            Additionally, the participants will also address the challenges related to data integration in support of evidence-based 
            policymaking and other user demands. Further, the Network secretariat will present an overview of the Network's report 
            to the 55th session of the Statistical Commission.
            </p>
            <p>The meeting will take place virtually from 7:00 am to 8:00 am, New York time, on 6 November 2023. The proposed discussion 
                questions will be circulated to participants in advance of the meeting.
            </p>
            
            <br>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
    
            <h4 class="events">
                <b>Monday, 6 November 2023 | 7:00 am - 8:00 am (New York Time) | Virtual Meeting </b><br> 
            </h4>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:30 am</h5>
                </div>
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Setting the stage and moderated discussion</h5>                   
                    <p><b>Moderator:</b> Andr&eacute; Loranger, Co-Chair of the United Nations Network of 
                            Economic Statisticians and Assistant Chief Statistician Statistics Canada</p>
                    <p>There are many challenges associated with accessing and utilizing alternative 
                        data sources for statistical purposes and NSOs around the world are at different stages on addressing them. The Network is facilitating 
                        this exchange among members to support knowledge transfer, cooperation and collaboration in this work towards better results 
                        for all practitioners.</p>
                    <ul style = "padding-left:16px; text-indent: -16px;">
                        <li><b>Moderated Discussion</b></li>
                        <li>&nbsp;&#9642;&nbsp; <a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov23/Discussion-questions-November-2023-Informal-Meeting_v4.pdf" target= "_blank" style="color:blue">Questions on using alternative data sources and data integration for statistical purposes</a></li>
                        <li>&nbsp;&#9642;&nbsp; <a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov23/Slide-supporting-questions_informal-meeting-6-Nov.pdf" target= "_blank" style="color:blue">Using alternative data sources and data integration for statistical purposes</a></li>
                    </ul>                
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:30 am - 7:50 am </h5>
                </div>            
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Overview of Network's report to 55<sup>th</sup> session of UNSC</h5>        
                    <ul style = "padding-left:17px; text-indent: -16px;">
                        <li><b>Discussion:</b></li>
                        <li>&nbsp;&#9642;&nbsp; <a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov23/Network-informal-meeting-overview-of-55th-UNSC-report-20231106-clean-v1.pdf" target= "_blank" style="color:blue" >Overview of report of United Nations Network of Economic Statisticians to 55th Statistical Commission</a></li>
                        <li ><b>Discussant:</b> Benson Sim, UNSD</li>
                    </ul>                   
                </div>
            </div>
            <br>
            <br> 
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:50 am - 8:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Concluding remarks</h5>                   
                    <p><b>Chair:</b> Aishath Shahuda Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</p>
                    <ul style = "padding-left:17px; text-indent: -16px;">
                        <li>&nbsp;&#9642;&nbsp; <a href="~/groups/NetEconStat/Meetings/InformalMeeting-Nov23/Network-informal-meeting-conclusions-20231106-clean-v0.pdf" target= "_blank" style="color:blue">Conclusions of Informal Meeting of the United Nations Network of Economic Statisticians</a></li>
                    </ul>
                </div>
            </div>
            <!--
            <div class="row" style="margin-bottom:10px;">                
                <div class="col-md-3">                
                </div>
                <div class="col-md-9" style="margin-top:-5px;">
                
                    <hr style ="height:2px;border-width:0;color:gray;background-color:gray">
                    <h5><b>Related Documentations</b></h5>        
                    <li>&#9642;<a href="~/groups/NetEconStat/Meetings/GDPSprint2023SixthMeeting/Background-Doucments-for-GDPsprint2023SixthMeeting.zip" style = "color:blue" target="_blank" > Background documentations </a>  <i class="fa fa-file-zip-o" aria-hidden="true" style ="color:red; margin-left:5px;"></i></li>
                    <li><a href="https://www.un.org/sites/un2.un.org/files/our-common-agenda-policy-brief-beyond-gross-domestic-product-en.pdf" target="_blank" >Our Common Agenda Policy Brief 4: Valuing What Counts: Framework to Progress Beyond Gross Domestic Product   <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Stone-SSDS-1974-450-Social-Indicators-E.pdf" target="_blank" >System of Social and Demographic Statistics (SSDS): Draft Guidelines on Social Indicators  <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i></li>
                    <li><a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Series-F_18E-Stone-System-of-Social-and-Demographic-Statistics.pdf" target="_blank" >Towards A System of Social and Demographic Statistics <i class="fa fa-file-pdf-o" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="https://unstats.un.org/unsd/nationalaccount/snaupdate/wstt.asp" target="_blank" >Wellbeing and Sustainability Task Team (WSTT)  <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="https://unstats.un.org/UNSDWebsite/statcom/session_54/documents/BG-3d-NetEcoStats-beyond%20GDP-E.pdf" target="_blank" >A Research Prospectus for an Integrated Statistical Framework for Inclusive and Sustainable Wellbeing  <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                    <li><a href="~/groups/NetEconStat/Meetings/GDPSprint2023FirstMeeting/Beyond-GDP-Sprint-meeting-1-June-2023-All-presentations.zip" target="_blank" >All presentations  <i class="fa fa-file-archive-o" aria-hidden="true" style ="color:red"></i></li>
                    <li>&#9642;<a href="https://youtu.be/_3wzLmS2MBI" target="_blank" > Meeting video  <i class="fa fa-youtube-play" aria-hidden="true" style ="color:red; margin-left:5px;"></i></li> 
                    <br>
                    <br>
                </div>
            </div>
            -->
        </div>
    <br>
    </div>
    

