
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Fifth Meeting of the United Nations Network of Economic Statisticians";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<ul class="list-inline benefits" style="margin-top:-20px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left:-10px;"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
            <li class="breadcrumb-item active" aria-current="page">Network Fifth Meeting</li>
        </ol>
    </nav> 
</ul>

<!--     CONTENT      ---->

<div class="content-section" style = "margin-top: 9px;" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="Network Fourth Meeting-December2023" src="~/groups/NetEconStat/img/Network-of-Economic-Statistician-5thA.png" class="img-rounded"> 
            @*<img alt="" src="~/assets/img/Network-of-Economic-Statistician-5thA.png" class="img-rounded">*@
        </div>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style="padding-top:13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>

<br>

<!-- Overview tab -->
<div class="tab-content">
    <div id="Overview" class="tab-pane fade in active">
        <p>
            The meeting will feature a keynote presentation on measuring the informal economy and how leveraging on the technical transformation brought on by 
            digitalization can support this work. Following the successful series of Beyond GDP sprint webinars organized by the Network in 2023, there will 
            be an overview of the key issues which emerged, as well as recommendations for moving forward. A session providing the participants the opportunity 
            to provide feedback on proposed topics for further work by the Network will round out this meeting.
        </p>
    </div>


    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
    @*    <div class="well well-sm" style="margin-top:-11px;">
            <ul class="list-unstyled" style="margin-left:7px;">        
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session6-Network-meeting-conclusions.pdf" target= "_blank" style="color:blue">Network meeting conclusions</a></li>                
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://youtu.be/OYD4TjgnRdg" target="_blank" style="color:blue">Network Fourth Meeting Video </a><i class="fa fa-youtube-play" aria-hidden="true" style ="color:red;padding-left:10px"></i></li>
            </ul>            
        </div>
    *@    

        <div class="margin-bottom:-30px;margion-top:-10px">
            <h4 class="events">
                <b> 29 May 2024 | 7:00 am - 9:00 am, New York time</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Welcome and objectives of the meeting</h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Aishath Shahuda, Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</li>                                           
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:10 am - 7:45 am </h5>
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Keynote presentation: Big data for official statistics: a perspective from prices statistics in Brazil</h5>                   
                    <ul style = "padding-left:16px; text-indent: -8px;">                                                         
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Presenter:</b><i> Vladimir Goncalves Miranda</i>, Planning Manager, Price Indices Coordination, Brazilian Institute of Geography and Statistics </li>
                    </ul>
                    
                    <p>The path towards the implementation of new data sources and techniques into the production of official statistics is not straightforward as it is influenced by factors such as the features of the source 
                        being incorporated, the application that it is aimed at, the requirements for integration with existing sources and routines, and development of new staff skills and IT infrastructure. The statistical 
                        community has been exploring and adopting the use of alternative data sources and data science techniques to improve the compilation of consumer price indices. This presentation will showcase some of 
                        the steps that the Brazilian Institute of Geography and Statistics has taken so far in using web scraping techniques to improve the compilation of price statistics. The presentation will also discuss 
                        related initiatives aiming to promote the use of Big Data for official statistics in the Latin American and Caribbean region. These initiatives  are among the activities of the UN Regional Hub for Big 
                        Data in Brazil.
                    </p>
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Discussion: 15 minutes</b></p>
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:45 am - 8:20 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Outcomes of the Beyond GDP Sprint 2023 - establishing an Expert Group</h5>
                    <p>This session will present the plan forward to establish an Expert Group tasked with the development of a Framework for 
                        Inclusion and Sustainable Well-Being as proposed by the Network and approved at the 55th session of the United Nations 
                        Statistical Commission. 
                    </p>
                    <ul class="list-unstyled">                                                         
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Presenter:</b><i> Richard Heys</i>, Deputy Chief Economist,  UK ONS</li>
                        @*<li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session3-Informal-Sector-Guatemala.pdf" target= "_blank" style="color:blue">Measurement of the informal sector</a></li>*@
                    </ul>
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Discussion (15 minutes)</b></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:20 am - 8:55 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Discussion on the implementation of the Network's work program for 2024 </h5>
                    <p>This session will provide the participants with an opportunity to provide comments on the approaches the Network will take in carrying out its work program for 2024, namely the two sprints on 
                        Housing and Data Strategy, as well as a potential event on the use of artificial intelligence  in statistical production. Of particular interest would be the proposal to produce, as concrete 
                        outcomes from each of the two sprints, a document that would be a primer on the topic, encapsulating what had been learned and which could serve as a tool for organizations working on developing 
                        a Data Strategy or a Housing statistical framework. 
                    </p>
                        <ul style = "padding-left:16px; text-indent: -8px;">
                            @*<li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session4-Progress-of-the-Network-of-Economic-Statisticians-on-Beyond-GDP-Heys.pdf" target= "_blank" style="color:blue">Progress of the Network of Economic Statisticians on Beyond GDP</a></li>*@
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>Presenter:</strong> <i>Andr&#233; Loranger</i>, Co-Chair of the United Nations Network of Economic Statisticians and Chief Statistician, Statistics Canada</li>
                        </ul>
                    <p><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>Discussion (15 minutes)</b></p>              
                </div>
            </div>   
            
            <br>

            
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:55 am - 9:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Concluding remarks </h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Aishath Shahuda, Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</li>                              
                    </ul>                                                       
                </div>
            </div>
        
                  
         
            <br>          
        </div>    
    </div>
</div>
    

