
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ";
    @*Page.Title = "Economic Statistics";
    Page.Subtitle = "Second Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

@*
<div align="center">
    <h2>United Nations Network of Economic Statisticians</h2>
</div>
*@
<!-- ======= CAROUSEL ==========-->
<div align="left">  
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Second Meeting</li>
  </ol>
</nav>
</div>
<br>

<div align="center">
    <h2>Second Organizational Sprint Meeting of the United Nations Network of Economic Statisticians</h2>
    <ul class="list-inline benefits">
        <li><i class="rounded-x fa fa-globe"></i> Virtual Meeting</li>
        <li><i class="rounded-x fa fa-calendar"></i> 24 November 2021</li>
    </ul>
</div>
<div class="content-section">
    <div class="carousel-inner">
        <div class="item active">
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
             <img alt="" src="~/groups/NetEconStat/img/SDG5_UN7904809_GN_0496_.jpg"> 
            @*<img alt="" src="~/img/SDG5_UN7904809_GN_0496_.jpg">*@
        </div>
    </div>
    @*<i class="fa fa-camera" aria-hidden="true"></i> Photo Attribution:
     "<a href="https://www.flickr.com/photos/wojtekgurak/16235874585/in/photolist-qJH6Sa-qrzZiZ-xhWhC5-P8pNZ3-xXoz1y-HE7QPu-SrZQGa-achm2w-JazWQh-yEohCR-ycPFUt-cD5eHm-P3e5UF-zwzueY-P6spHE-HYPaox-J8BpSM-Nxun29-sdAJTZ-8BwCGx-Nydsoo-6gxG4N-z7KcTM-o2MVhz-6SQb8-r5rDBo-kag7KT-qrzZk2-quo8p3-pQb6ka-Jqqak7-wTojUC-eWQYKt-DorEcN-7ngsF4-qqLmc9-qEguVw-suKrd7-KURjRe-qaXW3y-BDfaJA-wMeLc1-HghHSF-kJ4nwb-wQk4JM-4SN4ux-yEad8E-eX56UR-eX5622-eX53jg">Oslo Opera House</a>" by <a href="https://www.flickr.com/photos/wojtekgurak/">Wojtek Gurak</a> - Licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>*@
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<br>

<div class="tab-v1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>
    
  </ul>
</div>
<br>

<div class="tab-content">
<!-- Overview tab -->
    <div id="Overview" class="tab-pane fade in active">
            <p>
            The second meeting of the Organizational Sprint of the United Nations Network of Economic Statisticians (Network) aims to seek agreement on the terms of reference of the Network. 
            It also aims to initiate the discussion on the modalities of user consultations, including the country consultations through national, regional, and global user seminar/forums, 
            and the consultations with statistical bodies under the Statistical Commission and other statistical agencies such as Eurostat, IMF, OECD and the World Bank.
            </p>
            
            <br>

    </div>

<!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="margin-bottom-30"></div>
            <h4 class="events"><b>
                Wednesday, 24 November 2021: 7:00 am - 8:30 am</b>
            </h4>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:00 am - 7:10 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1: Introduction, welcome remarks and confirmation of the summary of the first meeting </h5>
                    <ul>
                        <li>Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada </li>
                        <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li><br>
                        
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                   <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:10 am - 7:30 am </h5>
                </div>
            
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2: Terms of reference of the Network </h5>
                        <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division</p>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>@*<b>2.1 </b>*@
                                    The written comments on the terms of reference will be presented and discussed. </li>
                                    <li><i><b>Presenter</b></i>: Ms. Daniela Ravindra</li>
                                    <li><i><b>Documentation</b></i>:<a href="https://unstats.un.org/unsd/statcom/groups/FOCG_Econ/UNSC_FOCG_Economic_Statistics_TOR.pdf" target="_blank"> Terms of reference for the Network<i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>
                                    <br>
                            @*
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>
                                    Terms of Reference for the Network <br> 
                                    Based on the FOCG report, a draft Terms of Reference has been prepared to help shape discussion. This will be presented 
                                    and discussed.</li><br>                              
                                    
                                    <li><i>Presenter</i>: Ms. Daniela Ravindra, Statistics Canada </li>
                                    <li>Documentation:<a href="https://unstats.un.org/unsd/statcom/groups/FOCG_Econ/UNSC_FOCG_Economic_Statistics_TOR.pdf" target="_blank"> Terms of reference for the Network <i class="fa fa-file-pdf-o fa-fw" style="font-size:12px;color:red" aria-hidden="true"></i></a></li>
                                    <br>
                                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><b>2.3 </b>
                                    Introduction to the Network task teams <br> 
                                    Thematic TTs were formed which will have their sprints in early 2022.</li><br>         
                                    
                                    <li><i>Presenters:</i> Presentation 1 by United Kingdom<br>  
                                        &emsp;&emsp;&emsp;&emsp;&emsp; Presentation 2 by the Netherland</li> 
                            *@
                        </ul>                                                       
                </div>
            </div>

            <br>  
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 7:30 am - 8:10 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3: User consultation </h5>
                        <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division </p>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>This session will initiate the discussion on the modalities of user consultations, including the country 
                                consultations through national, regional, and global user seminar/forums, and the consultations with statistical bodies under the Statistical Commission and other statistical 
                                agencies such as Eurostat, IMF, OECD and the World Bank  </li> 
                            @*
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Input for the UNSC report </li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Discuss development of a logo/brand for the Network  </li><br>
                            *@
                            
                            <li><i><b>Presenter</b></i>: Mr. Greg Peterson, Mr. Michael Stanger</li>
                            
                            
                        </ul>                                                                      
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:10 am - 8:20 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4: Branding/logo for the Network  </h5>
                    <p>Chair: Mr. Greg Peterson, Assistant Chief Statistician of Statistics Canada</p>
                        <ul> 
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>This session will propose to develop a branding/communications strategy for the Network. </li> 
                        @*
                            <li>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>
                        *@
                        </ul>
                                                                       
                </div>
            </div>   
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o"></i> 8:10 am - 8:20 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5: Next steps and closing remarks  </h5>
                    <p>Chair: Mr. Stefan Schweinfest, United Nations Statistics Division</p>
                        <ul> 
                             
                        
                            <li></li>
                    
                        </ul>
                                                                       
                </div>
                <br>
                <br>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-9">
                    <br>
                    <br>
                    <h5><b>Related Documentations</b></h5>
                        <ul>
                            
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/SecondMeeting/Agenda_20211124.pdf" target="_blank" >Agenda<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/SecondMeeting/NetworkingOutreach_Nov.24.pdf" target="_blank" >Networking Outreach<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/SecondMeeting/Updated Terms of reference for the Network of Economic.pdf" target="_blank" >Updated Terms of reference for the Network of Economic<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/SecondMeeting/User consult.pdf" target="_blank" >User consult<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/SecondMeeting/Org sprint-2nd meeting summary report-clean-v0.pdf" target="_blank" >2nd meeting summary report<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                            <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/SecondMeeting/Summary on Network.pdf" target="_blank" >Summary on Network<i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> </a></li>
                                        
                        </ul>
                </div>
            </div> 
            <br>            
        </div>          
<br>   
</div>
