
@{
    Layout = "_SiteLayout.cshtml";
    Page.Sidebar = "Net_Econ_Meeting_1U";
    Page.Title = "Third Webinar of Data Strategy Sprint";
    @*Page.Subtitle = "First Organizational Sprint Meeting of the United Nations Network of Economic Statisticians";
    Page.SubtitleLink ="~/index.cshtml";*@
  
}

<ul class="list-inline benefits" style="margin-top:-20px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left:-10px;"><a href="https://unstats.un.org/unsd/statcom/groups/NetEconStat/"><i class="fa fa-globe" aria-hidden="true"></i><b> Network of Econonic Statisticians</b></a></li>
            <li class="breadcrumb-item active" aria-current="page">Third Webinar of Data Strategy Sprint</li>
        </ol>
    </nav> 
</ul>

<!--     CONTENT      ---->

<div class="content-section" style = "margin-top: 9px;" >
    <div class="carousel-inner">
        <div class="item active" >
            @*<a href="@Href(@Page.SusubtitleLink)"><img alt="" src=@Href("~/assets/img/city-groups/oslo.jpg")></a>*@
            <img alt="Third Webinar of Data Access Sprint 2024" src="~/groups/NetEconStat/img/Third-Webinar-of-Data-Strategy-Sprint.png" class="img-rounded">
            @*<img alt="" src="~/assets/img/Third-Webinar-of-Data-Strategy-Sprint.png" class="img-rounded">*@ 
        </div>
    </div>
</div>
<br>


<!-- ======= CAROUSEL ==========-->

<div class="tab-v1" style="padding-top:13px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Overview"><span class="tab-headings">Overview</span></a></li>
    <li><a data-toggle="tab" href="#Agenda"><span class="tab-headings">Agenda</span></a></li>    
  </ul>
</div>

<br>

<!-- Overview tab -->
<div class="tab-content">
    <div id="Overview" class="tab-pane fade in active">
        <p>Data is a team sport, and we are better together, so we should look to each other for inspiration and support. The ecosystem evolves so fast that there is a necessity 
            to borrow from wherever possible we can to advance our own data strategy and data governance goals. We should be empowered to do that! In that vein, we will discuss 
            the idea of developing a Primer - a jointly created/resourced document that would provide users with a 'how to' develop or improve their own national data strategy. 
            The Primer could include:
        </p>         
            <ul style = "padding-left:6px; text-indent: -9px;">
                <li> &#8226;&nbsp;A framework for a successful data strategy</li> 
                <li> &#8226;&nbsp;Implementation and monitoring strategies</li> 
                <li> &#8226;&nbsp;Examples of data strategies (from multiple contexts - federal/national, different data maturities, different states of development, etc.)</li>
                <li> &#8226;&nbsp;Glossary of commonly used terms such as data governance, data stewardship, data curation, data owner, data domain, etc.</li>
            </ul>
            
    </div>
    <div>
        <hr>
    </div>

@*
    <!-- Agenda tab -->
    <div id="Agenda" class="tab-pane fade in">
        <div class="well">
            <ul class="list-unstyled" style=margin-left:7px>        
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session6-Network-meeting-conclusions.pdf" target= "_blank" style="color:blue">Network meeting conclusions</a></li>                
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><a href="https://youtu.be/OYD4TjgnRdg" target="_blank" style="color:blue">Network Fourth Meeting Video </a><i class="fa fa-youtube-play" aria-hidden="true" style ="color:red;padding-left:10px"></i></li>
            </ul>            
        </div>
        <br>

        <div class="margin-bottom-30">
            <h4 class="events">
                <b> 6 December 2023 | 7:00 am - 9:00 am, New York time</b><br> 
            </h4>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:00 am - 7:05 am</h5>
                </div>

                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 1| Opening remarks</h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Mr. Stefan Schweinfest, Director of United Nations Statistics Division</li>                                           
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:05 am - 7:10 am </h5>
                </div>
             
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 2| Objectives of the meeting</h5>                   
                    <ul style = "padding-left:16px; text-indent: -8px;">                                                         
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Aishath Shahuda, Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</li>
                    </ul>
                </div>
            </div>

            <br> 

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:10 am - 7:45 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 3| Measuring Informal Economy in Guatemala</h5>
                    <p>The informal economy is a crucial economic driver in the regions, with digitalization transforming it by leaps and bounds. Leveraging the technological underpinnings 
                        (big data generated) of this transformation to measure e-commerce activities in the informal economy, is of great importance to the regions.
                    </p>
                    <ul class="list-unstyled">                                                         
                        <li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session3-Informal-Sector-Guatemala.pdf" target= "_blank" style="color:blue">Measurement of the informal sector</a></li>
                        <li><b>Presenter:</b><i> Stefani Mar&iacute;a Villeda Guerra, Economic Analyst, Department of Macroeconomic Statistics, Bank of Guatemala</i></li>
                    </ul>
                    <p><b>Discussion (15 minutes)</b></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 7:45 am - 8:20 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 4| Overview of Outcomes of the Beyond GDP Sprint 2023 and Proposed Next Steps </h5>
                    <p>This session will run through the key issues which emerged from the Beyond GDP Sprint 2023, and outline the Network's recommendations, including the 
                        formation of a multi-disciplinary group comprising of experts from the social and demographic statistics, national accounts, environmental-economic 
                        accounting, environment statistics and geospatial communities, academia and, where appropriate, the private sector, to explore how to take forward 
                        the recommendations.
                    </p>
                        <ul class="list-unstyled">
                            <li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session4-Progress-of-the-Network-of-Economic-Statisticians-on-Beyond-GDP-Heys.pdf" target= "_blank" style="color:blue">Progress of the Network of Economic Statisticians on Beyond GDP</a></li>
                            <li><strong>Presenter:</strong> <i>Richard Heys, UK ONS and Ivo Havinga, Consultant</i></li>
                        </ul>
                    <p><b>Discussion (15 minutes)</b></p>              
                </div>
            </div>   
            
            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:20 am - 8:55 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 5| Discussion on proposed topics for further work by the Network  </h5>
                    <p>This session will provide participants with an opportunity to provide comments on two proposals of work that the Network would like to pursue in the coming year. Mr. Hadi Susanto will briefly 
                        speak about the idea of exploring, in collaboration with the Data Science Leaders Network, the potential of employing AI in statistical work. Mr. Andr&eacute; Loranger will put forth the proposal 
                        to organize some events that will allow national statistical offices to share their ideas on successful data strategies. This idea has emerged from a recent Network Informal meeting where 
                        participants showed interest in learning more about each other's experience in this area. 
                    </p>
                    <p>These short introductions of the proposals will be followed by a fulsome discussion with Network members, to seek their comments and suggestions on whether the Network should pursue the work 
                        and if so, in what way.
                    </p>
                    <ul class="list-unstyled">
                        @*<li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Proposed process improvements  </b></li>              
                        <li><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session5-proposal-for-new-topics-Loranger.pdf" target= "_blank" style="color:blue">Proposals for new UNNES topics/sprints</a></li>
                        <li><strong>Presenter:</strong> <i>Andr&eacute; Loranger, Statistics Canada and Co-Chair of the United Nations Network of Economic Statisticians</i></li>               
                    </ul>
                    <ul class="list-unstyled">
                        @*<li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i> <b>Proposed process improvements  </b></li>             
                        <li ><strong>Presentation:</strong> <a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session5-The-Potential-of-Utilizing-AI-in-Statistical-Works-Susanto.pdf" target= "_blank" style="color:blue" >Improving the Network's Communication and Outreach Activities</a> </li>       
                        <li><strong>Presenter:</strong> <i>Hadi Susanto, Statistics Indonesia</i></li>               
                    </ul>
                </div>
            </div> 

            <br>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="events-time"><i class="fa fa-clock-o" style = "font-size:18px;color:red"></i> 8:55 am - 9:00 am </h5>
                </div>
                
                <div class="col-md-9">
                    <h5 style="font-weight:bold">Session 6| Concluding remarks </h5>
                    <ul style = "padding-left:16px; text-indent: -8px;">
                        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>Aishath Shahuda, Co-Chair of the United Nations Network of Economic Statisticians and Deputy Chief Statistician Maldives Bureau of Statistics</li>   
                           
                    </ul>                                                       
                </div>
            </div>
        
            <div class="row" style="margin-bottom:10px;">                
                <div class="col-md-3">                
                </div>
                <div class="col-md-9"; style="margin-top:-5px;">                
                    <hr style ="height:2px;border-width:0;color:gray;background-color:gray">
                    <h5><b>Others</b></h5>        
                <!--<li><a href="https://escoe-website.s3.amazonaws.com/wp-content/uploads/2022/05/12103827/ESCoE-DP-2022-12.pdf" target="_blank" >Measuring Human Capital in the UK Economic Accounts: An experimental satellite account   <i class="fa fa-link" aria-hidden="true" style ="color:red"></i> </a></li>
                --> 
                    <ul style = "padding-left:16px; text-indent: -8px;" class="un-styled">
                        <li>&#x2022;&nbsp;&nbsp;<a href="~/groups/NetEconStat/Meetings/NetworkFourthMeeting/Session6-Network-meeting-conclusions.pdf" target= "_blank" style="color:blue">Network meeting conclusions</a></li>  
                        <li>&#x2022;&nbsp;&nbsp;<a href="https://youtu.be/OYD4TjgnRdg" target="_blank" style="color:blue">Network Fourth Meeting Video </a><i class="fa fa-youtube-play" aria-hidden="true" style ="color:red;padding-left:10px"></i></li>
                    </ul> 
                </div>    
            </div>       
                    <br>
                    <br>
         
            <br>          
        </div>    
    </div>
*@
</div>
    

