<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
    </appSettings>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <!--IE10 renders in IE7 mode. How to force Standards mode? http://stackoverflow.com/questions/13284083/ie10-renders-in-ie7-mode-how-to-force-standards-mode-->
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=edge" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="commission.htm" />
            </files>
        </defaultDocument>
        <!-- Set mime types for web fonts in IIS  http://codingstill.com/2013/01/set-mime-types-for-web-fonts-in-iis/ -->
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
        </staticContent>
    </system.webServer>
</configuration>
