/*google material */

.material-icons.md-18 { font-size: 18px; color: ##e55b5b;}
.material-icons.md-24 { font-size: 24px; color: ##e55b5b;}
.material-icons.md-36 { font-size: 36px; color: ##e55b5b;}
.material-icons.md-48 { font-size: 48px; color: ##e55b5b;}
